// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

#mediaTooltip,
#calTooltip,
#shareIconTooltip,
#likeTooltip,
#lightbulbTooltip,
#dislikeTooltip {
  background-color: $primary-dark-blue;
  color: $neutral-white;
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-family: $primary-font;
  font-size: .85rem;
  line-height: 1.25rem;

  &::after {
    border: $primary-button-blue transparent transparent transparent;
  }
}

.top-picks-page {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem;

  @include tablet {
    padding: 2.15rem;
    margin-bottom: 1.5rem;
  }

  @include desktop {
    padding: 1.25rem;
    margin-left: 2.15rem;
    margin-right: 2.15rem;
  }

  @include large-desktop {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  &__loading-container {
    @include block-item(auto, 30vh);
    display: flex;
    background-color: $frosted-glass;
    border: .3125rem solid $neutral-white;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;  
    box-shadow: $shadow-primary;

    @include tablet {
      @include block-item(100%, 35vh);
    }

    @include desktop {
      width: 55%;
    }
  }
  
  &__loading-svg {
    @include block-item(15rem, auto);
    margin-bottom: 1.5rem; 

    @include tablet {
      width: 31.25rem;  
    }
  }

  &__text--center {
    color: $primary-button-dark-blue;
    font-family: $primary-font;
    font-weight: bold;
    background: $neutral-white;
    padding: .5rem;
    border-radius: .5rem;
    border: .1875rem solid $primary-very-light-blue;
    box-shadow: $shadow-primary;
    font-size: .85rem;
    line-height: 1.25rem;
    animation: bounce 3s infinite ease-in-out, colorShift 3s infinite ease-in-out;

    @include tablet {
      margin-bottom: .5rem;
    }
  }

  @keyframes bounce {
      0%, 100% {
          transform: scale(1);
          box-shadow: $shadow-primary;
      }
      50% {
          transform: scale(1.1);
          box-shadow: 0 .5rem 1.5rem rgba($neutral-black, .2);
      }
  }

  @keyframes colorShift {
      0% {
          border-color: $primary-very-light-blue;
          background: $neutral-white;
      }
      50% {
          border-color: $primary-medium-blue;
          background: lighten($primary-light-blue, 15%);
      }
      100% {
          border-color: $primary-very-light-blue;
          background: $neutral-white;
      }
  }

  &__copy {
    color: $primary-medium-blue;
    font-family: $primary-font;
    font-weight: normal;
    font-size: .85rem;
    line-height: 1.15rem;

    @include tablet {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }

    @include desktop {
      line-height: 1.75rem;
      font-size: 1.25rem;
    }
  }

  &__header-container {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
    padding: .75rem 1rem;
    border: .3125rem solid $frosted-glass;
    border-radius: .9375rem;
    box-shadow: 0 .5rem 1rem rgba($neutral-black, .1);

    @include tablet {
      width: 80%;
      padding: 1rem 2rem;
      margin-bottom: 1.75rem;
    }

    @include desktop {      
      width: 100%;
    }
  }

  &__title {
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: .25rem;
    margin-bottom: 1.25rem;
    color: $primary-medium-blue;
    padding: 1rem;
    width: 100%;
    border-radius: .75rem;
    box-shadow: .3125rem .3125rem .9375rem rgba($neutral-black, .2), -.3125rem -3125rem .9375rem rgba(255, 255, 255, .1);
    border: .3125rem solid $neutral-white;
    position: relative;
    overflow: hidden;
    line-height: 1.75rem;
    background: linear-gradient(145deg, $primary-very-light-blue, lighten($primary-pale-blue, 10%));
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: $shadow-primary;

    &::before {
      @include block-item(100%, 100%);
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 0) 100%);
      transform: skewX(-25deg);
      transition: left 1s;
    }

    &:hover::before {
      left: 100%;
      transition: left 1s;
    }

    @include tablet {
      gap: .5rem;
      font-size: 2.5rem;
      line-height: 2.5rem;
    }

    @include large-desktop {
      margin-bottom: 2.2rem;
    }
  }

  &__content {
    border: .125rem solid $frosted-glass;
    box-shadow: $shadow-primary;
    border-radius: 1.15rem;
    padding: 1rem .5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include tablet {
      border: .625rem solid $primary-light-blue;
      padding: 1rem;
    }
  }

  &__load-descript {
    color: $primary-dark-blue;
    transition: transform .3s ease-in-out;

    &:hover {
      color: $primary-button-blue;
      transform: scale(1.125);
    }

    &:active {
      color: $primary-medium-blue;
      transform: scale(.9);
    }
  }

  &__loading-container,
  &__no-recommendations-container {
    @include block-item(95%, 32vh);
    display: flex;
    background-color: $frosted-glass;
    border: .3125rem solid $neutral-white;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;  
    box-shadow: $shadow-primary;

    @include tablet {
      @include block-item(100%, 35vh);
    }

    @include desktop {
      width: 55%;
    }
  }

  &__svg-text{
    color: $primary-button-dark-blue;
    font-family: $primary-font;
    font-weight: bold;
    background: $neutral-white;
    padding: .5rem;
    border-radius: .5rem;
    border: .1875rem solid $primary-very-light-blue;
    box-shadow: $shadow-primary;
    font-size: .85rem;
    line-height: 1.25rem;

    @include tablet {
      margin-bottom: .5rem;
    }
  }
  
  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.75rem;
    }

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
      gap: 2.5rem;
    }

    @include large-desktop {
      gap: 2.75rem;
    }
  }

  &__card {
    background: rgba(255, 255, 255, .7);
    border-radius: .9375rem;
    padding: 1.25rem;
    width: 100%;
    max-width: 16.5rem;
    height: 30rem;
    text-align: center;
    transition: transform .7s;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .5s ease-in-out, background-color .5s ease-in-out, box-shadow .5s ease-in-out;

    &:hover {
      border: .2188rem solid $frosted-glass;
      transform: scale(1.025);
      box-shadow: $shadow-tertiary;
      background-color: rgba($primary-very-light-blue, .8);
    }

    &:active {
      background-color: $primary-very-light-blue;
      box-shadow: 0 0 .25rem $primary-dark-blue;
    }

    @include tablet {
      max-width: 17.5rem;
    }
  }

  &__poster-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 8rem;
    border: .0625rem solid $frosted-glass;
    height: auto;
    border-radius: .625rem;
    margin-bottom: .625rem;
    box-shadow: $shadow-quaternary;
    overflow: hidden;

    &:hover {
      border: .2188rem solid $primary-button-blue;
    }
  }

  &__poster {
    @include block-item(100%, auto);
    border-radius: .625rem;
    box-shadow: $shadow-quaternary;
  }

  &__play-overlay {
    @include block-item(100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($neutral-black, .5);
    opacity: 0;
    transition: opacity .3s ease;

    &:hover {
      opacity: 1;
    }
  }

  &__play-icon {
    color: $neutral-white;
    font-size: 2rem;
  }

  &__subtitle {
    font-size: 1.125rem;
    margin-bottom: .625rem;
    line-height: 1.35rem;
    color: $neutral-light-grey;
    background-color: $primary-gradient-blue;
    box-shadow: $shadow-primary;
    padding: .5rem;
    border-radius: .75rem;
  }

  &__text {
    font-size: .875rem;
    margin-bottom: .625rem;
    color: $primary-medium-blue;
    line-height: 1.15rem;
    font-weight: bold;
    font-family: $primary-font;
  }

  &__media-icon {
    color: $primary-button-blue;
    font-size: 1rem;
    margin-bottom: .625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }

  &__cal-icon {
    @include block-item(.915rem, auto);
  }

  &__search-icon {
    @include block-item(.95rem, auto);
  }

  &__media-icon-link {
    @include block-item(1.175rem, auto);
    display: flex;
    justify-content: center;
  }

  &__lightbulb-icon,
  &__media-icon-link,
  &__search-icon,
  &__cal-icon,
  &__share-icon,
  &__like-icon,
  &__dislike-icon {
    color: $primary-button-blue;
    @include block-item(auto, 1rem);
    transition: transform .3s ease-in-out;

    &:hover{
        color: $primary-button-dark-blue;
        box-shadow: $shadow-primary;
        background-color: $neutral-white;
        border-radius: .25rem;
        border: .0625rem solid $primary-medium-blue;
        padding: .1rem;
        transform: scale(1.1);
    }

    &:active {
        color: $primary-pale-blue;
        box-shadow: none;
        background-color: $primary-dark-blue;
        transform: scale(.9);
    }
  }

  &__description {
    color: $primary-dark-blue;
    line-height: 1.25rem;
    font-size: .875rem;
    max-height: 3.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding-right: 1.25rem;

    &--expanded {
      max-height: none;
      overflow: auto;
    }

    &::-webkit-scrollbar {
      width: .375rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary-button-blue;
      border-radius: .625rem;
    }

    &::-webkit-scrollbar-track {
      background: $frosted-glass;
    }

    &::after {
      content: '...';
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0 .625rem;
      display: block;
    }

    &--expanded::after {
      content: '';
    }
  }

  &__more-button {
    background: none;
    border: none;
    color: $primary-dark-blue;
    font-size: .875rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__fetch-more,
  &__toggle {
    margin-top: 1rem;
    color: $primary-dark-blue;
    border: .1875rem solid $frosted-glass;
    border-radius: .5rem;
    padding: .625rem;
    font-size: .75rem;
    font-family: $primary-font;
    line-height: .75rem;
    width: 5.25rem;
    font-weight: bold;
    transition: background .3s ease, transform .3s ease, box-shadow .3s ease;
    box-shadow: 0 .25rem .375rem rgba($neutral-black, .1);

    &:hover {
      transform: scale(1.05);
      background: linear-gradient(45deg, $primary-light-blue, $primary-pale-blue);
      box-shadow: 0 .375rem .5rem rgba($neutral-black, .15);
      font-weight: normal;
      margin-left: .5rem;
    }

    &:active {
        background: linear-gradient(45deg, $neutral-white, $primary-light-blue);
        color: $primary-medium-blue;
        font-weight: bold;
        transform: scale(.95);
        box-shadow: 0 .125rem .25rem rgba($neutral-black, .2);
    }

    &:focus {
      outline: none;
      box-shadow: $shadow-septenary;
    }

    @include tablet {
      @include block-item(10rem, 3rem);
      padding: .625rem 1.25rem;
      font-size: .85rem;
    }
  }

  &__fetch-more {
    margin-top: 1rem;
    background: linear-gradient(45deg, $neutral-white, $primary-very-light-blue);
  }

  &__toggle {
    margin-top: 1rem;
    background: linear-gradient(45deg, $primary-very-light-blue, $neutral-white);
  }

  &__modal {
    @include block-item(100%, 100%);
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($neutral-black, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &-content {
      background: rgba(255, 255, 255, .7);
      backdrop-filter: blur(.625rem);
      border-radius: .9375rem;
      padding: 1.25rem;
      box-shadow: 0 .25rem .75rem rgba($neutral-black, .2);
      position: relative;

      @media (max-width: 767px) {
        @include block-item(90%, auto);
        
        iframe {
          @include block-item(100%, auto);
        }
      }

      &-close {
        position: absolute;
        top: .5rem;
        right: .5rem;
        background: none;
        border: none;
        font-size: 1.25rem;
        color: $neutral-black;
        transition: transform .3s ease-in-out;

        &:hover {
          color: $primary-dark-blue;
          transform: scale(1.125);
        }

        &:active {
          color: $primary-medium-blue;
          transform: scale(.9);
        }
      }
    }
  }

  &__calendar-modal {
    @include block-item(100%, 100%);
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: rgba($neutral-black, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: -1rem;
    z-index: 10002;
  }

  &__calendar-close-btn {
    @include block-item(1.75rem, 1.75rem);
    top: 1rem; 
    transform: translateX(-50%);
    background-color: transparent;
    color: $neutral-white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .0625rem solid $neutral-white;
    padding: .25rem;
    font-size: 1rem;
    box-shadow: $shadow-senary;
    z-index: 1001;
    border-radius: .2rem;
    transition: all .3s ease; 

    &:hover {
      background-color: $primary-dark-blue;
      color: $neutral-white;
      padding: 1rem; 
      border-radius: .5rem; 
      transform: translateX(-50%) scale(1.25); 
    }

    &:active {
      transform: translateX(-50%) scale(1);
      box-shadow: $shadow-senary;
    }
  }

  &__close-icon {
    @include block-item(.75rem, .75rem);
  }

  &__action-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include tablet {
      margin-top: 1.5rem;
      gap: 1rem;
    }
  }
}
