// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.calendar-page {
  padding: 20px;
  background-color: $primary-pale-blue;

  &__hero {
    background-image: url(../../assets/images/nextstream-bg.jpg);
    background-size: cover;
    padding: 40px 20px;
    text-align: center;
    background: $frosted-glass;
    border-radius: 8px;
    box-shadow: $shadow-secondary;
  }

  &__hero-text {
    background: $primary-dark-blue-gradient;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: $shadow-senary;
    border: 1px solid $neutral-light-bg;
  }

  &__subtitle {
    font-size: 1rem;
    font-family: $primary-font;
    color: $neutral-light-grey;
    margin-top: .5rem;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__title {
    font-size: 1.75rem;
    color: $neutral-white;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow-primary;
    border-radius: 1rem;
    border: 1px solid $neutral-light-bg;

    @include tablet {
      font-size: 2.5rem;
    }
  }
}

.fc-daygrid-dot-event {
  display: block;
}