// Import partials
@use "../../../../styles/partials/colors" as *;
@use "../../../../styles/partials/fonts" as *;
@use "../../../../styles/partials/mixins" as *;
@use "../../../../styles/global.scss" as *;

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  flex-direction: column;
  width: 100%;
  margin-top: .025rem;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__features-container,
    &__new-releases {
      width: 100%;
      padding-bottom: 4rem;
      box-shadow: $shadow-quaternary;
    }

    &__new-releases {
      background-color: $primary-pale-blue;
      box-shadow: $shadow-primary;
      height: 58.5rem;
      border: 2px solid $primary-very-light-blue;
    }

    &__pagination-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      width: 12.6875rem;
    }

    &__paginationn, &__next {
      @include block-item (2.6875rem, 2.6875rem);
      cursor: pointer;
    }

    &__page-wrapper1, &__page-wrapper2 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.9375rem;
      height: 1.9375rem;
      border-radius: 0.5rem;
      margin: 0 0.5rem;
      box-shadow: $shadow-primary;
    }

    &__page-wrapper1 {
      background-color: $base-darker-blue;
      border: 0.0625rem solid $primary-light-blue;
    }

    &__page-wrapper2 {
      background-color: $primary-very-light-blue;
      border: 0.0625rem solid $primary-pale-blue;
    }

    &__page1, &__page2 {
      font-family: $primary-font;
      font-size: 0.875rem;
      font-weight: 500;
      white-space: nowrap;
    }

    &__page1 {
      color: $neutral-white;
    }

    &__page2 {
      color: $primary-medium-blue;
    }

    &__card-media-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
    }

    &__card-media {
      display: flex;
      gap: 2rem;
    }

    &__card1, &__card2, &__card3 {
      background: $primary-darker-blue-gradient;
      border-radius: 1.5625rem;
      box-shadow: $shadow-tertiary;
      width: 20.1875rem;
      height: 29.125rem;
      overflow: hidden;
    }

    &__poster1, &__poster2, &__poster3 {
      width: 100%;
      height: auto;
    }

    &__icon-bg-video, &__icon-bg-video2, &__icon-bg-tv {
      width: 2.3125rem;
      height: 2.3125rem;
      background-color: $base-darker-blue;
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__video-icon, &__video-icon2, &__tv-icon {
      width: 1.5625rem;
      height: auto;
    }

    &__new-releases-header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 2rem;
    }

    &__new-releases-subtitle {
      color: $primary-dark-blue;
      font-family: $primary-font;
      font-size: 1.125rem;
      text-align: center;
    }

    &__label-header-new-releases {
      color: $primary-dark-blue;
      font-family: $primary-font;
      font-size: 1.875rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    &__features-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &__label-header-container {
      margin-left: 8.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary-very-light-blue;
      box-shadow: $shadow-primary;
      border-bottom-left-radius: .5rem;
      border-bottom-right-radius: .5rem;
      padding: 1rem 2rem;
      margin-bottom: 2rem;
    }

    &__label-features {
      color: $primary-dark-blue;
      font-size: 1.875rem;
      font-family: $primary-font;
      font-weight: 600;
      text-align: center;
    }

    &__feature {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $neutral-white;
      box-shadow: 0 1.75rem 5.25rem rgba($neutral-black, 0.18);
      border-radius: 0.5rem;
      text-align: center;
    }

    &__feature__icon-bg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 9.6875rem;
      height: 9.6875rem;
      background: $primary-icon-bg;
      box-shadow: $shadow-primary;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }

    &__feature__search-icon, &__feature__favourites-icon, &__feature__calendar-icon {
      width: 5.4375rem;
      height: auto;
    }

    &__feature__label {
      color: $primary-medium-blue;
      font-size: 1.25rem;
      font-family: $secondary-font;
      font-weight: 500;
    }

    &__label-headers-container {
      background-color: $primary-very-light-blue;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      box-shadow: $shadow-quinary;
      width: 21.5rem;
    }

    &__label-header-new-releases {
      color: $primary-dark-blue;
      font-family: $primary-font;
      font-size: 1.875rem;
      font-weight: 700;
      letter-spacing: 0;
      line-height: normal;
      text-align: center;
      width: 16.8125rem;
    }

    &__new-releases-subtitle {
      @include block-item(44.6875rem, 3.375rem);
      color: $primary-dark-blue;
      font-family: $primary-font;
      font-size: 1.125rem;
      font-weight: 400;
      letter-spacing: 0;
      line-height: normal;
    }

    &__label-header-container {
      @include block-item(17.625rem, 4.9375rem);
      width: 17.625rem;
      height: 4.9375rem;
      border: 2px solid $neutral-white;
      box-shadow: $shadow-primary;
      border-bottom-left-radius: .5rem;
      border-bottom-right-radius: .5rem;
    }

    &__label-header-background {
      @include block-item(100%, 100%);
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem; 
    }

    &__label-features {
      @include block-item(13.875rem, 2.1875rem);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: $primary-dark-blue;
      font-size: 1.875rem;
      font-family: $primary-font;
      font-weight: 600;
      word-wrap: break-word;
    }

    &__card-features {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 4rem;

      &__feature {
        width: 16.875rem;
        height: 12.4375rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--2 {
          width: 20.125rem;
        }

        &__icon-bg {
          width: 9.6875rem;
          height: 9.6875rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $primary-icon-bg;
          box-shadow: $shadow-primary;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
        }

        &__favourites-icon,
        &__calendar-icon,
        &__search-icon {
          width: 5.4375rem;
          height: 4.625rem;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
        }

        &__label {
          width: 16.875rem;
          height: 5.5625rem;
          background: $neutral-white;
          box-shadow: 0 1.75rem 5.25rem rgba($neutral-black, 0.18);
          border-radius: 0.5rem;
          text-align: center;
          color: $primary-medium-blue;
          font-size: 1.25rem;
          font-family: $secondary-font;
          font-weight: 500;
          word-wrap: break-word;
          padding-top: 2.0625rem;

          &--schedule-planner {
            left: 0;
          }

          &--custom-recommendations {
            width: 20.125rem;
            left: 0;
          }

          &--stream-locator {
            left: 0;
          }
        }
      }
    }
  }
