// Import partials
@use "../../../../styles/partials/colors" as *;
@use "../../../../styles/partials/fonts" as *;
@use "../../../../styles/partials/mixins" as *;
@use "../../../../styles/global.scss" as *;

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-top: .025rem;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__new-releases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
  }

  &__new-releases-subtitle-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;

    @include tablet {
      flex-direction: row;
      align-items: center;
    }
  }

  &__features-container,
  &__new-releases {
    width: 100%;
    box-shadow: $shadow-primary;
  }

  &__pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: 12.6875rem;
    gap: 1rem;

    @include tablet {
      justify-content: space-between;
    }

    .content__page-nav-wrapper-next,
    .content__page-nav-wrapper-previous {
      @include block-item(2.6rem, 2.6rem);
      @include hover-raise-effect-nav;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: .85rem;
      box-shadow: $shadow-quaternary;
      cursor: pointer;
      transition: transform .2s ease, background-color .2s ease, border-color .2s ease;

      &:active {
        transform: scale(.95);
      }

      background-color: $base-darker-blue;
      border: .15rem solid $primary-light-blue;

      .content__previous-icon,
      .content__next-icon {
        @include block-item(1.1rem, 1.1rem);
      }
    }

    .content__nav-circles {
      display: flex;
      gap: .5rem;

      .content__nav-circle {
        @include block-item(.75rem, .75rem);
        background: rgba($neutral-white, .7);
        border: .0938rem solid $primary-very-light-blue;
        backdrop-filter: blur(.5rem);
        border-radius: 50%;
        cursor: pointer;
        transition: transform .3s ease, background-color .3s, box-shadow .3s;
        box-shadow: $shadow-quaternary;

        &:hover {
          transform: scale(1.1);
          background-color: rgba($primary-light-blue, .8);
          box-shadow: $shadow-tertiary;
        }

        &--active {
          background-color: $primary-medium-blue;
          box-shadow: 0 0 .25rem $primary-dark-blue;
        }

        @include tablet {
          @include block-item(1rem, 1rem);
        }
      }
    }
  }

  &__card-features__feature__label--stream-locator,
  &__card-features__feature__label--schedule-planner,
  &__card-features__feature__label--custom-recommendations {
    border: none;
  }

  &__card-media-container {
    overflow: hidden;
    @include block-item(auto, 100%);
    @include pulsate-animation;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($primary-light-blue, .3);
    backdrop-filter: blur(1.25rem);
    border: .0625rem solid rgba(255, 255, 255, .4);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 .25rem 1.875rem rgba(0, 0, 0, .1);

    @include large-mobile {
      width: 20rem;
    }

    @include tablet {
      display: flex;
      @include block-item(40.3244rem, 20.625rem);

      @include desktop {
        @include block-item(64.8869rem, 31.25rem);
      
        @include large-desktop {
          @include block-item(70rem, 31.25rem);
        }
      }
    }
  }

  &__card-media {
    display: flex;
    align-items: center;
    width: 60%;
    height: auto;
    gap: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform .5s ease-in-out;

    @include large-mobile {
      flex-direction: row;
      gap: .25rem;
    }
      
    @include tablet {
        gap: 1rem;
        flex-direction: row;

        @include desktop {
          gap: 1.15rem;

          @include large-desktop {
            gap: 2.25rem;
          }
        }
    }
  }

  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideOutToRight {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  @keyframes slideOutToLeft {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  .content__card1-container,
  .content__card2-container,
  .content__card3-container,
  .content__card4-container,
  .content__card5-container,
  .content__card6-container {
    @include hover-raise-effect-cards;
    position: relative;
    width: auto;
    border-radius: 1.6rem;
    box-shadow: $shadow-quaternary;
    transition: transform .2s ease, background-color .2s ease, border-color .2s ease;

    &.slide-in-right {
      animation: slideInFromRight 1s cubic-bezier(.25, .8, .25, 1) forwards;
    }

    &.slide-in-left {
      animation: slideInFromLeft 1s cubic-bezier(.25, .8, .25, 1) forwards;
    }

    &.slide-out-right {
      animation: slideOutToRight 1s cubic-bezier(.25, .8, .25, 1) forwards;
    }

    &.slide-out-left {
      animation: slideOutToLeft 1s cubic-bezier(.25, .8, .25, 1) forwards;
    }  

    &:active {
      transform: scale(.95);
    }

    @include tablet {
      margin-top: 0;
      margin-left: 0;
    }
  }

  .content__card1,
  .content__card2,
  .content__card3,
  .content__card4,
  .content__card5,
  .content__card6 {
    @include block-item(auto, 11.85rem);
    background: $primary-darker-blue-gradient;
    border-radius: 1rem;
    box-shadow: $shadow-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include tablet {
      @include block-item(12rem, 18.5rem);
      border-radius: 1.5625rem;

      @include desktop {
        @include block-item(20.1875rem, 29.125rem);
      }
    }
  }

  .content__poster1,
  .content__poster2,
  .content__poster3,
  .content__poster4,
  .content__poster5,
  .content__poster6 {
    @include block-item(auto, 11rem);
    border-radius: .5rem;

    @include large-mobile {
      @include block-item(auto, 9rem);
    }

    @include tablet {
    @include block-item(4.8rem, auto);
    transition: transform .3s ease, box-shadow .3s ease;

    &:hover {
      transform: rotate(2deg) translateX(.3125rem);
      border: .15rem solid $primary-light-blue;
    }

    &:active {
        transform: scale(.9); 
    }

    @include tablet {
      @include block-item(11rem, auto);
      box-shadow: $shadow-primary;
      border-radius: 1rem;

      @include desktop {
        @include block-item(90%, auto);
      }
    }
  }
}

  .content__icon-bg-video,
  .content__icon-bg-tv {
    @include block-item(1.5rem, 1.5rem);
    background-color: $base-darker-blue;
    box-shadow: $shadow-quaternary;
    border-radius: .35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1.5rem;
    right: .4rem;

    @include tablet {
      @include block-item(2.3125rem, 2.3125rem);
      border-radius: .5rem;
      bottom: 2rem;
      right: .5rem;
    }

    @include desktop {
      bottom: 2rem;
      right: 1.25rem;
    }
  }

  .content__video-icon,
  .content__tv-icon {
    @include block-item(.9rem, auto);

    @include tablet {
      @include block-item(1.5625rem, auto);
    }
  }

  .content__new-releases-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0 1.5rem 2rem 1.5rem;

    @include tablet {
      padding: 0 3.65rem 2rem 3.65rem;

      @include desktop {
        padding: 0 8.75rem 2rem 8.35rem;
      }
    }
  }

  .content__features-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2.5rem;

    @include desktop {
      padding-bottom: 4rem;
    }
  }

  .content__label-header-container {
    @include block-item(9rem, 3.5rem);
    margin-left: 1.5rem;
    margin-bottom: .75rem;
    border: .125rem solid $neutral-white;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $shadow-primary;
    background-color: $primary-very-light-blue;
    padding: 1rem 2rem;

    @include tablet {
      @include block-item(10.95rem, 3.5rem);
      margin-left: 3.5rem;
      margin-bottom: 2rem;

      @include desktop {
        @include block-item(17.625rem, 4.9375rem);
        margin-left: 8.4rem;

        &:hover {
          @include glow-animation;
        }
      }
    }
  }

  .content__feature {
    flex-direction: column;
    align-items: center;
    background-color: $neutral-white;
    box-shadow: 0 1.75rem 5.25rem rgba($neutral-black, .18);
    border-radius: .5rem;
    text-align: center;
  }

  .content__feature__icon-bg {
    @include block-item(9.6875rem, 9.6875rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-icon-bg;
    box-shadow: $shadow-primary;
    border-radius: .5rem;
    margin-bottom: 1rem;
  }

  .content__feature__search-icon,
  .content__feature__favourites-icon,
  .content__feature__calendar-icon {
    @include block-item(2.5rem, 2.5rem);

    @include tablet {
      @include block-item(3.5rem, 3.5rem);
    }

    @include desktop {
      @include block-item(5.4375rem, auto);
    }
  }

  .content__feature__label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-medium-blue;
    font-size: 1.25rem;
    font-family: $secondary-font;
    font-weight: 500;
  }

  .content__label-header-new-container {
    background-color: $primary-very-light-blue;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border: .125rem solid $neutral-white;
    box-shadow: $shadow-quinary;
    margin-top: .05rem;

    @include tablet {
      margin-left: .6rem;

      &:hover {
        @include glow-animation;
      }
    }
  }

  .content__label-header-new-releases {
    @include block-item(9rem, 3.5rem);
    color: $primary-dark-blue;
    font-family: $primary-font;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;

    @include tablet {
      @include block-item(10.95rem, 3.5rem);
      font-size: 1.25rem;

      @include desktop {
        @include block-item(17.625rem, 4.9375rem);
        font-size: 1.875rem;
      }
    }
  }

  .content__new-releases-subtitle {
    width: 100%;
    color: $primary-dark-blue;
    font-family: $primary-font;
    margin-top: 1rem;
    font-size: .85rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.15rem;

    @include tablet {
      font-size: 1rem;
      line-height: 1.25rem;
      margin-top: 0;

      @include desktop {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
    }
  }

  .content__label-header-background {
    @include block-item(100%, 100%);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }

  .content__label-features {
    @include block-item(10rem, 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $primary-dark-blue;
    font-size: 1rem;
    font-family: $primary-font;
    font-weight: 600;
    word-wrap: break-word;

    @include tablet {
      font-size: 1.25rem;
    }

    @include desktop {
      @include block-item(13.875rem, 2.1875rem);
      font-size: 1.875rem;
    }
  }

  .content__card-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    padding: 0 1.5rem;

    @include tablet {
      flex-direction: row;
      padding: 0 2.25rem;
    }

    @include desktop {
      padding: 0 2.7rem;
    }

    &__feature {
      @include hover-raise-effect-no-bg;
      @include block-item(10rem, 10rem);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative; 

      &:active {
        transform: scale(.95);
        transition: transform .1s ease;
      }
    
      @include tablet {
        @include block-item(16.875rem, 12.4375rem);
      }
    
      &__icon-bg {
        @include block-item(5rem, 5rem);
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: $primary-icon-bg;
        box-shadow: $shadow-primary;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    
        @include tablet {
          @include block-item(5.5rem, 4.5rem);
          border-top-left-radius: .5rem;
          border-top-right-radius: .5rem;
    
          @include desktop {
            @include block-item(9.6875rem, 9.6875rem);
          }
        }
      }
    
      // Tooltip styling
      &::after {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 105%; 
        left: 50%;
        transform: translateX(-50%);
        background: $neutral-white;
        color: $primary-dark-blue;
        padding: .5rem 1rem;
        border-radius: .5rem;
        box-shadow: $shadow-tertiary;
        white-space: nowrap; 
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease, visibility .3s ease;
        font-size: .65rem;
        z-index: 10;
    
        @include tablet {
          font-size: 1rem;
        }
      }
    
      &:hover::after {
        opacity: 1;
        visibility: visible;
      }

      &__favourites-icon,
      &__calendar-icon,
      &__search-icon {
        @include block-item(2.75rem, 2.75rem);
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        transition: transform 1.75s ease-in;

        @include tablet {
          @include block-item(3.5rem, 3.5rem);
        }

        @include desktop {
          @include block-item(5.4375rem, auto);
        }

        &:hover {
          transform: rotate(360deg);
        }
      }

      &__label {
        @include block-item(9.5rem, 3.5rem);
        background: $neutral-white;
        box-shadow: 0 1.75rem 5.25rem rgba($neutral-black, .18);
        border-radius: .5rem;
        text-align: center;
        color: $primary-medium-blue;
        font-size: 1rem;
        font-family: $secondary-font;
        font-weight: 500;
        word-wrap: break-word;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
          @include block-item(12rem, 4rem);
          font-size: 1.1rem;

          @include desktop {
            @include block-item(16.875rem, 5.5625rem);
          }
        }
      }
    }
  }
}

.content-new-releases__register-btn {
  background: none;
  border: none;
  font: $primary-font;
  color: $primary-dark-blue;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  border-radius: .25rem;
  transition: background-color .3s, transform .3s;

  &:visited {
    color: $primary-dark-blue;
  }

  &:hover,
  &:focus {
    padding-left: .25rem;
    padding-right: .25rem;
    background-color: $primary-medium-blue;
    border: .0625rem solid $primary-medium-blue;
    color: $neutral-white;
    border-color: $primary-dark-blue;
    text-decoration: none;
    box-shadow: $shadow-primary;
  }

  &:active {
    padding-left: .25rem;
    padding-right: .25rem;
    background-color: $primary-light-blue;
    color: $neutral-white;
    border: .125rem solid $neutral-light-grey;
    border-radius: .25rem;
    transform: scale(.5);
    text-decoration: none;
    font-weight: bold;
  }
}

.frosted-toast-content {
  backdrop-filter: blur(.25rem);
  background: rgba($primary-dark-blue, .75);
  border: .1875rem solid rgba($primary-light-blue, .75);
  border-radius: .625rem;
  box-shadow: $shadow-primary;
  color: $primary-pale-blue;
  font-family: $primary-font;
  padding: 1rem;
}

[class^="content__card"] {
  border: none;
}