// Import partials
@use "../../../../styles/partials/colors" as *;
@use "../../../../styles/partials/fonts" as *;
@use "../../../../styles/partials/mixins" as *;
@use "../../../../styles/global.scss" as *;

.hero {
  @include block-item(100%, 41.6875rem);
  background-color: $neutral-light-bg;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 8.35rem;
  box-shadow: $shadow-primary;

  &__logo-container {
    @include block-item(35rem, 35rem);
    border-radius: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: .5rem;
  }
  
  &__logo {
    @include block-item(22rem, 22rem);
    border-radius: 4.6rem;
    box-shadow: $shadow-tertiary;
  }
  
  &__logo-border {
    @include block-item(30rem, 30rem);
    @include animateBorder;
    @include borderAnimation;
    box-shadow: $shadow-primary;
    border-radius: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .875rem solid;
    background: $primary-darker-blue-gradient;
  }  
  
  &__copy-container {
    @include block-item(32rem, 30rem);
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    justify-content: center;
    gap: 2rem;
  }
  
  &__copy {
    @include block-item(26.375rem, 25rem);
  }

  &__btn-container {
    @include btn-main-container;
  }

  &__btn {
    @include btn-txt;
  }

  &__subtitle {
    color: $primary-dark-blue;
    font-family: $primary-font;
    font-size: 1.25rem;
    font-weight: 400;
    padding-right: 3rem;
  }
    
  &__title {
    color: $primary-medium-blue;
    font-family: $primary-font;
    font-size: 3.4375rem;
    font-weight: 400;
    text-shadow: $shadow-primary;
    width: 28rem;
    line-height: 4.2062rem;
  }
}