// Import partials
@use "../../../../styles/partials/colors" as *;
@use "../../../../styles/partials/fonts" as *;
@use "../../../../styles/partials/mixins" as *;

.hero {
  @include block-item(80rem, 41.6875rem);
  background-color: $neutral-light-bg;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 7.8125rem;

  &__logo-container {
    @include block-item(31.375rem, 31.375rem);
    backdrop-filter: blur(.25rem) brightness(100%);
    background: $primary-darker-blue-gradient;
    border-radius: 1.5625rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &__logo {
    @include block-item(33.9375rem, 33.9375rem);
  }
  
  &__copy-container {
    @include block-item(28.25rem, 30rem);
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    justify-content: center;
    gap: 2rem;
    margin-left: .65rem;
  }
  
  &__copy {
    @include block-item(26.375rem, 25rem);
  }

  &__btn-container {
    all: unset;
    background: $button-dark-gradient;
    border-radius: .75rem;
    box-shadow: $shadow-primary;
    box-sizing: border-box;
    padding: .75rem 2rem;
  }

  &__btn {
    color: $neutral-white;
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: 500;
  }

  &__subtitle {
    color: $primary-dark-blue;
    font-family: $secondary-font;
    font-size: 1.25rem;
    font-weight: 400;
    width: 26.375rem;
  }
    
  &__title {
    color: $primary-medium-blue;
    font-family: $primary-font;
    font-size: 3.4375rem;
    font-weight: 400;
    text-shadow: $shadow-primary;
    width: 28rem;
    line-height: 4.2062rem;
  }
}