@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.register {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__hero {
    background: url('../../assets/images/nextstream-bg.jpg') center center / cover no-repeat;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      height: 45vh;

      @include desktop {
        height: 30vh;
      }
    }
  }

  &__terms-link {
    background: none;
    border: none;
    font: $primary-font;
    color: $primary-light-blue;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    border-radius: 0.25rem;
    transition: background-color 0.3s, transform 0.3s;

    &:visited {
      color: $primary-dark-blue;
    }

    &:hover,
    &:focus {
      padding-left: .25rem;
      padding-right: .25rem;
      background-color: $primary-medium-blue;
      border: 1px solid $primary-medium-blue;
      color: $neutral-white;
      border-color: $primary-dark-blue;
      text-decoration: none;
      box-shadow: $shadow-primary;
    }

    &:active {
      padding-left: .25rem;
      padding-right: .25rem;
      background-color: $neutral-white;
      color: $primary-dark-blue;
      border: 1px solid $primary-very-light-blue;
      border-radius: 0.25rem;
      transform: scale(0.5);
      text-decoration: none;
      font-weight: bold;
    }
  }

  &__title {
    font-size: 2.5rem;
    color: $primary-medium-blue;
    text-align: center;
    font-family: $primary-font;
    font-weight: 400;
    text-shadow: $shadow-primary;
    line-height: 1.5rem;

    @include large-mobile {
      font-size: 2.75rem;
      line-height: 1.85rem;
    }

    @include tablet {
      font-size: 3rem;
      line-height: 3rem;
    }

    @include desktop {
      font-size: 3.4375rem;
      width: 28rem;
      line-height: 4.2062rem;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
    background: linear-gradient(180deg, rgb(64, 146, 255) 0%, rgb(64, 146, 255) 100%);
    padding: 1.5rem;
    flex-direction: column;

    @include tablet {
      margin-top: 0;
      flex-direction: row;
      gap: .5rem;
    }

    @include desktop {
      flex-direction: row;
      gap: 3rem;
    }
  }

  &__content-card {
    @include bg-white;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    border-radius: 1rem;
    box-shadow: $shadow-primary;
    margin-bottom: 2rem;
    border: .85rem solid;
    @include animateBorder;
    @include borderAnimation;

    @include desktop {
      margin-bottom: 0;
    }
  }

  &__image-card {
    display: none;

    @include tablet {
      @include hover-raise-effect;
      cursor: crosshair;
      height: auto;
      border-radius: 0.5rem;
      display: block;
      max-width: 25rem;
      width: 100%;
    }

    @include desktop {
      display: block;
      max-width: 25rem;
      width: 100%;
      align-self: center;
    }

    img {
      width: 100%;
      border-radius: 1rem;
      box-shadow: $shadow-primary;
    }
  }

  &__input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    width: 100%;
  }

  &__input-group {
    position: relative;
    width: 100%;
  }

  &__input {
    font: $primary-font;
    width: 100%;
    padding: 1rem;
    border: 2px solid $primary-light-blue;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-shadow: $shadow-primary;
    background: $neutral-white;
    color: $neutral-black;

    &:focus,
    &:not(:placeholder-shown) {
      background-color: $primary-very-light-blue;
      color: $primary-medium-blue;

      & + .register__label {
        top: -.85rem;
        font-size: 1rem;
        font: $secondary-font;
        background-color: $primary-medium-blue;
        border: 1px solid $primary-light-blue;
        color: $neutral-white;
      }

      &::placeholder {
        color: $primary-light-blue;
      }
    }

    &:not(:focus):placeholder-shown {
      &::placeholder {
        color: transparent;
      }
    }
  }

  &__label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: $primary-light-blue;
    border-radius: .35rem;
    padding: 0 0.5rem;
    box-shadow: $shadow-tertiary;
    color: $neutral-light-grey;
    font-size: 1rem;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  &__input-group--password {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
  }

  &__input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__password-toggle {
    position: absolute;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;

    .register__password-toggle-icon {
      @include block-item(1.5rem, 1.5rem);
      border-radius: 50%;
      display: flex;
      align-items: center;
      margin-top: 1rem;
      justify-content: center;
      transition: transform 0.1s ease;

      @include tablet {
        margin-top: .85rem;
      }

      img {
        @include block-item(1rem, 1rem);
      }
    }

    &:active .register__password-toggle-icon {
      transform: scale(0.9);
    }
  }

  &__checkbox {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $primary-medium-blue;

    .register__checkbox-box {
      cursor: pointer;
      box-shadow: $shadow-primary;
      border-radius: .25rem;
      border: 1px solid $primary-medium-blue;
      transition: transform 0.1s ease;
    }

    .register__checkbox-box:active {
      transform: scale(0.9);
    }
  }

  &__already-account {
    font-size: 1rem;
    color: $primary-medium-blue;

    &-link {
      font-weight: bold;
      cursor: pointer;
      color: $primary-medium-blue;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: $primary-medium-blue;
        color: $neutral-white;
        text-decoration: normal;
        padding: 0.1rem 0.5rem;
        border-radius: 0.25rem;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  &__signin-link {
    cursor: pointer;
    color: $primary-light-blue;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.1s ease, background-color 0.1s ease, color 0.1s ease;

    &:hover {
      background-color: $primary-medium-blue;
      color: $neutral-white;
      padding: 0.1rem 0.5rem;
      border-radius: 0.25rem;
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }

    &:active {
      transform: scale(0.85);
      background-color: $neutral-white;
      color: $primary-dark-blue;
      border: 1px solid $primary-very-light-blue;
      padding: 0.1rem 0.5rem;
      border-radius: 0.25rem;
      text-decoration: none;
    }
  }

  &__button-group {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__button {
    padding: .5rem 1.075rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
    transition: transform 0.1s ease;

    @include tablet {
      padding: .5rem 1.55rem;
    }

    &:active {
      transform: scale(0.95);
    }

    &--previous {
      @include block-item (6.8119rem, 3.5rem);
      background: $neutral-light-grey;
      color: $primary-darker-blue;
      border: 1.5px solid $neutral-white;
      box-shadow: $shadow-primary;
      position: relative;
      overflow: hidden;
      font-size: .85rem;

      @include tablet {
        font-size: 1rem;
        @include block-item (9rem, 4.5rem);
      }

      &:hover {
        background: $primary-medium-blue;
        color: $neutral-white;

        .register__button-icon {
          filter: invert(100%);
        }
      }

      &:active {
        .register__button-icon {
          filter: invert(100%);
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 200%;
        height: 100%;
        background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent);
        transition: left 0.5s;
      }

      &:hover::before {
        left: 100%;
      }

      .register__button-icon {
        @include block-item(.75rem, .75rem);

        @include tablet {
          @include block-item(1rem, 1rem);
        }
      }
    }

    &--signup {
      @include block-item (6.8119rem, 3.5rem);
      background: $button-dark-gradient;
      color: $neutral-white;
      box-shadow: $shadow-primary;
      position: relative;
      overflow: hidden;
      font-size: .85rem;

      @include tablet {
        @include block-item (9rem, 4.5rem);
        font-size: 1rem;
      }

      &:hover {
        background: $primary-dark-blue;
        color: $neutral-white;
        border: 1px solid $primary-pale-blue;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: -100%;
        width: 200%;
        height: 100%;
        background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.2), transparent);
        transition: right 0.5s;
      }

      &:hover::before {
        right: 100%;
      }

      .register__button-icon {
        @include block-item(1rem, 1rem);

        @include tablet {
          @include block-item(1.5rem, 1.5rem);
        }
      }
    }
  }
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

.frosted-toast-register {
  backdrop-filter: blur(.25rem);
  background: rgba($primary-dark-blue, 0.75);
  border: .1875rem solid rgba($primary-light-blue, 0.75);
  border-radius: .625rem;
  box-shadow: $shadow-primary;
  color: $primary-pale-blue;
  font-family: $primary-font;
  padding: 1rem;
}