// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.terms {
  position: relative;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    position: relative;
    z-index: 1;
    max-width: 800px;
    width: 100%;
  }

  &__content-card {
    @include bg-white;
    padding: 2rem;
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: $primary-dark-blue;
    text-align: center;
  }

  &__intro {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: $primary-medium-blue;
  }

  &__text {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: $primary-dark-blue;
  }

  &__subtitle {
    font-size: 1.75rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: $primary-dark-blue;
  }

  &__list {
    margin-left: 1.5rem;
    margin-bottom: 1rem;

    &-item {
      font-size: 1rem;
      color: $primary-dark-blue;
      margin-bottom: 0.5rem;
    }
  }

  &__link {
    background: none;
    border: none;
    font: $primary-font;
    color: $primary-medium-blue;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid $primary-medium-blue;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    &:hover,
    &:focus,
    &:visited {
      background-color: $primary-medium-blue;
      color: $neutral-white;
      border-color: $primary-dark-blue;
      text-decoration: none;
      box-shadow: $shadow-primary;
    }

    &:active {
      background-color: $primary-medium-blue;
      color: $neutral-white;
      border: 1px solid $primary-cyan;
      border-radius: .25rem;
      font-weight: bold;
      transform: translateY(1px);
      text-decoration: none;
      font-weight: bold;
    }
  }

  &__background {
    position: absolute;
    bottom: -2.1875rem;
    left: 0;
    width: 100%;
    height: 8.4375rem;
    overflow: hidden;
    z-index: 0;

    @include small-mobile {
      bottom: -.3125rem;
      height: 8.4375rem;
    }

    @include large-mobile {
      bottom: 0rem;
      height: 9.375rem;
    }

    @include tablet {
      bottom: 0rem;
      height: 12.5rem;
    }

    @include desktop {
      bottom: 0rem;
      height: 15.625rem;
    }

    @include large-desktop {
      bottom: 0rem;
      height: 17.5rem;
    }
  }
}
