// Import partials
@use "./styles/partials/colors" as *;
@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}