@use "./styles/partials/colors" as *;
@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;

:root {
  --1-global-border-radius-md: 8px;
  --1-global-space-space-25: 2px;
  --3-spacing-theme-gap-xxs: var(--1-global-space-space-25);
  --4-border-theme-card: var(--1-global-border-radius-md);
  --body-b2-medium-font-size: 14px;
  --body-b2-medium-font-style: normal;
  --body-b2-medium-font-weight: 500;
  --body-b2-medium-letter-spacing: 0.14px;
  --body-b2-medium-line-height: 20px;
  --body-text-font-size: 16px;
  --body-text-font-style: normal;
  --body-text-font-weight: 400;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: 26px;
  --button-font-size: 16px;
  --button-font-style: normal;
  --button-font-weight: 700;
  --button-letter-spacing: -0.8px;
  --button-line-height: 24px;
  --heading-1-font-size: 32px;
  --heading-1-font-style: normal;
  --heading-1-font-weight: 700;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: 26px;
  --heading-2-font-size: 24px;
  --heading-2-font-style: normal;
  --heading-2-font-weight: 700;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: 26px;
  --heading-3-font-size: 18px;
  --heading-3-font-style: normal;
  --heading-3-font-weight: 400;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: 26px;
  --label-font-size: 12px;
  --label-font-style: normal;
  --label-font-weight: 400;
  --label-letter-spacing: 0px;
  --label-line-height: normal;
  --light-text-font-size: 16px;
  --light-text-font-style: normal;
  --light-text-font-weight: 300;
  --light-text-letter-spacing: 0px;
  --light-text-line-height: 26px;
}