@use "../../../../styles/partials/colors" as *;
@use "../../../../styles/partials/fonts" as *;
@use "../../../../styles/partials/mixins" as *;
@use "../../../../styles/global.scss" as *;

.circle-rating-container {
  @include block-item(2.2rem, 2.2rem);
  position: relative;
  display: inline-block;
  cursor: pointer;

  @include tablet {
    @include block-item(3.25rem, 3.25rem);
  }

  .tooltip-text {
    visibility: hidden;
    width: 7.5rem;
    background-color: $primary-dark-blue;
    color: $neutral-white;
    text-align: center;
    border-radius: .375rem;
    padding: .3125rem;
    position: absolute;
    z-index: 1;
    bottom: 100%; 
    left: 50%;
    margin-left: -3.75rem;
    opacity: 0;
    transition: opacity 0.3s;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -.3125rem;
      border-width: .3125rem;
      border-style: solid;
      border-color: $primary-dark-blue transparent transparent transparent;
    }
  }

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}