@use "../../../../styles/partials/colors" as *;
@use "../../../../styles/partials/fonts" as *;
@use "../../../../styles/partials/mixins" as *;
@use "../../../../styles/global.scss" as *;

.circle-rating-container {
  @include block-item(2.2rem, 2.2rem);
  position: relative;
  display: inline-block;
  cursor: pointer;

  @include tablet {
    @include block-item(3.25rem, 3.25rem);
  }

  .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #012E71;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%; 
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #012E71 transparent transparent transparent;
    }
  }

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}