// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.profile {
  width: 100%;
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;

  &__hero {
    background: linear-gradient(180deg, rgb(14, 28, 48) 0%, rgb(64, 146, 255) 100%);
    width: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    color: var(--neutral-white);
    font-family: "Fieldwork-GeoDemiBold", Helvetica;
    font-size: 2rem;
    font-weight: 700;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__content-region,
  &__content-subscription,
  &__content-notifications,
  &__content-password,
  &__content-details {
    background-color: #ffffff;
    border: 0.125rem solid var(--primary-very-light-blue);
    border-radius: 0.5rem;
    box-shadow: var(--shadow-quinary);
    padding: 1rem;
    width: 100%;
    max-width: 25rem;
  }

  &__details-header,
  &__password-header,
  &__subscription-header,
  &__notifications-header,
  &__region-header {
    background-color: var(--primary-darker-blue);
    border: 0.1875rem solid var(--primary-pale-blue);
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: var(--shadow-primary);
    padding: 0.5rem;
    text-align: center;
  }

  &__text-wrapper {
    color: var(--primary-very-light-blue);
    font-family: "Fieldwork-GeoDemiBold", Helvetica;
    font-size: 1rem;
    font-weight: 700;
  }

  &__details-content,
  &__password-content,
  &__subscription-content,
  &__notifications-content,
  &__region-content {
    align-items: center;
    background-color: var(--primary-very-light-blue);
    border: 0.1875rem solid var(--primary-pale-blue);
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: var(--shadow-primary);
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
  }

  &__location-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }

  &__input-group {
    background-color: #ffffff;
    border-radius: 0.75rem;
    height: 3rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__input-wrapper {
    background-color: #ffffff;
    border: 0.125rem solid var(--primary-light-blue);
    border-radius: 0.75rem;
    box-shadow: var(--shadow-primary);
    height: 3rem;
    width: 100%;
  }

  &__input-frame {
    align-items: flex-start;
    display: inline-flex;
    gap: 0.125rem;
    padding: 0.75rem;
  }

  &__input-placeholder {
    color: var(--neutral-dark-grey);
    font-family: "Fieldwork-GeoRegular", Helvetica;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    white-space: nowrap;
  }

  &__input {
    background: none;
    border: none;
    color: var(--neutral-dark-grey);
    font-family: "Fieldwork-GeoRegular", Helvetica;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    width: 100%;
  }

  &__label {
    color: var(--primary-medium-blue);
    font-family: "Fieldwork-GeoRegular", Helvetica;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 0.5rem;
  }

  &__btn-save {
    all: unset;
    box-sizing: border-box;
    height: 3.5rem;
    margin: 2rem auto;
    width: 6.4375rem;
  }

  &__btn-overlap {
    height: 3.5rem;
    width: 100%;
    position: relative;
  }

  &__btn-bg {
    background: linear-gradient(180deg, rgb(238, 244, 252) 0%, rgb(64, 146, 255) 100%);
    border-radius: 0.75rem;
    box-shadow: var(--shadow-quinary);
    height: 3rem;
    position: absolute;
    top: 0.5rem;
    width: 6.125rem;
  }

  &__btn-wrapper {
    all: unset;
    box-shadow: var(--shadow-quinary);
    box-sizing: border-box;
    height: 2.875rem;
    position: absolute;
    top: 0;
    width: 5.9375rem;
  }

  &__btn-text {
    align-items: center;
    background-color: var(--neutral-white);
    border: 0.125rem solid var(--primary-very-light-blue);
    border-radius: 0.75rem;
    box-shadow: var(--shadow-quinary);
    box-sizing: border-box;
    display: flex;
    gap: 0.5rem;
    height: 2.875rem;
    justify-content: center;
    padding: 0.75rem 2rem;
    width: 5.9375rem;
  }
}
