// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, $neutral-white, #EEF4FC, #BBD9FF, #BBD9FF, #EEF4FC, $neutral-white);
  animation: moveBackground 15s linear infinite;

  @keyframes moveBackground {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }  

  &__text-wrapper {
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid $primary-pale-blue;
    box-shadow: $shadow-senary;
    width: 11rem;
  }

  &__hero {
    background: $primary-darker-blue-gradient;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $primary-pale-blue;
    width: 27rem;
    border: 1px solid $neutral-white;
    border-radius: 1rem;
    box-shadow: $shadow-senary;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__title {
    color: $primary-dark-blue;
    font-family: $primary-font;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__notifications-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
  }

  &__notification-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
  }

  &__content-subscription-container {
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    background-color: $neutral-white;
    border: 0.125rem solid $primary-very-light-blue;
    box-shadow: $shadow-quinary;
    border-radius: 0.75rem;
  }

  &__content-details,
  &__content-region,
  &__content-notifications,
  &__content-password {
    background-color: $neutral-white;
    border: 0.125rem solid $primary-very-light-blue;
    border-radius: 0.75rem;
    box-shadow: $shadow-quinary;
    padding: 1rem;
    width: 100%;
    max-width: 25rem;
  }

  &__details-header,
  &__password-header,
  &__subscription-header,
  &__notifications-header,
  &__region-header {
    background-color: $primary-darker-blue;
    border: 2px solid $primary-pale-blue;
    box-shadow: $shadow-primary;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0 0;
    width: 11rem;
  }

  &__text-wrapper {
    background-color: $primary-darker-blue;
    color: $primary-very-light-blue;
    font-family: $primary-font;
    font-size: 1rem;
  }

  &__details-content,
  &__password-content,
  &__notifications-content,
  &__subscription-status-wrapper,
  &__region-content {
    align-items: center;
    background-color: $primary-very-light-blue;
    border: 0.1875rem solid $primary-pale-blue;
    border-radius: 0 .5rem 0.5rem 0.5rem;
    box-shadow: $shadow-primary;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1.25rem;
    color: $primary-medium-blue;
    padding: 1rem;
    width: 100%;
  }

  &__location-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }

  &__input-group {
    position: relative;
    width: 100%;
  }

  &__input {
    font: $primary-font;
    width: 100%;
    padding: 1rem;
    border: 2px solid $primary-light-blue;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-shadow: $shadow-senary;
    background: $neutral-white;
    margin-bottom: 1rem;
    color: $neutral-black;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

    &:focus,
    &:not(:placeholder-shown) {
      background-color: $primary-very-light-blue;
      color: $primary-medium-blue;
      border-color: $primary-medium-blue;
      font-family: $primary-font;
      padding: .5rem;

      & + .profile__label {
        top: -0.85rem;
        font-size: 1rem;
        font: $secondary-font;
        background-color: $primary-medium-blue;
        border: 1px solid $primary-light-blue;
        color: $neutral-white;
      }

      &::placeholder {
        color: $primary-light-blue;
      }
    }

    &:not(:focus):placeholder-shown {
      &::placeholder {
        color: transparent;
      }
    }
  }

  &__label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: $primary-light-blue;
    border-radius: .35rem;
    padding: 0 0.5rem;
    box-shadow: $shadow-tertiary;
    color: $neutral-light-grey;
    font-size: 1rem;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  &__input-group--password {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__password-toggle {
    position: absolute;
    right: .5rem;
    top: 1.1rem;
    display: flex;
    background: none;
    border: none;
    cursor: pointer;

    .profile__password-toggle-icon {
        @include block-item(1.5rem, 1.5rem);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.1s ease;

      img {
        @include block-item(1rem, 1rem);
      }
    }

    &:active .profile__password-toggle-icon {
      transform: scale(0.9);
    }
  }

  &__btn-save {
    all: unset;
    box-sizing: border-box;
    height: 3.5rem;
    margin-bottom: 1rem;
    width: 6.4375rem;
  }

  &__btn-overlap {
    height: 3.5rem;
    width: 100%;
    position: relative;
  }

  &__btn-bg {
    background: linear-gradient(180deg, rgb(238, 244, 252) 0%, rgb(64, 146, 255) 100%);
    border-radius: 0.75rem;
    box-shadow: $shadow-quinary;
    height: 3rem;
    position: absolute;
    top: 0.5rem;
    width: 6.125rem;
  }

  &__btn-wrapper {
    all: unset;
    box-shadow: $shadow-quinary;
    box-sizing: border-box;
    height: 2.875rem;
    position: absolute;
    width: 5.9375rem;
  }

  &__btn-text {
    align-items: center;
    background-color: $neutral-white;
    border: 0.125rem solid $primary-very-light-blue;
    border-radius: 0.75rem;
    box-shadow: $shadow-quinary;
    box-sizing: border-box;
    display: flex;
    height: 2.875rem;
    justify-content: center;
    padding: 0.75rem 2rem;
    width: 5.9375rem;
  }

  &__checkbox {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid $primary-light-blue;
    border-radius: 0.25rem;
    background: $neutral-white;
    cursor: pointer;
    position: relative;
    box-shadow: $shadow-primary;
    transition: all 0.3s ease;

    &.active {
      border-color: $feedback-mint-light-green;
      background: $feedback-mint-light-green;
      box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
    }

    &.active::before {
      content: '✔';
      color: $neutral-white;
      font-size: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__delete-account {
    width: 100%;
    background: $primary-light-blue;
    border: 2px solid $feedback-error-peach;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    color: $neutral-white;
    font-family: $primary-font;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: $shadow-primary;

    &.delete {
      background: $feedback-error-peach;
      color: $neutral-white;
      border-color: $feedback-error-peach;
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    }

    &:hover {
      backdrop-filter: blur(0.25rem);
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
      background: $feedback-error-light-peach;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__region-input {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: $neutral-white;
    padding: 1rem;
    border: 1px solid $primary-light-blue;
    border-radius: 0.25rem;
    box-shadow: $shadow-primary;
    position: relative;

    .profile__location-icon {
      width: 1rem;
      height: 1rem;
    }

    .profile__dropdown {
      border: none;
      outline: none;
      font-family: $primary-font;
      font-size: 1rem;
      width: 100%;
      background: none;
      cursor: pointer;
      color: $primary-dark-blue;
      padding: 0.5rem;

      &:focus {
        outline: none;
      }

      option {
        color: $primary-dark-blue;
      }
    }

    .profile__chevron-icon {
      width: 1rem;
      height: 1rem;
      position: absolute;
      right: 0.5rem;
      pointer-events: none;
    }
  }

  &__region-title {
    font-family: $primary-font;
    font-size: 1rem;
    color: $primary-dark-blue;
    margin-bottom: 0.5rem;
  }
}
