// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, $neutral-white, #EEF4FC, #BBD9FF, #BBD9FF, #EEF4FC, $neutral-white);
  animation: moveBackground 15s linear infinite;

  @keyframes moveBackground {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }  

  &__text-wrapper {
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid $primary-pale-blue;
    box-shadow: $shadow-senary;
    width: 11rem;
  }

  &__hero {
    background: $primary-darker-blue-gradient;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $primary-pale-blue;
    width: 27rem;
    border: 1px solid $neutral-white;
    border-radius: 1rem;
    box-shadow: $shadow-senary;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__title {
    color: $primary-dark-blue;
    font-family: $primary-font;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__content-details,
  &__content-region,
  &__content-subscription,
  &__content-notifications,
  &__content-password {
    background-color: $neutral-white;
    border: 0.125rem solid $primary-very-light-blue;
    border-radius: 0.75rem;
    box-shadow: $shadow-quinary;
    padding: 1rem;
    width: 100%;
    max-width: 25rem;
  }

  &__details-header,
  &__password-header,
  &__subscription-header,
  &__notifications-header,
  &__region-header {
    background-color: $primary-darker-blue;
    border: 2px solid $primary-pale-blue;
    box-shadow: $shadow-primary;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0 0;
    width: 11rem;
  }

  &__text-wrapper {
    background-color: $primary-darker-blue;
    color: $primary-very-light-blue;
    font-family: $primary-font;
    font-size: 1rem;
  }

  &__details-content,
  &__password-content,
  &__subscription-content,
  &__notifications-content,
  &__subscription-status-wrapper,
  &__region-content {
    align-items: center;
    background-color: $primary-very-light-blue;
    border: 0.1875rem solid $primary-pale-blue;
    border-radius: 0 .5rem 0.5rem 0.5rem;
    box-shadow: $shadow-primary;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
  }

  &__location-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }

  &__input-group {
    background-color: $neutral-white;
    border-radius: 0.75rem;
    height: 3rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__input-wrapper {
    background-color: $neutral-white;
    border: 0.125rem solid $primary-light-blue;
    border-radius: 0.75rem;
    box-shadow: $shadow-primary;
    height: 3rem;
    width: 100%;
  }

  &__input-frame {
    align-items: flex-start;
    display: inline-flex;
    gap: 0.125rem;
    padding: 0.75rem;
  }

  &__input-placeholder {
    color: $neutral-dark-grey;
    font-family: $primary-font;
    font-size: 1rem;
    white-space: nowrap;
  }

  &__input {
    background: none;
    border: none;
    color: $neutral-dark-grey;
    font-family: $primary-font;
    font-size: 1rem;
    width: 100%;
  }

  &__label {
    color: $primary-medium-blue;
    font-family: $primary-font;
    font-size: 1rem;
  }

  &__btn-save {
    all: unset;
    box-sizing: border-box;
    height: 3.5rem;
    margin-bottom: 1rem;
    width: 6.4375rem;
  }

  &__btn-overlap {
    height: 3.5rem;
    width: 100%;
    position: relative;
  }

  &__btn-bg {
    background: linear-gradient(180deg, rgb(238, 244, 252) 0%, rgb(64, 146, 255) 100%);
    border-radius: 0.75rem;
    box-shadow: $shadow-quinary;
    height: 3rem;
    position: absolute;
    top: 0.5rem;
    width: 6.125rem;
  }

  &__btn-wrapper {
    all: unset;
    box-shadow: $shadow-quinary;
    box-sizing: border-box;
    height: 2.875rem;
    position: absolute;
    width: 5.9375rem;
  }

  &__btn-text {
    align-items: center;
    background-color: $neutral-white;
    border: 0.125rem solid $primary-very-light-blue;
    border-radius: 0.75rem;
    box-shadow: $shadow-quinary;
    box-sizing: border-box;
    display: flex;
    height: 2.875rem;
    justify-content: center;
    padding: 0.75rem 2rem;
    width: 5.9375rem;
  }
}
