@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.quickstart-guide {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(.05rem);
    background: $frosted-glass;
    z-index: 9998;
    pointer-events: auto;
  }

  &__arrow {
    position: absolute;
    top: -10px; 
    left: 20px; 
    animation: bounce 1.5s infinite ease-in-out;

    @include tablet {
        top: -30px; 
        left: 20px; 
    }
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  &__container {
    position: absolute;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(1rem);
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: 0 .25rem .5rem rgba($neutral-black, .1), 0 -.25rem .5rem rgba(255, 255, 255, .7);
    font-family: $primary-font;
    max-width: 18.75rem;
    text-align: center;
    z-index: 9999;
    pointer-events: auto;
    transition: top .3s ease, left .3s ease, transform .3s ease;
  }

  &__title {
    font-size: 1.6rem;
    color: $primary-dark-blue;
    margin-bottom: 1.2rem;
    line-height: 1.1;
    font-weight: normal; 
  }

  &__header {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__step {
    font-size: 1.2rem;
    color: $primary-dark-blue;
    margin-bottom: 2rem;
    line-height: 1.6; 
  }

  &__button {
    background: $primary-button-blue;
    box-shadow: .375rem .375rem .75rem rgba($neutral-black, .1), -.375rem -.375rem .75rem rgba(255, 255, 255, .7);
    border-radius: .8rem;
    border: none;
    color: $neutral-white;
    cursor: pointer;
    font-family: $secondary-font;
    font-size: .85rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: .8rem 1.5rem;
    transition: all .3s ease;
   

    &:hover {
        transform: scale(1.05); 
        color: $primary-button-blue;
        border: .1875rem solid $neutral-white;
        background: linear-gradient(145deg, $primary-very-light-blue, $neutral-white);
        box-shadow: .25rem .25rem .5rem rgba($neutral-black, .1), -.25rem -.25rem .5rem rgba(255, 255, 255, .5);
      }

      &:active {
        transform: scale(.95); 
        background: linear-gradient(145deg, $primary-very-light-blue, $primary-gradient-blue);
        border: .25rem solid $neutral-light-grey;
        box-shadow: $shadow-tertiary;
        text-shadow: $shadow-primary;
        color: $neutral-white;
      }
  
      &:focus {
        outline: none;
      }
    }

  &__close {
    font-size: .75rem;
    color: $primary-dark-blue;
    background: linear-gradient(145deg, #f0f0f0, $neutral-white);
    box-shadow: .375rem .375rem .75rem rgba($neutral-black, .1), -.375rem -.375rem .75rem rgba(255, 255, 255, .7);
    border-radius: .8rem;
    border: none;
    padding: .8rem 1.5rem;
    cursor: pointer;
    transition: all .3s ease;
    margin-bottom: 1rem;

    &:hover {
      transform: scale(1.05); 
      color: $primary-button-blue;
      border: .1875rem solid $neutral-white;
      background: linear-gradient(145deg, $primary-very-light-blue, $neutral-white);
      box-shadow: .25rem .25rem .5rem rgba($neutral-black, .1), -.25rem -.25rem .5rem rgba(255, 255, 255, .5);
    }

    &:active {
      transform: scale(.95); 
      background: linear-gradient(145deg, $primary-light-blue, $primary-button-blue);
      border: .25rem solid $neutral-light-grey;
      box-shadow: $shadow-tertiary;
      text-shadow: $shadow-primary;
      color: $neutral-white;
      font-weight: bold;
    }

    &:focus {
      outline: none;
    }
  }
}