@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.nextview-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
  background-color: $primary-darker-blue;
  position: relative;

  @include tablet {
    padding: 3rem;
  }

  @include desktop {
    padding: 4rem;
  }

  &__media-type {
    display: flex;
    align-items: center;
    background: $neutral-light-grey;
    color: $primary-button-blue;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    border: 1px solid $frosted-glass;
    box-shadow: $shadow-senary;

    svg {
      font-size: 1.5rem;
      color: $primary-button-blue;
    }

    @include tablet {
      font-size: 1.25rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__streaming-services {
    display: flex;
    gap: .5rem;
  }

  &__streaming-provider-logo {
    width: 3.5rem;
    padding: .25rem;
    height: auto;
    border-radius: .5rem;
    box-shadow: $shadow-tertiary;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
      background: $primary-gradient-blue;
      border-radius: 2.5rem;
    }

    @include tablet {
      width: 3.5rem;
    }
  }

  &__streaming {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    background: $primary-very-light-blue;
    border-radius: 1rem;
    padding: 1rem;
    border: 5px solid $neutral-white;
    box-shadow: $shadow-tertiary;

    h3 {
      color: $primary-dark-blue;
      margin-bottom: 0.5rem;
      font-size: 1.25rem;

      @include tablet {
        font-size: 1.5rem;
      }

      @include desktop {
        font-size: 1.75rem;
      }
    }
  }

  &__calendar-button {
    background: $primary-gradient-blue;
    color: $neutral-white;
    padding: 0.5rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: $shadow-primary;
    transition: transform 0.3s ease, background 0.3s ease;

    &:hover {
      background: $primary-dark-blue;
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }

    @include tablet {
      padding: .75rem;
      font-size: 1.25rem;
    }

    @include desktop {
      font-size: 1.25rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 60rem;
    background: rgba($neutral-white, 0.8);
    backdrop-filter: blur(0.5rem);
    border-radius: 1.5rem;
    padding: 2rem;
    box-shadow: $shadow-primary;
    border: 0.125rem solid rgba($neutral-white, 0.5);

    @include tablet {
      padding: 3rem;
    }

    @include desktop {
      padding: 4rem;
    }
  }

  &__title {
    font-family: $primary-font;
    font-size: 2rem;
    color: $primary-dark-blue;
    text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;

    @include tablet {
      font-size: 2.5rem;
    }

    @include desktop {
      font-size: 3rem;
    }
  }

  &__certification {
    font-size: 1rem;
    color: $primary-button-blue;
    font-weight: bold;
    margin-right: 0.5rem;

    @include tablet {
      font-size: 1.25rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__description {
    font-family: $primary-font;
    font-size: 1rem;
    color: $neutral-dark-grey;
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;

    @include tablet {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    @include desktop {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__media-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;

    @include tablet {
      flex-direction: row;
      align-items: flex-start;
      gap: 2rem;
    }

    @include desktop {
      gap: 4rem;
    }
  }

  &__poster-container {
    position: relative;
    width: 100%;
    max-width: 20rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: $shadow-quaternary;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    @include tablet {
      max-width: 25rem;
    }

    @include desktop {
      max-width: 30rem;
    }
  }

  &__poster {
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }

  &__play-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  &__play-icon {
    color: $neutral-white;
    font-size: 2rem;

    @include tablet {
      font-size: 2.5rem;
    }

    @include desktop {
      font-size: 3rem;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;

    @include tablet {
      align-items: flex-start;
      gap: 1.5rem;
    }

    @include desktop {
      gap: 2rem;
    }
  }

  &__genre {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    &-item {
      background: $primary-light-blue;
      color: $neutral-white;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      font-size: 0.85rem;
      font-weight: bold;
      text-transform: uppercase;
      box-shadow: $shadow-secondary;

      @include tablet {
        font-size: 1rem;
      }

      @include desktop {
        font-size: 1.25rem;
      }
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: $primary-dark-blue;
    font-weight: bold;

    svg {
      margin-right: 0.5rem;
      color: $primary-button-blue;
    }

    @include tablet {
      font-size: 1.25rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__duration {
    font-size: 1rem;
    color: $primary-dark-blue;

    @include tablet {
      font-size: 1.25rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__cast-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 39.6875rem;
    background: rgba($neutral-white, 0.7);
    border-radius: 1rem;
    padding: 1.1rem;
    background: $primary-pale-blue;
    box-shadow: $shadow-tertiary;
    border: 5px solid $primary-button-blue;
    position: relative;

    @include tablet {
      min-width: 25.75rem;
      width: 100%;
      max-width: 25.75rem;
    }

    h3 {
      color: $primary-dark-blue;
      margin-bottom: 0.5rem;
      font-size: 1rem;

      @include tablet {
        font-size: 1.25rem;
      }

      @include desktop {
        font-size: 1.5rem;
      }
    }
  }

  &__cast-scroll {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 0.5rem;
    gap: .5rem;

    &::-webkit-scrollbar {
      height: .375rem;
      border-radius: .1875rem;
      background-color: $primary-very-light-blue;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary-light-blue;
      border-radius: .1875rem;
    }
  }

  &__cast-list {
    display: flex;
    gap: 0.5rem;

    @include tablet {
      gap: 1rem;
    }
  }

  &__cast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 6rem;
    max-width: 7rem;

    @include tablet {
      width: 7rem;
    }

    @include desktop {
      width: 8rem;
    }
  }

  &__cast-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: $shadow-primary;
    background: rgba($neutral-white, 0.9);
    padding: 0.5rem;

    &:hover {
      transform: scale(1.05);
    }

    transition: transform 0.3s ease;
  }

  &__cast-img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.25rem;
  }

  &__cast-name {
    font-weight: bold;
    font-size: 0.95rem;
    color: $primary-medium-blue;
  }

  &__cast-character {
    color: $primary-gradient-blue;
    font-size: 0.75rem;
  }

  &__cast-name,
  &__cast-character {
    margin-top: 0.25rem;
    line-height: 1rem;
  }

  &__cast-arrow {
    position: absolute;
    right: -1rem;
    top: 50%;
    transform: translateY(-50%);
    background: $primary-gradient-blue;
    color: $neutral-white;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1.25rem;
    box-shadow: $shadow-primary;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;

    &:hover {
      background: $primary-dark-blue;
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &__cast-arrow-left {
    left: -1rem;
    right: unset;
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    width: 100%;

    @include tablet {
      gap: 2rem;
    }

    @include desktop {
      gap: 2.5rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;

    svg {
      font-size: 2rem;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      @include tablet {
        font-size: 2.5rem;
      }

      @include desktop {
        font-size: 3rem;
      }
    }
  }

  &__thumbs-up,
  &__thumbs-down {
    font-size: 1.5rem;
    color: $neutral-white;
    box-shadow: $shadow-senary;
    border-radius: 0.5rem;
    padding: 0.25rem;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;

    &:hover {
      transform: scale(1.1);
      color: $primary-very-light-blue;
      border: 2px solid $primary-very-light-blue;
    }

    &:active {
      transform: scale(0.9);
      color: $primary-button-blue;
      border: 2px solid $primary-button-blue;
    }

    @include tablet {
      font-size: 1.75rem;
    }

    @include desktop {
      font-size: 2rem;
    }
  }

  &__trailer-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($neutral-black, 0.8);
    z-index: 1000;
    padding: 2rem;

    @include tablet {
      padding: 3rem;
    }

    @include desktop {
      padding: 4rem;
    }

    iframe {
      width: 100%;
      max-width: 60rem;
      height: auto;
      border-radius: 1rem;
      box-shadow: $shadow-quaternary;

      @include tablet {
        height: 75vh;
      }

      @include desktop {
        height: 80vh;
      }
    }
  }

  &__close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    color: $neutral-white;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.95);
    }

    @include tablet {
      font-size: 2.5rem;
    }

    @include desktop {
      font-size: 3rem;
    }
  }

  &__background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15rem;
    overflow: hidden;
    z-index: -1;

    @include tablet {
      height: 20rem;
    }

    @include desktop {
      height: 25rem;
    }
  }
}