.neumorphic-media-card {
  background: #f0f0f0;
  border-radius: 20px;
  box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;

  &:hover {
    transform: scale(1.03);
    box-shadow: 15px 15px 40px #bebebe, -15px -15px 40px #ffffff;
  }

  &__image-container {
    position: relative;
  }

  &__image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    border-bottom: 1px solid #ccc;
    transition: opacity 0.3s ease;
  }

  &__play-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }

    .neumorphic-media-card__play-icon {
      color: #fff;
      font-size: 28px;
    }
  }

  &__content {
    padding: 20px;

    &__title {
      font-size: 1.8rem;
      margin-bottom: 15px;
      color: #333;
      font-weight: bold;
    }

    &__description {
      font-size: 1.1rem;
      color: #666;
      margin-bottom: 25px;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__rating {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: #333;

        svg {
          margin-right: 5px;
          color: #f39c12;
        }
      }

      &__calendar-button {
        background: #ff6347;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: background 0.3s ease;

        &:hover {
          background: #e5533d;
        }

        .fa-calendar-plus {
          margin-right: 5px;
        }
      }
    }
  }
}