@use 'colors' as *;
@use 'mixins' as *;

[data-theme='cloud-mode'] {
  // Background and text colors
  background: $cloud-soft-blue;
  color: $cloud-text-dark;
  body,
  label {
    cursor: url('../../assets/cursors/cursor-arrow-cl.svg'), auto;
  }

  /* Custom cursor for interactive elements */
  button,
  a,
  .Link,
  img,
  [role='button'],
  [data-tooltip],
  [tabindex],
  input[type='checkbox'],
  input[type='text'],
  input[type='radio'],
  input[type='range'],
  input[type='button'],
  input[type='submit'],
  select,
  textarea {
    cursor: url('../../assets/cursors/cursor-pointer-cl.svg'), pointer;
  }

  /* Ensure cursor changes on hover and active states */
  button:hover,
  a:hover,
  .Link:hover,
  img:hover,
  [role='button']:hover,
  [data-tooltip]:hover,
  [tabindex]:hover,
  input[type='checkbox']:hover,
  input[type='text']:hover,
  input[type='radio']:hover,
  input[type='range']:hover,
  input[type='button']:hover,
  input[type='submit']:hover,
  label:hover,
  select:hover,
  textarea:hover {
    cursor: url('../../assets/cursors/cursor-pointer-cl.svg'), pointer;
  }

  /* Add for focus state if required */
  button:focus,
  a:focus,
  .Link:focus,
  img:focus,
  [role='button']:focus,
  [data-tooltip]:focus,
  [tabindex]:focus,
  input[type='checkbox']:focus,
  input[type='text']:focus,
  input[type='radio']:focus,
  input[type='range']:focus,
  input[type='button']:focus,
  input[type='submit']:focus,
  label:focus,
  select:focus,
  textarea:focus {
    cursor: url('../../assets/cursors/cursor-pointer-cl.svg'), pointer;
  }

  /* Add for focus state if required */
  input[type='text']:active,
  input[type='text']:valid,
  input[type='text']:required,
  input[type='text']:enabled {
    cursor: url('../../assets/cursors/cursor-pointer-cl.svg'), pointer;
  }

  /* Dropdowns */
  select,
  .dropdown,
  .ui-autocomplete,
  .browser-suggestion-list {
    cursor: url('../../assets/cursors/cursor-pointer-cl.svg'), pointer;
  }

  input, textarea {
    background-color: $cloud-off-white;
    color: $cloud-text-dark;

    &:focus {
      background-color: $cloud-light-blue;
      border-color: $cloud-dark-gray;
    }
  }
  
// Homepage

// Header 
.header {
  &__login-container {
    background: $cloud-dark-gray;

    &:hover {
      background: $cloud-medium-gray;
      box-shadow: $shadow-cool-primary;
    }

    &:active {
      background: $cloud-deep-gray;
    }
  }

  &__search-icon--mobile,
  &__search-icon {
    background: $cloud-dark-gray;
  }

  &__search-bar--mobile,
  &__search-bar {
    border: .125rem solid $cloud-medium-gray;
  }

  &__logo-wrapper {
    &:hover {
      @include cloudBorderGlowLogo();
    }
  }

  &__logo {
    filter: grayscale(100%) brightness(80%);

    &:hover {
      filter: grayscale(100%) brightness(90%) contrast(1.2);
    }
  }   

  &__clear-btn, 
  &__clear-btn--mobile {
    color: $cloud-dark-gray;

    &:hover {
      background: $cloud-dark-gray;
      color: $neutral-white;
    }

    &:active {
      box-shadow: none;
    }
  }

  &__search-input,
  &__search-input--mobile {
    color: $cloud-dark-gray;

    &::placeholder {
      color: $cloud-dark-gray;
    }

    &:focus {
      color: $cloud-dark-gray;
      background-color: $neutral-white;
    }

    &:active {
      background-color: $cloud-deep-gray; 
    }
  }
}

// Hover Menu
.hover-menu__button {
  background: $cloud-dark-gray;
}

  // Hero
  .hero {
    &__subtitle--tagline,
    &__title {
      color: $neutral-black;
      color: $cloud-deep-gray;
    }

    &__logo--mobile,
    &__logo {
      content: url('../../assets/images/logo-brand-mark-gray.svg');
    }

    &__logo {
      @include tablet {
        border-radius: 3.25rem;
      }
    }

    &__subtitle {
      color: $cloud-very-deep-gray;
    }

    &__logo-border,
    &__logo-border--mobile {
      @include cloudAnimateBorder;
      @include cloudBorderAnimation;
      background: $cloud-gradient-white-gray;
    }
  
    &__btn-container {
      background: $cloud-dark-gray;

      &:hover {
        background: $cloud-medium-gray;
        box-shadow: $shadow-cool-primary;
      }

      &:active {
        background: $cloud-deep-gray;
      }
    }
  }

  // Content 
  .content {
    &__label-header-new-container,
    &__label-header-container {
      background: $cloud-gradient-light-gray;
    }

    &__label-header-new-releases,
    &__label-features {
      color: $cloud-deep-gray;
    }

    &__card-features__feature__icon-bg {
      background: $cloud-deep-gray;
    }

    &__card-features__feature__label {
      color: $cloud-deep-gray;
    }

    &__new-releases-subtitle {
      color: $cloud-very-deep-gray;
    }

    &__poster1,
    &__poster2,
    &__poster3,
    &__poster4,
    &__poster5,
    &__poster6 {
      filter: grayscale(100%);

      &:hover {
        filter: none; 
        border: .15rem solid $cloud-light-gray;
      }
    }

    &__card1,
    &__card2,
    &__card3,
    &__card4,
    &__card5,
    &__card6 {
      background: $cloud-frosted-light-gray;
    }

    .content__nav-circles {
      .content__nav-circle {
        border: .0938rem solid $cloud-medium-gray;
  
        &:hover {
          background-color: rgba($cloud-medium-gray, .8);
        }
  
        &--active {
          background-color: $cloud-dark-gray;
          box-shadow: 0 0 .25rem $cloud-deep-gray;
        }
      }
    }

    &__page-nav-wrapper-next,
    &__page-nav-wrapper-previous {
      background-color: $neutral-grey-gradient;
      border: .15rem solid $cloud-dark-gray;
      color: $neutral-white;

      &:hover {
        background: $cloud-frosted-dark-gray;
      }

      &:active {
        background: $neutral-black;
        border: .15rem solid $neutral-white;
      }

      .content__previous-icon,
      .content__next-icon {
        color: $neutral-white;
      }
    }

    &__icon-bg-video,
    &__icon-bg-tv {
      color: $neutral-white;
      background: $cloud-dark-gray;
    }

    &__card-media-container {
      background: linear-gradient(135deg, rgba(100, 100, 100, 0.4), rgba(220, 220, 220, 0.6));
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      box-shadow: 0 12px 24px rgba(100, 100, 100, 0.6), 0 12px 24px rgba(240, 240, 240, 0.5);
      border-radius: 20px;
      border: 2px solid rgba(255, 255, 255, 0.4);
    
      animation: pulse-strong-grey-glow 5s infinite alternate ease-in-out;
    }
    
    @keyframes pulse-strong-grey-glow {
      0% {
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.8), 0 0 60px rgba(150, 150, 150, 0.8);
      }
      50% {
        box-shadow: 0 0 50px rgba(255, 255, 255, 0.9), 0 0 80px rgba(200, 200, 200, 1);
      }
      100% {
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.8), 0 0 60px rgba(150, 150, 150, 0.8);
      }
    }
  }

  .content__card-features__feature {
    &::after {
      content: attr(data-tooltip);
      color: $neutral-white;
      background: $cloud-deep-gray;
    }
  }

  .content-new-releases__register-btn {
    color: $neutral-black;

    &:hover {
      background: $cloud-dark-gray;
      color: $neutral-white;
    }

    &:focus,
    &:visited,
    &:active {
      background: $cloud-very-deep-gray;
      color: $cloud-light-gray;
    }
  }

  // Footer 
  .footer {
  background: $cloud-frosted-dark-gray;

    &__btn-register {
      background: $cloud-dark-gray;

      &:hover {
        background: $cloud-medium-gray;
        color: $neutral-white;
        box-shadow: none;
      }

      &:active {
        background: $cloud-deep-gray;
        box-shadow: none;
      }
    }

    &__btn-contact {
      background: $neutral-white;

      &:hover {
        background: $neutral-white;
        color: $cloud-medium-gray;
        box-shadow: none;
      }

      &:active {
        color: $cloud-deep-gray;
        background: $neutral-white;
        box-shadow: $shadow-cloud-primary;
        border: .125rem solid $cloud-light-gray;
      }
    }

    &__logo-wordmark {
      filter: grayscale(100%) brightness(0%) contrast(1);
    
      &:hover {
        filter: grayscale(100%) brightness(20%) contrast(1.2);
      }
    }

    &__copyright {
      color: $neutral-black;
    }

    &__about,
    &__privacy-policy,
    &__tac {
      border: none;
      box-shadow: none;
      color: $cloud-deep-gray;

      &:hover {
        color: $cloud-very-deep-gray;
        border: none;
        box-shadow: none;
      }

      &:focus,
      &:visited,
      &:active {
        border: none;
        box-shadow: none;
        color: $neutral-black;
      }
    }

    &__logo-container {
      &:hover {
        @include cloudBorderGlowLogo();
      }
    }

    &__about-link,
    &__privacy-policy-link, 
    &__tac-link {
      color: $cloud-deep-gray;

      &:hover {
        border: .0625rem solid $neutral-white;
        box-shadow: none;
        border-radius: .5rem;
        padding: .25rem;
      }

      &:active {
        border-radius: 1rem;
        background: $neutral-white;
        box-shadow: $shadow-tertiary;
      }
    }
  }
}