// Color palette 

// Define base color for primary darker blue
$base-darker-blue: #0E1C30;
$overlay-black: rgba(0, 0, 0, 0.2);

// Create mixed color for primary darker blue
$primary-darker-blue-overlay: mix($overlay-black, $base-darker-blue);

// Primary Colors
$primary-darker-blue: $primary-darker-blue-overlay;
$primary-dark-blue: #012E71;
$primary-medium-blue: #0045B6;
$primary-light-blue: #4092FF;
$primary-gradient-blue: #2575fc;
$primary-very-light-blue: #BBD9FF;
$primary-pale-blue: #EEF4FC;
$primary-cyan: #00C9FF;
$primary-light-cyan: #CBF4FF;
$primary-pale-cyan: #F1FEFE;
$primary-button-blue: #007bff;
$primary-button-dark-blue: #0056b3;

// Secondary Colors
$secondary-pink: #E66EB2;
$secondary-light-pink: #E8B3C5;
$secondary-very-light-pink: #FCE6F2;

// Neutral Colors
$neutral-black: #000000;
$neutral-dark-grey: #BCBCBC;
$neutral-light-grey: #F0F0F0;
$neutral-white: #FFFFFF;
$neutral-light-bg: #e9ecef;

// Feedback Colors
$feedback-success-green: #6FCF97;
$feedback-error-red: #FFA2A2;
$feedback-warning-yellow: #FFDC72;
$feedback-info-blue: #56CCF2;
$feedback-error-label: #C92929;
$feedback-error-peach: #FF7387;
$feedback-error-light-peach: #FF96A5;
$feedback-mint-green: #3EEBBE;
$feedback-mint-light-green: #68FCD6;
$toast-success: #068f6b;

// Gradient Colors
$primary-darker-blue-gradient: linear-gradient(180deg, rgb(14, 28, 48) 0%, rgb(0, 71, 163) 100%);
$primary-logo-bg-gradient: linear-gradient(180deg, rgb(14, 28, 48) 0%, rgb(64, 146, 255) 100%);
$primary-light-blue-gradient-bg: linear-gradient(180deg, rgb(64, 146, 255) 0%, rgb(64, 146, 255) 100%);
$primary-dark-blue-gradient: linear-gradient(#0E1C30, #4092FF);
$primary-medium-blue-gradient: linear-gradient(#0045B6, #00C9FF);
$primary-light-blue-gradient: linear-gradient(#4092FF, #EEF4FC);
$primary-icon-bg: linear-gradient(112deg, #0e1c30 0%, #4092ff 100%);

$secondary-pink-gradient: linear-gradient(#E66EB2, #E8B3C5);
$secondary-light-pink-gradient: linear-gradient(#E8B3C5, #FCE6F2);
$button-dark-gradient: linear-gradient(#4092FF, #0045B6);
$button-light-gradient: linear-gradient(#4092FF, #4092FF);

$neutral-grey-gradient: linear-gradient(#F0F0F0, #FFFFFF);
$neutral-black-gradient: linear-gradient(#000000, #F0F0F0);

$feedback-green-gradient: linear-gradient(#6FCF97, #E6FCE7);
$feedback-red-gradient: linear-gradient(to right, #FFE6E6 70%, #FFA2A2 100%);
$feedback-yellow-gradient: linear-gradient(#FFDC72, #FFF5CC);
$feedback-blue-gradient: linear-gradient(#56CCF2, #E0F7FF);

// Shadow definitions
$shadow-primary: 0px 0px 1px rgba(33, 37, 41, 0.32), 0px 4px 6px rgba(33, 37, 41, 0.2);
$shadow-secondary: 0 8px 16px rgba(0, 0, 0, 0.2); // for Hover menu
$shadow-tertiary: 0px 16px 24px -4px rgba(30, 41, 59, 0.16), 0px 2px 2px -1px rgba(30, 41, 59, 0.04);
$shadow-quaternary: 0px 12px 16px 0px rgba(0, 0, 0, 0.3);
$shadow-quinary: 0px 28px 84px 0px rgba(0, 0, 0, 0.18);
$shadow-senary: 0 0 8px rgba(0, 123, 255, 0.5); // for Input boxes
$shadow-septenary: 0 0 0 .1875rem rgba(64, 146, 255, 0.5);

// Frosted Glass
$frosted-glass: rgba(255, 255, 255, 0.1);
@mixin frosted-glass2 {
    background-color: rgba($primary-pale-blue, 0.5);
    backdrop-filter: blur(.625rem); 
    -webkit-backdrop-filter: blur(.625rem);
    overflow: hidden;
}

// Custom pastel colors for filter labels
$pastel-blue: #daeffe;
$pastel-dark-blue: #0066cc;
$pastel-dark-green: #008559;
$pastel-pink: #f6c1c1;
$pastel-dark-pink: #cc0066;
$pastel-orange: #FAD5A5;
$pastel-dark-orange: #dd6312;
$pastel-purple: #f3e8fa;
$pastel-dark-purple: #4B0082;
