@use 'colors' as *;
@use 'mixins' as *;

// Global Dark Mode Styles
[data-theme='dark'] {
    // Background and text colors
    background-color: $primary-darker-blue;
    color: $neutral-white;
  
    // Header styles
    .header {
      background-color: $primary-button-dark-blue;
      color: $primary-very-light-blue;
    }

    .header__logo {
        filter: invert(100%) sepia(100%) saturate(0%) brightness(1000%);
    }

    .header__search-bar,
    .header__search-input--mobile,
    .header__search-bar--mobile,
    .header__search-input {
        background-color: $primary-darker-blue;
    }

    .header__search-input--mobile,
    .header__search-input {
        border-radius: .25rem;
    }

    a {
      color: $neutral-white;
      text-shadow: $shadow-primary;
    }

    input {
      background-color: $primary-medium-blue;

      &:focus {
        background-color: $primary-dark-blue;
        color: $neutral-white;
      }
    }

    // Login Page
    .login {
      background-color: $primary-darker-blue;

      &__title {
        color: $neutral-white;
      }
    }

    // Register Page 
    .register {
      background-color: $primary-darker-blue;

      &__hero {
        background-image: none;
      }

      &__account-available,
      &__guest-text {
        color: $primary-very-light-blue;
      }

      &__title,
      &__terms-txt {
        color: $neutral-white;
      }

      &__content-card {
        background-color: $dark-mode-royal-blue;
      }

      &__container {
        background: $primary-dark-blue;
      }
    }

    // T&C and Privacy Policy
    .terms,
    .privacy {
      background-color: $dark-mode-deep-blue;

      &__content-card {
        background-color: $primary-very-light-blue;
      }

      &__nextstream-link {
        color: $dark-mode-royal-blue;
        text-shadow: $shadow-primary;

        &:hover {
          color: $neutral-white;
        }
      }
    }

    // Profile     
    .profile-img {
      &::before {
        background: none;
      }
    }

    .profile {
      background: $primary-darker-blue;
    
      &__main {
        background: $primary-dark-blue;
      }

      &__title {
        color: $primary-pale-blue;
      }

      &__content-details,
      &__content-password,
      &__content-notifications,
      &__content-subscription-container,
      &__content-region,
      &__dropdown {
        background-color: $primary-button-dark-blue;
      }

      &__dropdown {
        color: $neutral-white;
      }
    }

    // Top Picks
    .recommendations-page {
      background: $primary-darker-blue;
      margin: 0;

      @include desktop {
        padding: 2rem 3.5rem;
      }

      &__copy {
        color: $neutral-white;
      }
    }

    .light-blob-container {
      background: $primary-darker-blue;
    }

    // Streamboard 
    .streamboard {
      background: $frosted-glass;
    
      &__media-column--to_watch {
        background-color: $primary-medium-blue;
      }

      &__media-item {
        background-color: $primary-very-light-blue;
      }

      &__calendar-icon,
      &__trash-icon,
      &__media-type-icon {
        background-color: $primary-dark-blue;
        color: $neutral-white;

        &:hover{
          background-color: $neutral-white;
          color: $primary-button-blue;
        }

        &:active {
          color: $primary-dark-blue;
          background-color: $primary-very-light-blue;
        }
      }

      &__media-column--scheduled {
        background-color: $dark-mode-royal-blue;
      }

      &__media-column--watched {
        background-color: $dark-mode-deep-blue;
      }
    }

    // Homepage 
    .hero {
      background: linear-gradient(180deg, $primary-medium-blue 0%, $dark-mode-royal-blue 50%, $base-darker-blue 100%);
      border-bottom: 3px solid $primary-button-blue;

      &__title {
        color: $primary-very-light-blue;
      }

      &__subtitle {
        color: $neutral-white;
      }
    }

    .content {
      background-color: $base-darker-blue;

      &__new-releases-subtitle {
        color: $neutral-white;
      }

      &__new-releases {
        border-top: 3px solid $primary-medium-blue;
      }

      &__label-header-container,
      &__label-header-new-container {
        background: $frosted-glass;
      }

      &__label-features, 
      &__label-header-new-releases{
        color: $primary-very-light-blue;
      }

      &__card-features__feature__label {
        background-color: $primary-button-dark-blue;
        border: 3px solid $frosted-glass;
        color: $primary-very-light-blue;
        box-shadow: $shadow-tertiary;
      }
    }
  
    // Button styles
    .btn {
      background-color: $primary-medium-blue;
      color: $neutral-white;
  
      &:hover {
        background-color: $primary-light-blue;
      }
    }
  
    // Card styles
    .card {
      background-color: $primary-dark-blue;
      color: $neutral-white;
      box-shadow: $shadow-secondary;
    }
  
    // Add more components and global styles here as needed
  }
  