// Import partials
@use 'variables' as *;
@use 'colors' as *;
@use 'fonts' as *;

// Breakpoints mixins
@mixin mobile {
    @media screen and (min-width: #{$mobile-breakpoint}) {
        @content;
    }
}

@mixin small-mobile {
    @media (min-width: 321px) and (max-width: 374px) {
        @content;
    }
}

@mixin large-mobile {
    @media screen and (min-width: #{$large-mobile-breakpoint}) {
        @content;
    }
}

@mixin extra-large-mobile {
    @media screen and (min-width: #{$extra-large-mobile-breakpoint}) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: #{$tablet-breakpoint}) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{$desktop-breakpoint}) {
        @content;
    }
}

@mixin large-desktop {
    @media screen and (min-width: #{$large-desktop-breakpoint}) {
        @content;
    }
}

@mixin extra-large-desktop {
    @media screen and (min-width: #{$extra-large-desktop-breakpoint}) {
        @content;
    }
}

// Block item mixin
@mixin block-item($width, $height) {
    width: $width;
    height: $height;
}

// Font mixins
@mixin primary-font($weight) {
    font-family: "fieldwork", sans-serif;
    font-weight: $weight;
}
  
@mixin secondary-font($weight) {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: $weight;
}
  
@mixin tertiary-font($weight) {
    font-family: "IBM Plex Serif", serif;
    font-weight: $weight;
}
  
// Base button mixin
@mixin button-style {
    border-radius: .25rem;
    text-transform: uppercase;
    border: $secondary;
    font-size: .75rem;
    width: $width;
    height: $height;
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    border: none;
}

// Color variations for buttons
@mixin primary-button($width, $height) {
    @include button-style;
    background-color: $primary-dark-blue;
    color: $neutral-white;
}
  
@mixin secondary-button($width, $height) {
    @include button-style;
    background-color: $secondary-pink;
    color: $neutral-white;
}
  
@mixin success-button($width, $height) {
    @include button-style;
    background-color: $feedback-success-green;
    color: $neutral-black;
}
  
@mixin error-button($width, $height) {
    @include button-style;
    background-color: $feedback-error-red;
    color: $neutral-white;
}

// BG for TAC and Privacy Policy pages
@mixin bg-white {
    background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(.625rem);
    border-radius: 1rem;
    box-shadow: 0 .25rem .375rem rgba($neutral-black, .1);
}

// Frosted Glass
@mixin dark-frosted-glass {
    @each $property, $value in $dark-frosted-glass {
      #{$property}: #{$value};
    }
}  

// Trans-Mode Frosted Glass Effects and Graidents

// Trans Mode Glass Effect - Blue
@mixin trans-frosted-glass-blue {
    background-color: $trans-frosted-glass-blue;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  // Trans Mode Glass Effect - Pink
  @mixin trans-frosted-glass-pink {
    background-color: $trans-frosted-glass-pink;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  // Trans Mode Gradient Backgrounds
  @mixin trans-gradient-blue-pink {
    background: $trans-gradient-blue-pink;
  }
  
  @mixin trans-gradient-deepblue-softpink {
    background: $trans-gradient-deepblue-softpink;
  }
  
  @mixin trans-gradient-paleblue-candypink {
    background: $trans-gradient-paleblue-candypink;
  }
  
  @mixin trans-gradient-pastel {
    background: $trans-gradient-pastel;
  }
  
  @mixin trans-gradient-black-blue {
    background: $trans-gradient-black-blue;
  }  

// Animation for trans-mode
@mixin transAnimateBorder() {
    @keyframes transAnimateBorder {
      0% {
        border-color: $trans-deep-blue;
      }
      25% {
        border-color: $trans-blue;
      }
      35% {
        border-color: $trans-pale-blue;
      }
      50% {
        border-color: $trans-light-pink;
      }
      75% {
        border-color: $trans-candy-pink;
      }
      85% {
        border-color: $trans-soft-pink;
      }
      100% {
        border-color: $trans-pink;
      }
    }
  }
  
  @mixin transBorderAnimation {
    animation: transAnimateBorder 10s infinite alternate;
  }

@mixin transmodeBorderGlow() {
    @keyframes transmodeBorderGlow {
        0% {
        border-color: $trans-light-blue;
        }
        25% {
        border-color: $trans-light-pink;
        }
        50% {
        border-color: $trans-white;
        }
        75% {
        border-color: $trans-light-pink;
        }
        100% {
        border-color: $trans-light-blue;
        }
    }

    animation: transmodeBorderGlow 3s infinite alternate;
}

// Animation for cloud mode 
@mixin cloudAnimateBorder() {
    @keyframes cloudAnimateBorder {
      0% {
        border-color: $neutral-dark-grey; 
      }
      25% {
        border-color: $cloud-medium-gray; 
      }
      35% {
        border-color: $neutral-light-grey; 
      }
      50% {
        border-color: $cloud-light-gray; 
      }
      75% {
        border-color: $cloud-pale-gray; 
      }
      85% {
        border-color: $cloud-dark-gray; 
      }
      100% {
        border-color: $cloud-deep-gray; 
      }
    }
  }
  
  @mixin cloudBorderAnimation() {
    animation: cloudAnimateBorder 10s infinite alternate;
  }
  
  @mixin cloudBorderGlowLogo() {
    @keyframes cloudBorderGlowLogo {
      0% {
        border-color: $cloud-pale-gray; 
      }
      25% {
        border-color: $cloud-light-gray; 
      }
      50% {
        border-color: $cloud-medium-gray; 
      }
      75% {
        border-color: $cloud-dark-gray; 
      }
      100% {
        border-color: $cloud-deep-gray; 
      }
    }
  
    animation: cloudBorderGlowLogo 3s infinite alternate;
  }  

  // Animation for sun mode
  // Mixin for Border Glow Effect 
  @mixin sunBorderGlowLogo() {
    @keyframes sunBorderGlowLogo {
      0% {
        border-color: $sun-golden-hour;
      }
      25% {
        border-color: $sun-sunrise-orange;
      }
      50% {
        border-color: $sun-soft-lemon;
      }
      75% {
        border-color: $sun-morning-mist-blue;
      }
      100% {
        border-color: $sun-ocean-breeze;
      }
    }

    animation: sunBorderGlowLogo 3s infinite alternate;
  }

  // Mixin for Animated Border 
  @mixin sunAnimateBorder() {
    @keyframes sunAnimateBorder {
      0% {
        border-color: $sun-golden-hour;
      }
      25% {
        border-color: $sun-sunrise-orange;
      }
      35% {
        border-color: $sun-soft-lemon;
      }
      50% {
        border-color: $sun-pale-baby-blue;
      }
      75% {
        border-color: $sun-sunrise-sky;
      }
      85% {
        border-color: $sun-ocean-breeze;
      }
      100% {
        border-color: $sun-morning-mist-blue;
      }
    }
  }

  // Mixin for Animated Border 
  @mixin sunBorderAnimation {
    animation: sunAnimateBorder 17s infinite alternate;
  }