// Import partials
@use 'variables' as *;
@use 'colors' as *;
@use 'fonts' as *;

// Breakpoints mixins
@mixin mobile {
    @media screen and (min-width: #{$mobile-breakpoint}) {
        @content;
    }
}

@mixin small-mobile {
    @media (min-width: 321px) and (max-width: 374px) {
        @content;
    }
}

@mixin large-mobile {
    @media screen and (min-width: #{$large-mobile-breakpoint}) {
        @content;
    }
}

@mixin extra-large-mobile {
    @media screen and (min-width: #{$extra-large-mobile-breakpoint}) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: #{$tablet-breakpoint}) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{$desktop-breakpoint}) {
        @content;
    }
}

@mixin large-desktop {
    @media screen and (min-width: #{$large-desktop-breakpoint}) {
        @content;
    }
}

@mixin extra-large-desktop {
    @media screen and (min-width: #{$extra-large-desktop-breakpoint}) {
        @content;
    }
}

// Block item mixin
@mixin block-item($width, $height) {
    width: $width;
    height: $height;
}

// Font mixins
@mixin primary-font($weight) {
    font-family: "fieldwork", sans-serif;
    font-weight: $weight;
}
  
@mixin secondary-font($weight) {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: $weight;
}
  
@mixin tertiary-font($weight) {
    font-family: "IBM Plex Serif", serif;
    font-weight: $weight;
}
  
// Base button mixin
@mixin button-style {
    border-radius: 0.25rem;
    text-transform: uppercase;
    border: $secondary;
    font-size: .75rem;
    width: $width;
    height: $height;
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    border: none;
}

// Color variations for buttons
@mixin primary-button($width, $height) {
    @include button-style;
    background-color: $primary-dark-blue;
    color: $neutral-white;
}
  
@mixin secondary-button($width, $height) {
    @include button-style;
    background-color: $secondary-pink;
    color: $neutral-white;
}
  
@mixin success-button($width, $height) {
    @include button-style;
    background-color: $feedback-success-green;
    color: $neutral-black;
}
  
@mixin error-button($width, $height) {
    @include button-style;
    background-color: $feedback-error-red;
    color: $neutral-white;
}

// BG for TAC and Privacy Policy pages
@mixin bg-white {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  