@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.modal-forgot-password {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($neutral-black, .65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding-right: 1rem;
  padding-left: 1rem;

  &__container {
    @include block-item(20rem, 23rem);
    background: $frosted-glass;
    backdrop-filter: blur(4.375rem);
    padding: 2rem;
    border-radius: 1rem;
    max-height: 20rem; 
    box-shadow: $shadow-primary;
    display: flex;
    flex-direction: column;
    border: .25rem solid $frosted-glass;
    gap: 1rem;
    align-items: center;
    text-align: center;

    @include tablet {
      padding: 1rem;
      margin: 1rem;
    }
  }

  &__close {
    @include block-item(2rem, 2rem);
    color: $primary-medium-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    position: absolute;
    top: .75rem;
    right: 1rem;
    background: $primary-very-light-blue;
    border: .0625rem solid $neutral-white;
    box-shadow: $shadow-primary;
    padding: .25rem;
    font-size: 1.5rem;

    &:hover {
      transform: translateY(-.0938rem);
      background-color: $primary-dark-blue;
      color: $primary-very-light-blue;
      box-shadow: 0 .25rem 1.875rem rgba($neutral-black, .1);
    }

    &:active {
      transform: scale(.98);
      color: $neutral-white;
      box-shadow: inset 0 .1875rem .3125rem rgba($neutral-black, .125);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    label {
      margin-top: .65rem;
      margin-bottom: .5rem;
    }

    button {
      @include btn-secondary-container;
      background-color: $primary-very-light-blue;
      box-shadow: $shadow-primary;

      &:hover {
        background-color: $primary-dark-blue;
        font-weight: bold;
        color: $primary-very-light-blue;
        box-shadow: 0 .25rem 1.875rem rgba($neutral-black, .1);
      }

      &:active {
        transform: scale(.98);
        color: $neutral-white;
        box-shadow: inset 0 .1875rem .3125rem rgba($neutral-black, .125);
      }
    }
  }

  &__label-container {
    @include block-item(15rem, 4rem);
    border: .1875rem solid $primary-very-light-blue;
    box-shadow: $shadow-primary;
    border-radius: .75rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: .75rem;
  }

  &__label {
    @include block-item(12rem, 2rem);
    color: $neutral-white;
    box-shadow: $shadow-primary;
    font-size: 1rem;
    font-family: $primary-font;
    padding-bottom: .25rem;
    font-weight: 600;
    box-shadow: $shadow-primary;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    display: flex;
  }

  &__label-input {
    @include block-item(15rem, 5rem);
    border: .1875rem solid $primary-very-light-blue;
    box-shadow: $shadow-primary;
    border-radius: .75rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  &__label-txt {
    @include block-item(auto, 2rem);
    color: $primary-dark-blue;
    font-size: 1rem;
    font-family: $primary-font;
    font-weight: 400;
    margin-top: -.05rem;
    background-color: $neutral-white;
    border: .1875rem solid $primary-very-light-blue;
    box-shadow: $shadow-primary;
    border-radius: .5rem;
    justify-content: center;
    padding: 0 .5rem;
    align-items: center;
    display: flex;
  }

  &__input {
    font-family: $primary-font;
    width: calc(100% - 2rem);
    font-size: 1rem;
    font-weight: 400;
    padding: .5rem .75rem;
    outline: none;
    border: none;
    color: $primary-light-blue;
    border-radius: .5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;

    &::placeholder {
      color: $primary-light-blue;
    }

    &:focus {
      color: $primary-dark-blue;
      background-color: $neutral-white;
      box-shadow: $shadow-senary;
      border-radius: .5rem;
      border: .125rem solid $primary-dark-blue;
    }

    &:active {
      background-color: $primary-very-light-blue;
    }
  }

  &__message {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
  }

  .success {
    color: $feedback-mint-green;
    padding: .25rem;
    margin-bottom: .25rem;
    border-radius: .5rem;
    font-size: 1rem;
    text-align: center;
  }

  .error {
    color: $feedback-error-peach; 
    padding: .25rem;
    margin-bottom: .25rem;
    border-radius: .5rem;
    font-size: 1rem;
    text-align: center;
  }
}
