// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.friends-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: $primary-light-blue-gradient;
  padding: 2rem 1.75rem;

  @include tablet {
    padding: 5rem 2.5rem;
  }

  @include desktop {
    padding: 5rem 3.75rem;
  }

  &__heading-container {
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    margin-bottom: 1.25rem;
    text-shadow: .125rem .125rem .3125rem rgba($neutral-black, .2);
    color: $primary-pale-blue;
    padding: .5rem;
    width: 100%;
    // background: linear-gradient(145deg, $primary-dark-blue, darken($primary-button-blue, 5%));
    border-radius: .75rem;
    box-shadow: .3125rem .3125rem .9375rem rgba($neutral-black, .2), -.3125rem -3125rem .9375rem rgba(255, 255, 255, .1);
    border: .3125rem solid $primary-very-light-blue;
    position: relative;
    overflow: hidden;
    line-height: 2.15rem;

      @include tablet {
        padding: 1.5rem 1.75rem;
      }
  
      @include desktop {
        padding: 2rem 6rem;
        height: 25%;
      }
    
    &::before {
      content: "";
      @include block-item(100%, 100%);
      position: absolute;
      top: 0;
      left: -100%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 0) 100%);
      transform: skewX(-25deg);
      transition: left 1s;
    }

    &:hover::before {
      left: 100%;
      transition: left 1s;
    }
  }

  &__header {
    text-shadow: $shadow-primary;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    color: $neutral-white;
    font-family: $primary-font;
    font-size: 1.5rem;
    font-weight: bold;

    @include tablet {
      margin-bottom: 1rem;
      font-size: 2.5rem;
    }
  }

  &__copy {
    background: $neutral-white;
    border-radius: .75rem;
    color: $primary-medium-blue;
    text-shadow: none;
    font-size: .85rem;
    margin-bottom: .5rem;
    box-shadow: $shadow-primary;
    border: .3125rem solid $frosted-glass;
    line-height: 1.25rem;
    min-width: 13.5rem;
    padding: .75rem;

    @include tablet {
      font-size: 1.35rem;
      line-height: 1.75rem;
      min-width: 35rem;
      padding: 1.5rem;
    }
  }

  &__gradient-subtitle {
    font-weight: bold;
    background: linear-gradient(270deg, $primary-very-light-blue, $primary-gradient-blue, $primary-medium-blue);
    background-size: 600% 600%;
    margin-right: .35rem;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: GradientAnimation 10s ease infinite;
  }
  
  @keyframes GradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  &__main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 75rem;
    box-shadow: $shadow-quaternary;
    border-radius: 1.25rem;
    overflow: hidden;
    backdrop-filter: blur(1.25rem);
    background: $frosted-glass;
    box-shadow: $shadow-primary;
    padding: 1.25rem;
    gap: 1.25rem;

    @include desktop {
      flex-direction: row;
    }
  }

  &__search-section {
    background: $pastel-blue;
    border-radius: .9375rem;
    padding: 1.25rem;
    box-shadow: $shadow-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }


  &__pending-section {
    background: $secondary-light-pink-gradient;
    border-radius: .9375rem;
    padding: 1.25rem;
    box-shadow: $shadow-secondary;
  }

  &__chat {
    background: $feedback-mint-green;
    border-radius: .9375rem;
    padding: 1.25rem;
    box-shadow: $shadow-secondary;
  }

  &__list {
    background: $primary-cyan;
    border-radius: .9375rem;
    padding: 1.25rem;
    box-shadow: $shadow-secondary;
  }

  &__search-section,
  &__pending-section {
    margin-bottom: 1.25rem;

    @include tablet {
      flex: 1;
      margin-bottom: 0;
    }
  }

  &__accept-friend {
    padding: .5rem 1rem;
    background: $primary-button-dark-blue; 
    color: $neutral-white;
    border: none;
    border-radius: .5rem;
    margin-left: .5rem;
    cursor: pointer;
    box-shadow: $shadow-secondary;
    backdrop-filter: blur(.625rem);
    transition: background .3s ease, transform .2s ease;

    &:hover {
      background: $neutral-white;
      color: $primary-button-blue; 
      transform: translateY(-.125rem);
      box-shadow: $shadow-primary; 
      text-shadow: $shadow-primary;
    }

    &:active {
      transform: translateY(.0625rem); 
      box-shadow: $shadow-septenary;
    }
  }

  &__add-friend {
    padding: .5rem 1rem;
    background: $feedback-mint-light-green; 
    color: $pastel-dark-green;
    border: none;
    border-radius: .5rem;
    margin-left: .5rem;
    cursor: pointer;
    box-shadow: $shadow-secondary;
    backdrop-filter: blur(.625rem);
    transition: background .3s ease, transform .2s ease;

    &:hover {
        background: $primary-very-light-blue;
        color: $neutral-white; 
        transform: translateY(-.125rem);
        box-shadow: $shadow-primary; 
        text-shadow: $shadow-primary;
        border: .0625rem solid $neutral-white;
    }

    &:active {
      transform: translateY(.0625rem); 
      background: $frosted-glass;
      color: $feedback-success-green;
      text-shadow: none;
      font-weight: bold;
      border: .0625rem solid $feedback-success-green;
    }
  }

  &__search {
    width: 100%;
    padding: .625rem;
    border-radius: .625rem;
    border: none;
    box-shadow: $shadow-senary;
    backdrop-filter: blur(.3125rem);
    margin-bottom: .625rem;
  }

  &__search-button {
    padding: .625rem .9375rem;
    background: $primary-button-blue;
    border: none;
    color: $neutral-white;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: $shadow-secondary;
    transition: background .3s ease, transform .2s ease;

    &:hover {
      background: $primary-very-light-blue;
      transform: translateY(-.125rem);
      box-shadow: $shadow-primary; 
      text-shadow: $shadow-primary;
      border: .0625rem solid $neutral-white;
    }

    &:active {
        background: $neutral-white;
        color: $primary-button-blue;
        transform: translateY(.0625rem); 
        box-shadow: $shadow-septenary;
      }
  }

  &__remove-friend {
    padding: .5rem 1rem;
    background: $feedback-error-peach; 
    color: $dark-mode-deep-blue;
    border: none;
    border-radius: .5rem;
    margin-top: .25rem;
    cursor: pointer;
    box-shadow: $shadow-secondary;
    backdrop-filter: blur(.625rem);
    transition: background .3s ease, transform .2s ease;

    &:hover {
      background: $primary-cyan;
      color: $neutral-white; 
      transform: translateY(-.125rem);
      box-shadow: $shadow-primary; 
      text-shadow: $shadow-primary;
      border: .0625rem solid $neutral-white;
    }

    &:active {
      transform: translateY(.0625rem); 
      box-shadow: $shadow-septenary;
    }
  }

  &__search-container {
    position: relative;
  }

  &__card-subtitle--search {
    width: 100%;
  }

  &__card-subtitle--requests {
    width: 100%;
  }

  &__card-subtitle--friends {
    width: 100%;
  }

  &__card-subtitle--search,
  &__card-subtitle--requests,
  &__card-subtitle--friends {
    background: $frosted-glass;
    color: $primary-dark-blue;
    margin-bottom: .5rem;
    border-radius: .5rem;
    justify-content: center;
    border: .125rem solid $frosted-glass;
    text-align: center;
    box-shadow: $shadow-tertiary;
  }

  &__username {
    font-size: .75rem;
    background: $neutral-white;
    font-family: $secondary-font;
    box-shadow: $shadow-senary;
    padding: .25rem;
    border-radius: .5rem;
    border: .125rem solid $neutral-light-grey;
  }

  &__clear-button {
    position: absolute;
    right: .625rem;
    top: 15%;
    background: transparent;
    border: none;
    font-size: 1.25rem;
    color: $primary-dark-blue;
    cursor: pointer;
    transition: transform .2s ease;
  
    &:hover {
      color: $primary-button-blue;
      transform: scale(1.05);
    }

    &:active {
        color: $feedback-error-peach;
        transform: scale(.9);  
    }
  }

  &__search-results {
    margin-top: .625rem;

    p {
      font-size: .875rem;
      color: $primary-dark-blue;
    }

    &__search-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .625rem;
      width: 100%;
      background: $primary-light-cyan;
      border-radius: .625rem;
      box-shadow: $shadow-secondary;
      margin-bottom: .625rem;

      button {
        padding: .3125rem .625rem;
        background: $primary-light-blue;
        border: none;
        color: $neutral-white;
        border-radius: .5rem;
        cursor: pointer;
        transition: background .3s ease;

        &:hover {
          background: $primary-dark-navy-blue;
        }
      }
    }
  }

  &__pending-section {
    h3 {
      margin-bottom: .625rem;
      color: $primary-dark-blue;
    }

    p {
      font-size: .875rem;
      color: $primary-dark-blue;
    }

    &__pending-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .625rem;
      background: $primary-light-cyan;
      border-radius: .625rem;
      box-shadow: $shadow-secondary;
      margin-bottom: .625rem;

      button {
        padding: .3125rem .625rem;
        background: $primary-light-blue;
        border: none;
        color: $neutral-white;
        border-radius: .5rem;
        cursor: pointer;
        transition: background .3s ease;

        &:hover {
          background: $primary-dark-navy-blue;
        }
      }
    }
  }

  &__list {
    flex: 2;
    display: flex;
    flex-direction: column;
    border-right: .0625rem solid rgba(255, 255, 255, .2);
    
    h3 {
      margin-bottom: .625rem;
      color: $primary-dark-blue;
    }

    p {
      font-size: .875rem;
      color: $primary-dark-blue;
    }

    &__items {
      flex: 1;
      overflow-y: auto;
      margin-top: 1.25rem;

      &::-webkit-scrollbar {
        width: .3125rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $primary-dark-blue;
        border-radius: .625rem;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      padding: .9375rem;
      margin-bottom: .625rem;
      cursor: pointer;
      background-color: $primary-pale-cyan;
      border-radius: .75rem;
      transition: background .3s ease, box-shadow .3s ease;

      &.selected {
        background-color: $primary-light-blue;
        box-shadow: $shadow-primary;
      }

      &:hover {
        background-color: $primary-light-blue;
        box-shadow: $shadow-primary;
      }

      img {
        @include block-item(2.5rem, 2.5rem);
        border-radius: 50%;
        margin-right: .9375rem;
      }

      span {
        font-size: 1rem;
        color: $primary-dark-blue;
        font-weight: 600;
      }

      button {
        padding: .3125rem .625rem;
        background: $primary-light-blue;
        border: none;
        color: $neutral-white;
        border-radius: .5rem;
        cursor: pointer;
        transition: background .3s ease;

        &:hover {
          background: $primary-dark-navy-blue;
        }
      }
    }
  }

  &__left-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
  }

  &__chat-button {
    padding: 0.75rem 1.5rem;
    background-color: $primary-button-blue;
    color: $neutral-white;
    border-radius: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: darken($primary-button-blue, 10%);
    }
  }

  &__chat-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background: $frosted-glass;
    border-radius: 1rem;
    box-shadow: $shadow-primary;
    backdrop-filter: blur(1rem);
  }

  &__chat {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.25rem;
    background: $primary-pale-blue;
    border-radius: 1.25rem;
  }

  &__chat-header {
    display: flex;
    align-items: center;
    padding-bottom: .9375rem;
    border-bottom: .0625rem solid rgba(255, 255, 255, .2);

    span {
      font-size: 1.125rem;
      font-weight: 600;
      color: $primary-dark-blue;
    }
  }

  &__messages {
    flex: 1;
    padding: 1.25rem;
    overflow-y: auto;
    background: rgba(255, 255, 255, .5);
    border-radius: .625rem;
    box-shadow: $shadow-secondary;
    backdrop-filter: blur(.3125rem);
    margin-bottom: 1.25rem;

    &::-webkit-scrollbar {
      width: .3125rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary-dark-blue;
      border-radius: .625rem;
    }
  }

  &__message {
    margin-bottom: .9375rem;
    padding: .625rem .9375rem;
    border-radius: .75rem;
    max-width: 70%;
    position: relative;
    font-size: .9375rem;
    line-height: 1.4;
    background-color: $primary-pale-cyan;
    box-shadow: $shadow-primary;

    &.me {
      align-self: flex-end;
      background-color: $primary-light-blue;
    }

    &.friend {
      align-self: flex-start;
      background-color: $primary-dark-navy-blue;
      color: $neutral-white;
    }
  }

  &__user-info {
    color: $dark-mode-royal-blue;
  }

  &__avatar-default {
    color: $dark-mode-royal-blue;
  }

  &__friend-info {
    border: .0625rem solid $neutral-white;
    box-shadow: $shadow-primary;
    border-radius: .5rem;
    padding: .25rem .75rem;
    cursor: pointer;
  }

  &__message-input {
    display: flex;
    align-items: center;
    background: $primary-very-light-blue;
    padding: .625rem;
    border-radius: .625rem;
    box-shadow: $shadow-tertiary;

    input {
      flex: 1;
      border: none;
      padding: .625rem;
      border-radius: .5rem;
      margin-right: .625rem;
      background: $primary-light-cyan;
      box-shadow: $shadow-senary;
    }

    button {
      padding: .625rem 1.25rem;
      background: $primary-button-blue;
      border: none;
      color: $neutral-white;
      border-radius: .5rem;
      cursor: pointer;
      box-shadow: $shadow-secondary;
      transition: background .3s ease;

      &:hover {
        background: $primary-button-dark-blue;
      }
    }
  }

  &__typing {
    font-size: .875rem;
    color: $secondary-light-pink;
    margin-top: -.625rem;
  }

  &__select-friend {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.125rem;
    color: $primary-dark-blue;
  }
}