// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.glassmorphic-card--shared {
  backdrop-filter: blur(.625rem);
  background: rgba(224, 247, 250, .5); 
  box-shadow: 0 .5rem 2rem rgba(31, 38, 135, .37);
  border: .0625rem solid rgba(255, 255, 255, .18);
}

.friends-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $primary-light-blue-gradient;
    padding: 1.55rem;
    min-height: 100vh;
    position: relative;

  @include tablet {
    padding: 5rem 2.5rem;
  }

  @include desktop {
    padding: 5rem 3.75rem;
  }

  &__cal-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__close-icon {
    color: $neutral-white;
  }

  &__close-cal-txt {
    margin-left: .25rem;
    font-family: $secondary-font;
    color: $neutral-white;
  }

  &__cal-icon-container {
    @include block-item(9.5rem, 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
    gap: 0.25rem;
    color: $primary-dark-blue;
    background: $feedback-mint-vibrant-green;
    border-radius: .75rem;
    box-shadow: 0 5px 15px rgba(0, 255, 127, 0.4);
    border: 3px solid $feedback-mint-light-green;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: popBounce 0.9s cubic-bezier(0.25, 0.8, 0.25, 1), pulseGlow 3s infinite alternate ease-in-out;

    &:hover {
        transform: scale(1.1) rotate(2deg);  
        background: $neutral-white;
        color: $feedback-medium-green;
        border: 2px solid $feedback-very-light-mint-green;
    }

    &:active {
        transform: scale(0.95);
        background: $feedback-mint-vibrant-green;
        border: 1px solid $neutral-white;
        color: $neutral-white;
        box-shadow: 0 8px 20px rgba(0, 255, 127, 0.6);
        text-shadow: $shadow-primary;
        animation: rippleEffect 0.4s ease-out;
        border-radius: 1rem;
        font-weight: bold;
    }

    @keyframes popBounce {
        0% {
            transform: scale(0) translateY(-100%);
            opacity: 0;
        }
        60% {
            transform: scale(1.05) translateY(10%);
            opacity: 1;
        }
        100% {
            transform: scale(1) translateY(0);
        }
    }

    @keyframes pulseGlow {
        0% {
            box-shadow: 0 5px 15px rgba(0, 255, 127, 0.4);
        }
        100% {
            box-shadow: 0 5px 20px rgba(0, 255, 127, 0.7);
        }
    }

    @keyframes rippleEffect {
        0% {
            box-shadow: 0 0 0 0 rgba($neutral-white, 0.5);
        }
        100% {
            box-shadow: 0 0 30px 30px rgba($feedback-mint-light-green, 0);
        }
    }
  }

  &__show-cal-txt {
    font-family: $secondary-font;
    text-shadow: $shadow-primary;
  }

  &__close-btn {
    @include block-item(9.5rem, 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-dark-blue;
    background: $primary-button-blue;
    border-radius: .75rem;
    border: 3px solid $primary-light-blue;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: popBounce 0.9s cubic-bezier(0.25, 0.8, 0.25, 1), pulsingGlow 3s infinite alternate ease-in-out;

    &:hover {
      transform: scale(1.1) rotate(-2deg);  
      background: $primary-medium-blue;
      border: 2px solid $primary-button-blue;
    }

    &:active {
      transform: scale(0.95);
      background: $primary-light-blue;
      border: 1px solid $neutral-white;
      color: $neutral-white;
      text-shadow: $shadow-primary;
      animation: ripplingEffect 0.4s ease-in;
      border-radius: 1rem;
      font-weight: bold;
    }

    @keyframes popBounce {
      0% {
          transform: scale(0) translateY(-100%);
          opacity: 0;
      }
      60% {
          transform: scale(1.05) translateY(10%);
          opacity: 1;
      }
      100% {
          transform: scale(1) translateY(0);
      }
    }

    @keyframes pulsingGlow {
        0% {
            box-shadow: 0 5px 15px rgba($primary-button-blue, 0.4);
        }
        100% {
            box-shadow: 0 5px 20px rgba($primary-button-blue, 0.7);
        }
    }

    @keyframes ripplingEffect {
        0% {
            box-shadow: 0 0 0 0 rgba($primary-button-blue, 0.5);
        }
        100% {
            box-shadow: 0 0 30px 30px rgba($primary-medium-blue, 0);
        }
    }
  }

  &__cal-events-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include desktop {
      flex-direction: row;
      gap: 1.25rem;
    }
  }

  &__container--bottom {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 75rem;
    box-shadow: $shadow-quaternary;
    border-radius: 1.25rem;
    overflow: hidden;
    backdrop-filter: blur(1.25rem);
    background: $frosted-glass;
    box-shadow: $shadow-primary;
    padding: 1.25rem;
    gap: 1.25rem;

    @include desktop {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__header {
    text-shadow: $shadow-primary;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    color: $neutral-white;
    font-family: $primary-font;
    font-size: 1.5rem;
    font-weight: bold;

    @include tablet {
      margin-bottom: 1rem;
      font-size: 2.5rem;
    }
  }

  &__no-msgs {
    font-size: .85rem;
    color: $primary-dark-blue;
    text-align: center;
  }

  &__msg-placeholder {
    font-family: $secondary-font;
    font-size: .85rem;
    color: $primary-medium-blue;
  }

  &__chat-close {
    cursor: pointer;
    background: $neutral-white;
    color: $primary-cyan;
    position: absolute;
    font-size: .75rem;
    right: 1.5rem;
    box-shadow: $shadow-primary;
    padding: .15rem;
    border: .125rem solid $primary-very-light-blue;
    border-radius: .4rem;
    transition: background .3s ease, transform .2s ease;

    &:hover {
        background: $primary-button-blue;
        color: $neutral-white;
        text-shadow: $shadow-primary;
        transform: translateY(-.125rem);
    }

    &:active {
        background: $primary-light-cyan;
        color: $primary-cyan;
        text-shadow: $shadow-primary;
        border: .125rem solid $primary-cyan;
        box-shadow: $shadow-senary;
        transform: translateY(.0625rem); 
    }
  }
  
  &__chat-action-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__input-btns-container {
    display: flex;
    gap: .25rem;
  }

  &__clear-btn,
  &__send-btn {
    @include block-item (1.5rem, 2.25rem);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem .5rem;
    background: $primary-light-blue;
    border: none;
    color: $neutral-white;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: $shadow-senary;
    backdrop-filter: blur(.625rem);
    transition: background .3s ease, transform .3s ease-in-out;

    &:hover {
        background: $frosted-glass !important;
        color: $neutral-white; 
        transform: translateY(-.125rem);
        box-shadow: $shadow-primary; 
        text-shadow: $shadow-primary;
        border: .0625rem solid $neutral-white;
      }
  
    &:active {
      transform: scale(.95);
        box-shadow: $shadow-septenary;
        color: $primary-medium-blue !important;
        background: $primary-light-cyan !important;
    }

    @include tablet {
      padding: .3125rem .625rem;

    }
  }

  &__heading-container {
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    margin-bottom: 1.25rem;
    text-shadow: .125rem .125rem .3125rem rgba($neutral-black, .2);
    color: $primary-pale-blue;
    padding: 1.5rem;
    width: 100%;
    background: linear-gradient(145deg, $primary-very-light-blue, darken($primary-button-blue, 5%));
    border-radius: .75rem;
    box-shadow: .3125rem .3125rem .9375rem rgba($neutral-black, .2), -.3125rem -3125rem .9375rem rgba(255, 255, 255, .1);
    border: .3125rem solid $primary-very-light-blue;
    position: relative;
    overflow: hidden;
    line-height: 2.15rem;

      @include tablet {
        padding: 1.5rem 1.75rem;
      }
  
      @include desktop {
        padding: 2rem 6rem;
        max-width: 155rem;
      }
    
    &::before {
      content: "";
      @include block-item(100%, 100%);
      position: absolute;
      top: 0;
      left: -100%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, 0) 100%);
      transform: skewX(-25deg);
      transition: left 1s;
    }

    &:hover::before {
      left: 100%;
      transition: left 1s;
    }
  }

  &__copy {
    background: $neutral-white;
    border-radius: .75rem;
    color: $primary-medium-blue;
    text-shadow: none;
    font-size: .85rem;
    margin-bottom: .5rem;
    box-shadow: $shadow-primary;
    border: .3125rem solid $frosted-glass;
    line-height: 1.25rem;
    min-width: 13.5rem;
    padding: .75rem;

    @include tablet {
      font-size: 1.35rem;
      line-height: 1.75rem;
      min-width: 35rem;
      padding: 1.5rem;
    }
  }

  &__gradient-subtitle {
    font-weight: bold;
    background: linear-gradient(270deg, $primary-very-light-blue, $primary-gradient-blue, $primary-medium-blue);
    background-size: 600% 600%;
    margin-right: .35rem;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: GradientAnimation 10s ease infinite;
  }
  
  @keyframes GradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  &__main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 75rem;
    box-shadow: $shadow-quaternary;
    border-radius: 1.25rem;
    overflow: hidden;
    backdrop-filter: blur(1.25rem);
    background: $frosted-glass;
    box-shadow: $shadow-primary;
    padding: 1.25rem;
    gap: 1.25rem;

    @include desktop {
      flex-direction: row;
    }
  }

  &__shared-calendar__item {
    border: .0625rem solid $neutral-white;
    display: flex;
    align-items: center;
    padding: .9375rem;
    border-radius: .75rem;
    box-shadow: $shadow-primary;
  }

  &__search-section {
    background: $pastel-blue;
    border-radius: .9375rem;
    padding: 1.25rem;
    box-shadow: $shadow-secondary;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  &__pending-section {
    background: $secondary-light-pink-gradient;
    border-radius: .9375rem;
    padding: 1.25rem;
    box-shadow: $shadow-secondary;
  }

  &__chat {
    background: $feedback-mint-green;
    border-radius: .9375rem;
    padding: 1.25rem;
    box-shadow: $shadow-secondary;
  }

  &__list {
    background: $primary-cyan;
    border-radius: .9375rem;
    padding: 1.25rem;
    box-shadow: $shadow-secondary;
  }

  &__search-section,
  &__pending-section {
    margin-bottom: 1.25rem;

    @include tablet {
      flex: 1;
      margin-bottom: 0;
    }
  }

  &__friend-requests-actions {
    display: flex;
    gap: .5rem;
  }

  &__video-container {
    border: .35rem solid $primary-light-blue;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background: $primary-button-blue;
    box-shadow: $shadow-senary;
  }

  &__friends-video {
    @include block-item(15.5rem, auto);

    @include tablet {
      @include block-item(31.25rem, auto);
    }
  }
  
  &__accept-friend {
    background: $feedback-mint-light-green;
    color: $feedback-dark-green;
    padding: .5rem 1.5rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: $shadow-secondary;
    transition: transform .3s ease, box-shadow .3s ease, background-color .3s ease;
  
    &:hover {
      box-shadow: 0 0 .625rem .125rem $feedback-mint-vibrant-green, 0 0 .9375rem .1875rem rgba(255, 255, 255, .6);
    }
  
    &:active {
      animation: scaleAndCheck .8s forwards;
      background: $feedback-very-light-mint-green;
      box-shadow: 0 0 .625rem .125rem $feedback-mint-vibrant-green, 0 0 .9375rem .1875rem rgba(255, 255, 255, .6);
    }
  }
  
  @keyframes scaleAndCheck {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    70% {
      background-color: $feedback-mint-vibrant-green;
    }
    100% {
      transform: scale(1);
    }
  }

  &__decline-friend {
    padding: .5rem 1.5rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: $shadow-secondary;
    transition: transform .3s ease, box-shadow .3s ease, background-color .3s ease;
  
    &:hover {
      box-shadow: 0 0 .625rem .125rem $feedback-error-peach, 0 0 .9375rem .1875rem rgba(255, 255, 255, .6);
    }

    &:active {
      animation: scaleAndCheck .8s forwards;
      box-shadow: 0 0 .625rem .125rem $frosted-glass, 0 0 .9375rem .1875rem rgba(255, 255, 255, .6);
    }
  }
  
  @keyframes scaleAndCheck {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    70% {
      background-color: $frosted-glass;
    }
    100% {
      transform: scale(1);
    }
  }

  &__add-friend {
    padding: .5rem 1rem;
    background: $feedback-mint-light-green; 
    color: $pastel-dark-green;
    border: none;
    border-radius: .5rem;
    margin-left: .5rem;
    cursor: pointer;
    box-shadow: $shadow-secondary;
    backdrop-filter: blur(.625rem);
    transition: background .3s ease, transform .2s ease;
  
    &:hover {
      animation: bounceHover .5s ease-in-out;
    }

    &:active {
      animation: rippleOut .8s forwards;
    }
  }

  @keyframes bounceHover {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-.3125rem);
    }
  }

  @keyframes rippleOut {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, .5);
    }
    100% {
      box-shadow: 0 0 .9375rem .3125rem rgba($feedback-mint-vibrant-green, .6);
      color: $feedback-medium-green;
      background: $neutral-white;
      border: .125rem solid $feedback-mint-vibrant-green;
    }
  }

  &__search {
    width: 100%;
    padding: .625rem;
    border-radius: .625rem;
    border: none;
    box-shadow: $shadow-senary;
    backdrop-filter: blur(.3125rem);
    margin-bottom: .625rem;
  }

  &__search-button {
    padding: .625rem .9375rem;
    background: $primary-button-blue;
    border: none;
    color: $neutral-white;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: $shadow-secondary;
    transition: background .3s ease, transform .2s ease;

    &:hover {
      background: $primary-very-light-blue;
      transform: translateY(-.125rem);
      box-shadow: $shadow-primary; 
      text-shadow: $shadow-primary;
      border: .0625rem solid $neutral-white;
    }

    &:active {
        background: $neutral-white;
        color: $primary-button-blue;
        transform: translateY(.0625rem); 
        box-shadow: $shadow-septenary;
      }
  }

  &__remove-friend {
    padding: .5rem 1rem;
    background: $feedback-error-peach; 
    color: $dark-mode-deep-blue;
    border: none;
    border-radius: .5rem;
    margin-top: .25rem;
    margin-bottom: .5rem;
    cursor: pointer;
    box-shadow: $shadow-secondary;
    backdrop-filter: blur(.625rem);
    transition: background .3s ease, transform .2s ease;

    &:hover {
      background: $primary-cyan;
      color: $neutral-white; 
      transform: translateY(-.125rem);
      box-shadow: $shadow-primary; 
      text-shadow: $shadow-primary;
      border: .0625rem solid $neutral-white;
    }

    &:active {
      animation: explodeEffect .8s forwards;
    }
  }

  @keyframes explodeEffect {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: .7;
    }
    100% {
      transform: scale(0);
      opacity: 0;
      filter: blur(.25rem);
    }
  }

  &__search-container {
    position: relative;
  }

  &__card-subtitle--search,
  &__card-subtitle--shared,
  &__card-subtitle--requests,
  &__card-subtitle--pendingrequests,
  &__card-subtitle--friends {
    margin-bottom: .5rem;
  }

  &__card-subtitle--search,
  &__card-subtitle--shared,
  &__card-subtitle--pendingrequests,
  &__card-subtitle--requests,
  &__card-subtitle--friends,
  &__chat-header-title {
    background: $frosted-glass;
    color: $primary-dark-blue;
    border-radius: .5rem;
    justify-content: center;
    border: .125rem solid $frosted-glass;
    text-align: center;
    width: 100%;
    box-shadow: $shadow-tertiary;
  }

  &__chat-header-title {
    margin-bottom: -.4rem;
    font-family: $secondary-font;
  }

  &__username--search {
    font-size: .75rem;
    background: $pastel-dark-blue;
    font-family: $secondary-font;
    box-shadow: $shadow-senary;
    color: $pastel-blue;
    text-shadow: $shadow-primary;
    font-weight: bold;
    padding: .25rem;
    border-radius: .5rem;
    border: .125rem solid $pastel-blue;
  }

  &__friend-info-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__notification-container {
    gap: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__bell-icon-btn {
    background: none;
    border: none;
  }

  &__avatar-default {
    color: $primary-dark-blue;
    font-size: 1.15rem;
  }

  &__bell-icon {
    color: $neutral-white;
    font-size: 1.25rem;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
  
    &:hover {
      color: $primary-button-blue;
      transform: scale(1.5);
      animation: bell-shake 0.5s ease infinite; 
    }

    &:active {
      color: $primary-dark-blue;
    }
  
    @keyframes bell-shake {
      0% { transform: rotate(0); }
      25% { transform: rotate(10deg); }
      50% { transform: rotate(0); }
      75% { transform: rotate(-10deg); }
      100% { transform: rotate(0); }
    }  
  }

  &__unread-msg-count {
    text-shadow: $shadow-primary; 
    padding: .1rem .65rem;
    border: .0625rem solid $neutral-white;
    border-radius: .5rem;
    color: $neutral-white;
    box-shadow: $shadow-primary;
  }

  &__username--pending {
    font-size: .75rem;
    font-family: $secondary-font;
    text-shadow: $shadow-primary;
    background: $feedback-error-peach;
    color: $pastel-pink;
    padding: .25rem;
    margin-right: .5rem;
    font-weight: bold;
    border-radius: .5rem;
    border: .125rem solid $feedback-error-light-peach;
  }

  &__clear-button {
    position: absolute;
    right: .625rem;
    top: 15%;
    background: transparent;
    border: none;
    font-size: 1.25rem;
    color: $primary-dark-blue;
    cursor: pointer;
    transition: transform .2s ease;
  
    &:hover {
      color: $primary-button-blue;
      transform: scale(1.05);
    }

    &:active {
        color: $feedback-error-peach;
        transform: scale(.9);  
    }
  }

  &__search-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .625rem;
    width: 100%;
    background: $frosted-glass;
    border-radius: .625rem;
    box-shadow: $shadow-quinary;
    margin-bottom: .625rem;
  }

  &__search-results {
    margin-top: .625rem;

    p {
      font-size: .875rem;
      color: $primary-dark-blue;
    }
  }

  &__pending-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .625rem;
    background: $feedback-error-very-light-peach;
    border-radius: .625rem;
    box-shadow: $shadow-quinary;
    margin-bottom: .625rem;
  }

  &__pending-section {
    h3 {
      margin-bottom: .625rem;
      color: $primary-dark-blue;
    }

    p {
      font-size: .875rem;
      color: $primary-dark-blue;
    }
  }

  &__list {
    flex: 2;
    display: flex;
    flex-direction: column;
    border-right: .0625rem solid rgba(255, 255, 255, .2);
    
    h3 {
      margin-bottom: .625rem;
      color: $primary-dark-blue;
    }

    p {
      font-size: .875rem;
      color: $primary-dark-blue;
    }

    &__items {
      flex: 1;
      overflow-y: auto;
      margin-top: 1.25rem;

      &::-webkit-scrollbar {
        width: .3125rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $primary-dark-blue;
        border-radius: .625rem;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      padding: .9375rem;
      margin-bottom: .625rem;
      cursor: pointer;
      background-color: $primary-pale-cyan;
      border-radius: .75rem;
      transition: background .3s ease, box-shadow .3s ease;
    }
  }

  &__left-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
  }

  &__chat-button {
    padding: .5rem 1rem;
    background: $primary-pale-cyan; 
    color: $primary-button-blue;
    border: none;
    border-radius: .5rem;
    margin-top: .25rem;
    margin-bottom: .5rem;
    cursor: pointer;
    position: relative;
    box-shadow: $shadow-senary;
    backdrop-filter: blur(.625rem);
    transition: background .3s ease, transform .3s ease;
  
    &:hover {
      animation: messagePulse 1s infinite;
      background: $primary-cyan;
      color: $neutral-white;
      text-shadow: $shadow-primary;
      border: .0625rem solid $frosted-glass;
      transform: translateY(-.125rem);
      box-shadow: 0 .25rem .75rem rgba($neutral-black, .2);
    }
  
    &:active {
      animation: sendMessage .6s forwards;
      background: $primary-gradient-blue;
      color: $neutral-white;
    }
  }
  
  @keyframes messagePulse {
    0% {
      box-shadow: 0 0 0 0 rgba($primary-electric-cyan, .5);
    }
    100% {
      box-shadow: 0 0 .9375rem .625rem rgba($primary-electric-cyan, 0);
    }
  }
  
  @keyframes sendMessage {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05) translateY(-.125rem);
    }
    100% {
      transform: scale(.9) translateY(.3125rem);
      opacity: .5;
    }
  }
  
  &__chat-button::after {
    content: "✈";
    position: absolute;
    font-size: 1.25rem;
    color: $neutral-white;
    opacity: 0;
    transition: opacity .3s ease, transform .6s ease;
  }
  
  &__chat-button:active::after {
    opacity: 1;
    transform: translateX(1.25rem); 
  }

  &__chat-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background: $frosted-glass;
    border-radius: 1rem;
    box-shadow: $shadow-primary;
    backdrop-filter: blur(1rem);
  }

  &__chat {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.25rem;
    background: $primary-pale-blue;
    border-radius: 1.25rem;
  }

  &__chat-header {
    display: flex;
    align-items: center;
    padding-bottom: .9375rem;
    border-bottom: .0625rem solid rgba(255, 255, 255, .2);

    span {
      font-size: 1.125rem;
      font-weight: 600;
      color: $primary-dark-blue;
    }
  }

  &__messages {
    flex: 1;
    padding: 1.25rem;
    overflow-y: auto;
    background: rgba(255, 255, 255, .5);
    border-radius: .625rem;
    box-shadow: $shadow-secondary;
    backdrop-filter: blur(.3125rem);
    margin-bottom: 1.25rem;

    &::-webkit-scrollbar {
      width: .3125rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary-dark-blue;
      border-radius: .625rem;
    }
  }

  &__message {
    margin-bottom: .9375rem;
    padding: .625rem .9375rem;
    display: flex;
    justify-content: space-between;
    border-radius: .75rem;
    max-width: 100%;
    position: relative;
    font-size: .9375rem;
    line-height: 1.4;
  
    &.me {
      &.unread {
        opacity: 1;
        font-weight: bold;
        border-radius: .9375rem .9375rem 0 .9375rem;
        background: $primary-button-blue;
        color: $neutral-white;
        border: .125rem solid $neutral-white;
        text-shadow: $shadow-primary;
        box-shadow: $shadow-quaternary;
        font-family: $primary-font;
      }
  
      &.read {
        opacity: .9;
        border-radius: .9375rem .9375rem 0 .9375rem;
        border: .0625rem solid $pastel-blue;
        background: $primary-light-blue;
        color: $pastel-blue;
        font-family: $primary-font;
      }
    }
  
    &.sender {
      &.unread {
        opacity: 1;
        font-weight: bold;
        border-radius: .9375rem .9375rem .9375rem 0;
        color: $neutral-white;
        background: $feedback-mint-green;
        border: .125rem solid $neutral-white;
        box-shadow: $shadow-quaternary;
        font-family: $secondary-font;
        text-shadow: $shadow-primary;
      }
  
      &.read {
        opacity: .9;
        border-radius: .9375rem .9375rem .9375rem 0;
        background: $feedback-mint-green;
        color: $neutral-white;
        border: .0625rem solid $feedback-mint-green;
        font-family: $secondary-font;
      }
    }
  }

  &__pending-count {
    margin-left: .5rem; 
    padding: .1rem .5rem;
    color: $feedback-dark-orange;
    border: .0625rem solid $neutral-white;
    background: $feedback-light-orange;
    border-radius: .5rem;
    box-shadow: $shadow-primary;
  }

  &__shared-count {
    margin-left: .5rem; 
    padding: .1rem .5rem;
    border: .0625rem solid $neutral-white;
    background: $feedback-mint-light-green;
    border-radius: .5rem;
    color: $pastel-dark-green;
    box-shadow: $shadow-primary;
  }

  &__delete-icon {
    color: $feedback-error-peach;
    transition: background-color .3s ease, transform .5s ease; 
    display: inline-block;  
    padding: .15rem;       
    border-radius: .5rem; 
  
    @keyframes wiggle {
      0%, 100% { transform: rotate(0deg); }
      15% { transform: rotate(-10deg); }
      30% { transform: rotate(10deg); }
      45% { transform: rotate(-10deg); }
      60% { transform: rotate(10deg); }
      75% { transform: rotate(-5deg); }
      90% { transform: rotate(5deg); }
    }
  
    &:hover {
      animation: wiggle .6s ease-in-out, backgroundSlide .9s forwards;
      background: $neutral-white;
      color: $feedback-error-peach;
      cursor: pointer;  
      box-shadow: $shadow-primary;
    }
  
    &:active {
      background-color: $feedback-error-light-peach;
      font-weight: bold;
      transform: scale(.9);
      background: $feedback-error-peach;
      color: $feedback-mint-green;
    }
  
    &:focus {
      outline: none;
      box-shadow: $shadow-primary;
    }
  }
  
  &__user-info {
    color: $dark-mode-royal-blue;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__friend-info {
    border: .0625rem solid $neutral-white;
    box-shadow: $shadow-primary;
    border-radius: .5rem;
    padding: .25rem .75rem;
  }

  &__message-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $primary-very-light-blue;
    padding: .625rem;
    border-radius: .625rem;
    gap: .5rem;
    box-shadow: $shadow-tertiary;

    @include large-mobile {
      flex-direction: row;
    }

    input {
      flex: 1;
      border: none;
      width: 100%;
      padding: .625rem;
      border-radius: .5rem;
      background: $primary-light-cyan;
      box-shadow: $shadow-senary;
    }

    button {
      padding: .625rem 1.25rem;
      background: $primary-button-blue;
      border: none;
      color: $neutral-white;
      border-radius: .5rem;
      cursor: pointer;
      box-shadow: $shadow-secondary;
      transition: background .3s ease;

      &:hover {
        background: $primary-button-dark-blue;
      }
    }
  }

  &__typing {
    font-size: .875rem;
    color: $secondary-light-pink; 
    margin-top: .25rem;
  }

  &__chat-header {
    border: none;
  }

  &__select-friend {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.125rem;
    color: $primary-dark-blue;
  }

  &__decline-friend {
    padding: .5rem 1rem;
    background: $feedback-error-peach;
    color: $neutral-white;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: background .3s ease, transform .2s ease;
  
    &:hover {
      background: darken($feedback-error-peach, 10%);
    }
  
    &:active {
      transform: translateY(.0625rem);
      background: darken($feedback-error-peach, 15%);
    }
  }

  &__pending-calendar {
    background: $feedback-light-orange;
  }

  &__shared-calendar {
    background: $feedback-mint-green;
  }

  &__delete-invite-btn {
    padding: .5rem 1rem;
    color: $pastel-dark-pink;
    background: $feedback-error-light-peach;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    box-shadow: $shadow-secondary;
    transition: background .3s ease, transform .2s ease;

    &:hover {
      background: none;
      transform: translateY(-.125rem);
      box-shadow: $shadow-primary;
      color: $neutral-white;
      border: .0625rem solid $neutral-white;
    }

    &:active {
      background: $pastel-pink;
      color: $pastel-dark-pink;
      transform: translateY(.0625rem);
      box-shadow: none;
      border: none;
    }
  }

  &__pending-calendar,
  &__shared-calendar {
    width: 100%;
    padding: 1.25rem;
    border-radius: .9375rem;
    box-shadow: $shadow-secondary;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 1.15rem;
      font-family: $secondary-font;
      font-weight: bold;
      color: $primary-dark-blue;
      margin-bottom: 1rem;
    }

    p {
      font-size: .875rem;
      color: $primary-dark-blue;
      margin-bottom: .5rem;
      line-height: 1.5rem;
    }

    &__pending-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      background: $primary-pale-blue;
      border-radius: .75rem;
      box-shadow: $shadow-tertiary;
      margin-bottom: 1rem;

      .friends-page__calendar-info {
        flex: 1;

        p {
          font-size: .875rem;
          margin-bottom: .25rem;
          strong {
            color: $primary-dark-blue;
          }
        }
      }

      .friends-page__calendar-actions {
        display: flex;
        gap: .5rem;

        button {
          padding: .5rem 1rem;
          background: $primary-button-blue;
          color: $neutral-white;
          border-radius: .5rem;
          border: none;
          cursor: pointer;
          box-shadow: $shadow-secondary;
          transition: background .3s ease, transform .2s ease;

          &:hover {
            background: $primary-light-blue;
            transform: translateY(-.125rem);
            box-shadow: $shadow-primary;
          }

          &:active {
            background: $primary-dark-blue;
            color: $neutral-white;
            transform: translateY(.0625rem);
            box-shadow: $shadow-septenary;
          }

          &.friends-page__accept-invite {
            background: $feedback-mint-light-green;
            color: $pastel-dark-green;

            &:active {
              background: $feedback-very-light-mint-green;
              color: $pastel-dark-green;
              box-shadow: none;
            }
          }

          &.friends-page__delete-invite {
            color: $pastel-dark-pink;
            background: $feedback-error-light-peach;

            &:active {
              background: $pastel-pink;
              color: $pastel-dark-pink;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}