@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.calendar-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin-top: 0;
}

.calendar-close-btn {
  position: absolute;
  top: 14.75rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  color: $neutral-white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $neutral-white;
  padding: .05rem;
  font-size: 1.5rem;
  box-shadow: $shadow-senary;
  cursor: pointer;
  z-index: 1001;
  border-radius: .2rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: $primary-dark-blue;
    color: $neutral-white;
    padding: 1rem;
    border-radius: .5rem;
    transform: translateX(-50%) scale(1.1);
  }

  &:active {
    transform: translateX(-50%) scale(1);
    box-shadow: $shadow-senary;
  }

  @include tablet {
    top: 6.5rem;
  }

  @include desktop {
    top: 5rem;
  }

  @include large-desktop {
    top: 11.5rem;
  }

  @include extra-large-desktop {
    top: 12.75rem;

    &:hover {
      background-color: $primary-dark-blue;
      color: $neutral-white;
      padding: 1rem;
      border-radius: .5rem;
      transform: translateX(-50%) scale(1.001);
    }

    &:active {
      transform: translateX(-50%) scale(.9);
      box-shadow: $shadow-senary;
    }
  }
}

.frosted-toast-auth {
  backdrop-filter: blur(.25rem);
  background: rgba($primary-dark-blue, 0.75);
  border: .1875rem solid rgba($primary-light-blue, 0.75);
  border-radius: .625rem;
  box-shadow: $shadow-primary;
  color: $primary-pale-blue;
  font-family: $primary-font;
  padding: 1rem;
}

.auth-search-results {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__show-more-btn {
    background: none;
    border: none;
  }

  &__pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
  }
  
  &__page-nav-wrapper {
    @include block-item(2.6rem, 2.6rem);
    @include hover-raise-effect-nav;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $base-darker-blue;
    border: .15rem solid $primary-light-blue;
    border-radius: .85rem;
    box-shadow: $shadow-quaternary;
    cursor: pointer;
    transition: transform .2s ease, background-color .2s ease, border-color .2s ease;
    
    &:active {
      transform: scale(.95);
    }
  }
  
  &__previous-icon,
  &__next-icon {
    @include block-item(1.1rem, 1.1rem);
    font-size: 1.5rem;
    color: $primary-very-light-blue;
    transition: transform 0.2s ease, color 0.2s ease;
  
    &:hover {
      transform: scale(1.1);
      color: $primary-light-blue;
    }
  
    &:active {
      transform: scale(0.9);
      color: $primary-dark-blue;
    }
  }
  
  &__pagination-circles {
    display: flex;
    gap: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  &__pagination-circle {
    @include block-item(.75rem, .75rem);
    background: rgba($neutral-white, .7);
    border: .0938rem solid $primary-very-light-blue;
    backdrop-filter: blur(0.5rem);
    border-radius: 50%;
    cursor: pointer;
    transition: transform .3s ease, background-color .3s, box-shadow .3s;
    box-shadow: $shadow-quaternary;

    &:hover {
      transform: scale(1.1);
      background-color: rgba($primary-light-blue, .8);
      box-shadow: $shadow-tertiary;
    }

    &.active {
      background-color: $primary-medium-blue;
      border: 1.5px solid $primary-light-blue;
      box-shadow: 0 0 .25rem $primary-dark-blue;
    }

    @include tablet {
      @include block-item(.85rem, .85rem);
    }
  }

  &__chevron-icon {
    cursor: pointer;
    color: $neutral-white;
    font-size: .5rem;
    transition: transform 0.3s ease;

    &:hover {
      color: $primary-very-light-blue;
    }

    &:active {
      color: $primary-dark-blue;
    }

    @include tablet {
      font-size: 1.2rem;
    }
  }

  &__close-icon {
    @include block-item(.75rem, .75rem);
  }

  &__container {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    width: 100%;
  }

  &__no-providers {
    margin-top: -.35rem;
    color: $primary-pale-blue;
    font-size: .4rem;
    background-color: $primary-medium-blue;
    box-shadow: $shadow-primary;
    border-radius: .25rem;
    text-align: center;
    line-height: .5rem;

    @include tablet {
      font-size: .75rem;
      margin-top: .25rem;
      line-height: .8rem;
    }

    @include desktop {
      font-size: 1rem;
      padding: .5rem;
      line-height: 1.25rem;
      margin-top: .1rem;
    }
  }

  &__no-results-copy {
    color: $primary-pale-blue;
    background-color: $primary-dark-blue;
    padding-left: .45rem;
    padding-right: .45rem;
    border-radius: .25rem;
    box-shadow: $shadow-primary;
  }

  &__poster-wrapper {
    position: relative;
    display: inline-block;
  }
  
  &__media-icon {
    display: none;

    @include tablet {
      display: block;
      position: absolute;
      bottom: 15px;
      right: 10px;
      width: 30px;
      height: 30px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 15%;
      box-shadow: $shadow-tertiary;
      padding: 4px;
      transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;

      &:hover {
        transform: scale(1.05);
        background: $primary-medium-blue;
      }

      &:active {
        transform: scale(0.9);
        background: $primary-dark-blue;
      }
    }
  }

  &__media-none-icon {
    @include block-item(1.3rem, 1.3rem);
    color: $primary-light-blue;
    padding: .25rem;
    bottom: -.05rem;
  
    @include desktop {
      bottom: 15px;
    }
  
  }

  &__calendar-button {
    @include block-item(.75rem, .75rem);
    position: absolute;
    top: 2px;
    right: 2px;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: $shadow-tertiary;
    overflow: hidden;
    transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;

    &:hover {
      transform: scale(1.05);
      background: $primary-dark-blue;
      color: $neutral-white;
    }

    &:active {
      transform: scale(0.9);
      background: $primary-medium-blue;
    }

    @include tablet {
      @include block-item(2rem, 2rem);
      top: 7px;
      right: 10px;
    }
  }

  &__calendar-icon {
    @include block-item(.65rem, .65rem);
    position: relative;
    top: -9px;
    right: 5px;
    color: $primary-medium-blue;

      &:hover {
        color: $neutral-white;
      }

      @include tablet {
        @include block-item(1.25rem, 1.25rem);
        top: -5px;
        right: 4px;
      }
    }

  &__streaming-services {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    flex-wrap: wrap;
    align-items: center;
    gap: .15rem;

    @include tablet {
      gap: .5rem;
      margin-top: .2rem;
    }

    &__streaming-service {
      width: 40px;
      height: auto;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: $shadow-senary;
    }
  }

  &__streaming-provider-logo {
    @include block-item(1rem, 1rem);
    border-radius: .15rem;

    @include tablet {
      @include block-item(2rem, 2rem);
    }

    @include desktop {
      @include block-item(5rem, 5rem);
      border-radius: .5rem;
    }
  }

  &__streaming-providers {
    display: flex;
    gap: .25rem;

    &__streaming-provider {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.5);
      box-shadow: $shadow-senary;
    }
  }

  &__content-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__no-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem .35rem .35rem .35rem;
    box-shadow: $shadow-senary;

    @include tablet {
      @include block-item(10rem, 12.5rem);
    }

    @include desktop {
      @include block-item(15rem, 20rem);
      margin-bottom: .5rem;
      padding: .75rem;
    }

    @include large-desktop {
      padding: .95rem;
      @include block-item(15rem, 20rem);
      margin-bottom: .5rem;
    }
  }

  &__error-no-img-title,
  &__error-no-img-txt {
    font-size: 0.5rem;
    line-height: 0.5rem;
    text-align: center;

    @include tablet {
      font-size: 1rem;
      line-height: 1.25rem;
    }

    @include tablet {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }

  &__error-no-img-txt {
    color: $primary-light-blue;
  }

  &__error-no-img-title {
    border: .25px solid $primary-very-light-blue;
    padding: 0.25rem;
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    color: $primary-very-light-blue;
    box-shadow: $shadow-tertiary;

    &:hover {
      background-color: white;
      color: $primary-dark-blue;
    }

    &:active {
      border: 2px solid $primary-pale-blue;
      box-shadow: $shadow-primary;
      font-weight: normal;
      background-color: $primary-medium-blue;
      color: $primary-pale-blue;
    }

    @include tablet {
      font-weight: bold;
      border: 1px solid $primary-very-light-blue;
      padding: .6rem;
      margin-top: .75rem;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__poster {
    border-radius: .5rem;
    @include block-item(100%, 6rem);
    margin-bottom: .05rem;

    @include tablet {
      @include block-item(100%, 14rem);
      box-shadow: $shadow-primary;
      border-radius: 1rem;

      @include desktop {
        @include block-item(100%, 20rem);
      }
    }
  }

  &__content-card {
    @include bg-white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 6px solid $primary-very-light-blue;
    background-color: $primary-dark-blue;
    box-shadow: $shadow-quaternary;
  }

  &__intro {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: $primary-very-light-blue;
    text-align: center;
  }

  &__text--bottom,
  &__text--top {
    font-size: 1rem;
    color: $primary-dark-blue;
  }

  &__text--top {
    margin-top: 1rem;
    text-align: center;
  }

  &__text--bottom {
    margin-bottom: 2.25rem;
    text-align: center;
  }

  &__text--top {
    margin-bottom: 1rem;
  }

  &__login-link,
  &__register-link {
    background: none;
    border: none;
    font: $primary-font;
    font-size: 1rem;
    color: $primary-medium-blue;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid $primary-medium-blue;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    &:hover,
    &:focus,
    &:visited {
      background-color: $primary-medium-blue;
      color: $neutral-white;
      border-color: $primary-dark-blue;
      text-decoration: none;
      box-shadow: $shadow-primary;
    }

    &:active {
      background-color: $primary-medium-blue;
      color: $neutral-white;
      border: 1px solid $primary-cyan;
      border-radius: 0.25rem;
      transform: translateY(1px);
      text-decoration: none;
      font-weight: bold;
    }
  }

  &__background {
    position: absolute;
    bottom: -2.1875rem;
    left: 0;
    width: 100%;
    height: 8.4375rem;
    overflow: hidden;
    z-index: -1;

    @include small-mobile {
      bottom: -0.3125rem;
      height: 8.4375rem;
    }

    @include large-mobile {
      bottom: 0rem;
      height: 9.375rem;
    }

    @include tablet {
      bottom: 0rem;
      height: 12.5rem;
    }

    @include desktop {
      bottom: -3.15rem;
      height: 15.625rem;
    }

    @include large-desktop {
      bottom: 0rem;
      height: 17.5rem;
    }
  }

  &__card-media-container {
    overflow: hidden;
    @include block-item(16.5rem, 19rem);
    @include pulsate-animation;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    background: rgba($primary-light-blue, 0.3);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
    padding: .45rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    @include tablet {
      gap: 1rem;
      padding: 1rem;
      @include block-item(40.3244rem, 23.625rem);

      @include desktop {
        @include block-item(64.8869rem, 31.25rem);
      }

      @include large-desktop {
        @include block-item(70rem, 35rem);
      }
    }
  }

  &__title {
    line-height: 2.75rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: $neutral-white;
    text-shadow: $shadow-primary;
    text-align: center;
  }

  &__card {
    @include block-item(5rem, 9.5rem);
    @include hover-raise-effect-cards;
    background: $primary-darker-blue-gradient;
    border-radius: 1rem;
    box-shadow: $shadow-tertiary;
    display: flex;
    flex-direction: column;
    border: 1px solid $primary-light-blue;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @include tablet {
      @include block-item(12rem, 18.5rem);
      border-radius: 1.5625rem;

      @include desktop {
        @include block-item(20.1875rem, 29.125rem);
      }
    }
  }

  &__info {
    padding: 1rem;

    &__name {
      font-size: 1.25rem;
      color: $primary-dark-blue;
    }
  }

  &__poster--default {
    @include block-item(2rem, 2rem);

    @include tablet {
      @include block-item(4rem, 4rem);
    }

    @include desktop {
      @include block-item(6rem, 6rem);
    }
  }
}