// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.toggle-button {
    box-shadow: $shadow-tertiary;

    &__switch {
      @include block-item(2.5rem, 1.25rem);
      position: relative;
      background-color: $primary-light-blue;
      border-radius: 1.25rem;
      transition: background-color .3s ease;
      box-shadow: $shadow-primary;
      cursor: url('../../assets/cursors/cursor-pointer-wh.svg'), pointer;
  
      &.checked {
        background-color: $primary-medium-blue;
      }
  
      &::before {
        content: '';
        @include block-item(100%, 100%);
        position: absolute;
        top: 0;
        left: 0;
        background-color: $primary-medium-blue;
        border-radius: 1.25rem;
        transform: scale(0);
        transition: transform .3s ease;
      }
  
      &.checked::before {
        transform: scale(1);
      }
    }
  
    &__slider {
      @include block-item(1rem, 1rem);
      position: absolute;
      top: .125rem;
      left: .125rem;
      background-color: $neutral-white;
      border-radius: 50%;
      transition: transform .3s ease;
      box-shadow: $shadow-primary;
  
      .checked & {
        transform: translateX(1.25rem);
      }
    }
  }
  