// Import partials
@use "../../../../styles/partials/colors" as *;
@use "../../../../styles/partials/fonts" as *;
@use "../../../../styles/partials/mixins" as *;
@use "../../../../styles/global.scss" as *;

.hover-menu__container {
  position: absolute;
  top: 2.75rem;
  left: 1.5rem;
  transform: translateY(-50%);
  z-index: 9999;

  @include tablet {
    top: 2.15rem;
    left: 2.25rem;
  }

  @include desktop {
    top: 2.175rem;
    left: 3.45rem;
  }

  @include large-desktop {
    top: 2.175rem;
    left: 8.45rem;
  }

  .hover-menu__button {
    @include block-item(2.95rem, 2.85rem);
    padding: 0.25rem;
    background-color: $primary-light-blue;
    border: 0.125rem solid $neutral-white;
    box-shadow: $shadow-primary;
    border-radius: 0.35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 0 0.625rem $primary-light-blue; 
    }
  
    &:active {
      transform: scale(0.95);
      box-shadow: 0 0 0.625rem $primary-dark-blue;
    }

    @include tablet {
      @include block-item(3rem, 2.9rem);
    }

    @include desktop {
      @include block-item(2.95rem, 2.9rem);
    }
  }

  .hover-menu__lines {
    @include block-item(1.5rem, 1.675rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2rem;

    span {
      display: block;
      width: 100%;
      border-radius: 0.5rem;
      height: 0.2rem;
      background-color: $neutral-white;
      transition: all 0.3s ease;
      box-shadow: $shadow-primary;
    }

    &.open {
      span:nth-child(1) {
        transform: rotate(45deg) translate(0.57rem, 0.5rem);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: rotate(-45deg) translate(0.55rem, -0.5rem);
      }
    }
  }

  .hover-menu__content {
    position: absolute;
    top: 3rem;
    left: 150%;
    transform: translateX(-50%);
    width: 12rem;
    background: $frosted-glass;
    backdrop-filter: blur(0.625rem);
    border-radius: 0.5rem;
    box-shadow: $shadow-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    .hover-menu__item {
      padding: 0.5rem 1rem;
      text-decoration: none;
      width: 100%;
      color: $primary-dark-blue;
      border-radius: 0.25rem;
      transition: background 0.3s ease;

      &:hover {
        @include glow-animation;
        background: rgba($primary-light-blue, 0.2);
        border-radius: 0.5rem;
        border: 0.0625rem solid $primary-medium-blue;
        color: $primary-medium-blue;
      }

      &:active {
        background: $primary-dark-blue;
        color: $primary-pale-blue;
        border: 0.1875rem solid $primary-pale-cyan;
        border-radius: 0.5rem;
      }
    }
  }

  &.dark-background {
    .hover-menu__content {
      background: rgba($primary-dark-blue, 0.7);
      color: $neutral-white;

      .hover-menu__item {
        color: $neutral-white;

        &:hover {
          background: rgba($primary-very-light-blue, 0.2);
          border: 0.0625rem solid $primary-very-light-blue;
          color: $primary-medium-blue;
        }

        &:active {
          background: $primary-dark-blue;
          color: $neutral-white;
          border: 0.1875rem solid $primary-light-blue;
        }
      }

      .hover-menu__lines span {
        background-color: $neutral-white;
      }
    }
  }

  // Trans Mode Background
  &.trans-mode-background {
    .hover-menu__content {
      background: linear-gradient(45deg, $trans-light-blue, $trans-light-pink, $trans-white);
      color: $primary-dark-blue;

      .hover-menu__item {
        color: $trans-deep-blue;

        &:hover {
          background: $trans-candy-pink;
          border: 0.0625rem solid $trans-light-pink;
          color: $trans-deep-blue;
        }

        &:active {
          background: $trans-deep-blue;
          color: $neutral-white;
          border: 0.1875rem solid $trans-light-blue;
        }
      }

      .hover-menu__lines span {
        background-color: $trans-white;
      }
    }
  }

  // Cloud Mode Background
  &.cloud-mode-background {
    .hover-menu__content {
      background: $cloud-frosted-light-gray; 
      color: $cloud-text-dark;

      .hover-menu__item {
        color: $cloud-text-gray;

        &:hover {
          background: $cloud-haze-blue; 
          border: 0.0625rem solid $cloud-soft-blue;
          color: $primary-medium-blue;
        }

        &:active {
          background: $cloud-stormy-blue;
          color: $neutral-white;
          border: 0.1875rem solid $neutral-white;
        }
      }

      .hover-menu__lines span {
        background-color: $cloud-light-blue; 
      }
    }
  }

  // Star Mode Background
  &.star-mode-background {
    .hover-menu__content {
      background: $star-frosted-dark-gray;
      color: $star-text-light;

      .hover-menu__item {
        color: $star-ash-gray;

        &:hover {
          background: $star-medium-gray;
          border: 0.0625rem solid $neutral-white;
          color: $neutral-white;
        }

        &:active {
          background: $star-dark-gray;
          color: $star-starlight-yellow;
          border: 0.1875rem solid $star-starlight-yellow;
        }
      }

      .hover-menu__lines span {
        background-color: $star-text-dark;
      }
    }
  }

  // Sun Mode Background
  &.sun-mode-background {
    .hover-menu__content {
      background: $sun-frosted-silver;
      color: $cloud-very-deep-gray;

      .hover-menu__item {
        color: $cloud-very-deep-gray;

        &:hover {
          background: $sun-light-gray;
          border: 0.0625rem solid $sun-white;
          color: $sun-soft-tangerine;
        }

        &:active {
          background: $sun-icy-blue;
          color: $neutral-black;
          border: 0.1875rem solid $sun-yellow;
        }
      }

      .hover-menu__lines span {
        background-color: $sun-text-dark;
      }
    }
  }

  // Rain Mode Background
  &.rain-mode-background {
    .hover-menu__content {
      background: $rain-frosted-glass;
      color: $rain-storm-cloud-blue;

      .hover-menu__item {
        color: $rain-text-dark;

        &:hover {
          background: $rain-foggy-mist-gray;
          border: 0.0625rem solid $rain-soft-seafoam;
          color: $rain-cool-aqua;
        }

        &:active {
          background: $rain-cloudy-ocean-blue;
          color: $rain-text-light;
          border: 0.1875rem solid $rain-rain-drop-blue;
        }
      }

      .hover-menu__lines span {
        background-color: $rain-text-dark;
      }
    }
  }
}