@use "../../../../styles/partials/colors" as *;
@use "../../../../styles/partials/fonts" as *;
@use "../../../../styles/partials/mixins" as *;
@use "../../../../styles/global.scss" as *;

.hover-menu__container {
  position: absolute;
  top: 2.5rem;
  left: 1.5rem; 
  transform: translateY(-50%);
  z-index: 1000;

  .hover-menu__button {
    @include block-item(2.85rem, 2.75rem);
    padding: .25rem;
    background-color: $primary-light-blue;
    border: 2px solid $neutral-white;
    box-shadow: $shadow-primary;
    border-radius: .35rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hover-menu__lines {
    @include block-item(1.5rem, 1.675rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2rem;

    span {
      display: block;
      width: 100%;
      border-radius: .5rem;
      height: 0.2rem;
      background-color: $neutral-white;
      transition: all 0.3s ease;
      box-shadow: $shadow-primary;
    }

    &.open {
      span:nth-child(1) {
        transform: rotate(45deg) translate(0.57rem, 0.5rem);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: rotate(-45deg) translate(0.55rem, -0.5rem);
      }
    }
  }

  .hover-menu__content {
    position: absolute;
    top: 3rem;
    left: 150%;
    transform: translateX(-50%);
    width: 12rem;
    background: $frosted-glass;
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    box-shadow: $shadow-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    .hover-menu__item {
      padding: 0.5rem 1rem;
      text-decoration: none;
      width: 100%;
      cursor: pointer;
      color: $primary-dark-blue;
      border-radius: 0.25rem;
      transition: background 0.3s ease;

      &:hover {
        @include glow-animation;
        background: rgba($primary-light-blue, 0.2);
        border-radius: .5rem;
        border: 1px solid $primary-medium-blue;
        color: $primary-medium-blue;
      }

      &:active {
        background: $primary-dark-blue;
        color: $primary-pale-blue;
        border: 3px solid $primary-pale-cyan;
        border-radius: .5rem;
      }
    }
  }
}