@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.page-transition {
    &__fade-enter {
        opacity: 0;
        transform: translateY(1.25rem);
    }

    &__fade-enter-active {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 300ms, transform 300ms;
    }

    &__fade-exit {
        opacity: 1;
        transform: translateY(0);
    }

    &__fade-exit-active {
        opacity: 0;
        transform: translateY(1.25rem);
        transition: opacity 300ms, transform 300ms;
    }
}