// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  background: $primary-darker-blue-gradient;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;

    &__copy-container {
      height: 1.25rem;
      left: 18.75rem;
      position: absolute;
      width: 19.875rem;
    }

    &__copyright {
      color: $primary-pale-blue;
      font-family: $primary-font;
      font-size: .875rem;
      font-weight: 400;
      position: absolute;
      text-align: center;
    }

    &__privacy-policy {
      color: $primary-light-blue;
      font-family: $primary-font;
      font-size: .875rem;
      font-weight: 400;
      left: 4.125rem;
      position: absolute;
      text-align: center;
    }

    &__tac{
      color: $primary-light-blue;
      font-family: $primary-font;
      font-size: .875rem;
      font-weight: 400;
      left: 10.875rem;
      position: absolute;
      text-align: center;
    }

    &__btn-register {
      all: unset;
      align-items: center;
      background: $button-dark-gradient;
      border-radius: .75rem;
      box-shadow: $shadow-primary;
      box-sizing: border-box;
      display: inline-flex;
      gap: .5rem;
      justify-content: center;
      left: 55.3125rem;
      padding: .75rem 2rem;
      position: absolute;
    }

    &__register {
      color: $neutral-white;
      font-family: $primary-font;
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: -0.05rem;
      line-height: 1.5rem;
      position: relative;
      white-space: nowrap;
      width: fit-content;
    }

    &__btn-contact {
      all: unset;
      align-items: center;
      background-color: $primary-pale-blue;
      border-radius: .75rem;
      box-shadow: $shadow-primary;
      box-sizing: border-box;
      display: inline-flex;
      gap: .5rem;
      justify-content: center;
      left: 63.625rem;
      padding: .75rem 2rem;
      position: absolute;
    }

    &__contact {
      color: $base-darker-blue;
      font-family: $primary-font;
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: -0.05rem;
      line-height: 1.5rem;
      position: relative;
      white-space: nowrap;
      width: fit-content;
    }

    &__logo-wordmark {
      height: 1.0625rem;
      left:  7.875rem;
      position: absolute;
      width: 8.4375rem;
    }
  }
