// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.footer {
  @include block-item(100%, auto);
  background: $primary-gradient-blue;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 3.375rem;

  @include tablet {
    flex-direction: row;
    padding: 0 2rem;
    @include block-item(100%, 6rem);
  }

  @include desktop {
    padding: 0 3.375rem;
  }

  &__links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include block-item(16rem, 3.125rem);

    @include desktop {
      width: 25rem;
      justify-content: space-evenly;
    }
  }

  &__copy-container {
    @include block-item(16rem, 3.125rem);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      @include block-item(18rem, 3.125rem);
      display: flex;
      align-items: center;
      justify-content: center;

      @include desktop {
        width: 30rem;
      }
    }
  }

  &__about-link,
  &__privacy-policy-link, 
  &__tac-link {
    @include animate-effect-footer;
  
    &:hover {
      border: .0625rem solid $primary-light-blue;
      border-radius: .5rem;
      padding: .25rem;
    }

    &:active {
      border: .125rem solid $primary-very-light-blue;
      border-radius: 1rem;
    }
  }

  &__copyright,
  &__about,
  &__privacy-policy,
  &__tac {
    font-size: .725rem;
    color: $neutral-white;
    font-family: $primary-font;
    font-weight: 400;
    text-shadow: $shadow-primary;

    @include tablet {
      font-size: .725rem;
      font-family: $primary-font;
      font-weight: 400;
    }

    @include desktop {
      font-size: .875rem;
    }
  }

  &__privacy-policy,
  &__about,
  &__tac {
    color: $primary-very-light-blue;

    &:hover {
      box-shadow: $shadow-senary;
    }

    &:active {
      font-weight: bold;
      color: $primary-very-light-blue;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include tablet {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &__btn-register {
    @include btn-main-container;
    margin-right: .8125rem;
    transition: transform .3s ease-in-out;

    &:hover {
      transform: scale(1.04);
    }

    &:active {
      transform: scale(.95);
    }

    @include tablet {
      @include btn-main-container;
      width: 7rem;
      margin-right: .8125rem;
    }
    
    @include desktop {
      width: 10rem;
    }
  }

  &__register {
    @include btn-txt;
    font-size: .875rem;

    @include tablet {
      @include btn-txt;
      font-size: .875rem;
    }
  }

  &__btn-contact {
    @include btn-secondary-container;
    width: 7.3338rem;
    font-size: .875rem;
    height: 2.9375rem;
    transition: transform .3s ease-in-out;

    &:hover {
      transform: scale(1.04);
    }

    &:active {
      transform: scale(.95);
    }

    @include tablet {
      @include btn-secondary-container;
      width: 7.5rem;
      font-size: .875rem;
      height: 2.9375rem;
    }

    @include desktop {
      width: 10rem;
    }
  }

  &__contact {
    font-size: .875rem;
    @include btn-secondary-txt;
    white-space: nowrap;

    @include tablet {
      font-size: .875rem;
      @include btn-secondary-txt;
      white-space: nowrap;
    }
  }

  &__logo-wordmark {
    @include block-item(8.4375rem, 1.0625rem);
    transition: transform .2s ease;
    font-size: .875rem;

    @include tablet {
      @include block-item(8.4375rem, 1.0625rem);
      transition: transform .2s ease;
      font-size: .875rem;
    }
  }

  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .125rem solid transparent;
    transition: border .3s ease, padding .3s ease, border-radius .3s ease, transform .2s ease;

    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      border: .125rem solid transparent;
      transition: border .3s ease, padding .3s ease, border-radius .3s ease, transform .2s ease;

      @include desktop {
        padding-right: 9.0081rem;
      }

      &:hover {
        @include borderGlowLogo();
        padding: 1rem;
        border-radius: 1rem;
      }

      &:active {
        transform: scale(.95);
      }
    }
  }
}