// Import partials
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.custom-alerts {
  position: fixed;
  top: .625rem;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(.25rem);
  border-radius: .625rem;
  box-shadow: $shadow-primary;
  font-family: $primary-font;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  line-height: 1.25rem;
  align-items: center;
  justify-content: space-between;
  z-index: 10001;
  width: 90%;
  max-width: 18.75rem;
  animation: slide-in .5s ease-in-out;
  box-sizing: border-box;

  @include tablet {
    width: 70%;
  }

  @include desktop {
    width: 50%;
  }

  &--info {
    background: rgba(0, 123, 255, .75);
    border: .1875rem solid rgba(0, 123, 255, .95);
    color: $neutral-white;
  }

  &--success {
    background: $feedback-mint-green;
    border: .1875rem solid $neutral-white;
    color: #073f21;
  }

  &--error {
    background: $feedback-error-peach;
    border: .1875rem solid $neutral-white;
    color: $neutral-white;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: .5rem;
  }

  &__icon {
    font-size: 1.5rem;
  }

  &__message {
    flex-grow: 1;
  }

  &__close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: inherit;

    &:hover {
      color: $neutral-black;
      transform: scale(1.1);
    }

    &:active {
      transform: scale(.9);
    }
  }

  &__progress-bar {
    width: 100%;
    height: .3125rem;
    border-radius: .25rem;
    background: $neutral-white;
    margin-top: .85rem;
    animation: progress-bar 3s linear forwards;
  }

  @keyframes slide-in {
    from {
      transform: translateX(-50%) translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(-50%) translateY(0);
      opacity: 1;
    }
  }

  @keyframes progress-bar {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }
}