@use "../../../../styles/partials/colors" as *;
@use "../../../../styles/partials/fonts" as *;
@use "../../../../styles/partials/mixins" as *;
@use "../../../../styles/global.scss" as *;

.subscription-status {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5625rem;
  justify-content: center;
  position: relative;
  width: 16.375rem;

  &__delete-txt {
    color: $neutral-white;
    font-family: $primary-font;
    font-size: 1rem;
    letter-spacing: -0.05rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__title {
    color: $primary-medium-blue;
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.01125rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  &__input {
    color: $neutral-white;
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
  }

  &__active {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 3rem;
    width: 100%;
    justify-content: center;
  }

  &__select {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__checkbox {
    box-shadow: $shadow-primary;
    background-color: $primary-light-blue;
    border: 0.1875rem solid $feedback-mint-light-green;
    border-radius: 0.75rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &--active {
      background-color: $feedback-mint-light-green;
      border-color: $feedback-mint-light-green;
    }

    &__check {
      color: $neutral-white;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  &__box {
    background-color: $primary-light-blue;
    border: 0.1875rem solid $feedback-mint-light-green;
    border-radius: 0.75rem;
    box-shadow: $shadow-primary;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    height: 3rem;
    width: 8.4375rem;
    justify-content: center;
  }

  &__delete-account {
    align-items: center;
    background-color: $primary-light-blue;
    border: 0.1875rem solid $feedback-error-peach;
    border-radius: 0.75rem;
    box-shadow: $shadow-primary;
    cursor: pointer;
    display: inline-flex;
    gap: 0.5rem;
    justify-content: center;
    padding: 0.75rem 2rem;
    position: relative;
    transition: all 0.3s ease;

    &--delete {
      background-color: $feedback-error-peach;
      border-color: $feedback-error-peach;
      box-shadow: 0 0 0.625rem rgba(255, 0, 0, 0.3);
    }

    &:hover {
      backdrop-filter: blur(0.25rem);
      box-shadow: 0 0 0.625rem rgba(255, 0, 0, 0.5);
    }
  }
}
