// Import partials
@use "../../../../styles/partials/colors" as *;
@use "../../../../styles/partials/fonts" as *;
@use "../../../../styles/partials/mixins" as *;
@use "../../../../styles/global.scss" as *;

.subscription-status {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5625rem;
  justify-content: center;
  width: 16.375rem;
  background-color: $primary-very-light-blue;

  &__delete-txt {
    color: $neutral-white;
    font-family: $primary-font;
    font-size: 1rem;
    letter-spacing: -.05rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__title {
    color: $primary-medium-blue;
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -.01125rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  &__icon {
    @include block-item(.9rem, .9rem);
    margin-right: .25rem;
    padding: .1rem;
    border-radius: .5rem;
    border: .125rem solid $primary-pale-blue;
    transition: box-shadow .3s ease, transform .3s ease-in-out;

    &:hover {
      background-color: $neutral-white;
      box-shadow: $shadow-secondary;
      transform: scale(1.15);
    }
  }

  &__input {
    color: $neutral-white;
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
  }

  &__active {
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: center;
  }

  &__select {
    @include block-item(3rem, 3rem);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: all .3s ease;

    &:hover {
      background: linear-gradient(to right, transparent, rgba(255, 255, 255, .2), transparent);
    }

    &:active {
      transform: scale(.95);
    }
  }

  &__checkbox {
    @include block-item(100%, 100%);
    box-shadow: $shadow-primary;
    background-color: $primary-light-blue;
    border: .1875rem solid $feedback-mint-light-green;
    border-radius: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;

    &--active {
      background-color: $feedback-mint-light-green;
      border-color: $feedback-mint-light-green;

      &__check {
        @include block-item(3.5rem, 3.5rem);
      }
    }

    &--inactive {
      border-color: $feedback-error-peach;
    }

    &:hover {
      background-color: lighten($feedback-mint-light-green, 10%);
      border-color: lighten($feedback-mint-light-green, 10%);
    }
  }

  &__box {
    @include block-item(10.5rem, 3rem);
    background-color: $primary-light-blue;
    border: .1875rem solid $feedback-mint-light-green;
    border-radius: .75rem;
    box-shadow: $shadow-primary;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    justify-content: center;
    transition: all .3s ease;

    @include tablet {
      @include block-item(9.25rem, 3rem);
    }
    @include desktop {
      @include block-item(10.5rem, 3rem);
    }

    &--inactive {
      border-color: $feedback-error-peach;
      @include block-item(9.5rem, 3rem);
    }

    &-text {
      color: $neutral-white;
      font-family: $primary-font;
      font-size: 1rem;
      font-weight: 400;
      white-space: nowrap;
      width: 100%;
    }
  }

  &__delete-account {
    @include block-item(13.9688rem, 3.5625rem);
    align-items: center;
    background-color: $primary-light-blue;
    border: .1875rem solid $feedback-error-peach;
    border-radius: .75rem;
    box-shadow: $shadow-primary;
    cursor: pointer;
    display: inline-flex;
    gap: .5rem;
    justify-content: center;
    padding: .75rem 2rem;
    position: relative;
    transition: all .3s ease;

    @include tablet {
      @include block-item(12.6563rem, 3.5625rem);
    }

    @include desktop {
      @include block-item(13.9688rem, 3.5625rem);
    }

    &:hover {
      backdrop-filter: blur(.25rem);
      box-shadow: 0 0 .625rem rgba(255, 0, 0, .5);
      background: $feedback-error-light-peach;
    }

    &:active {
      transform: scale(.95);
    }

    &--delete {
      width: 12.6563rem;
      background-color: $feedback-error-peach;
      border-color: $feedback-error-peach;
      box-shadow: 0 0 .625rem rgba(255, 0, 0, .3);

      @include tablet {
        width: 12.6563rem;
      }
      @include desktop {
        width: 13.9688rem;
      }
    }
  }
}
