@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/global.scss' as *;

#personTooltip,
#trendingTvTooltip,
#trendingMoviesTooltip,
#trendingAllTooltip,
#tvPopularTooltip,
#tvTopTooltip,
#tvOnAirTooltip,
#tvAirsTodayTooltip,
#movieNowPlayingTooltip,
#moviePopularTooltip,
#movieTopRatedTooltip,
#movieUpcomingReleasesTooltip,
#mediaTooltip,
#calTooltip,
#searchTooltip,
#closeTooltip,
#shareIconTooltip,
#likeTooltip,
#dislikeTooltip {
  background-color: $primary-dark-blue;
  color: $neutral-white;
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-family: $primary-font;
  font-size: .85rem;
  line-height: 1.25rem;

  &::after {
    border: $primary-button-blue transparent transparent transparent;
  }
}

.nextstream-gpt {
  border-radius: 1.25rem;
  box-shadow: $shadow-quaternary;
  margin: 1.5rem;
  border: .3125rem solid $neutral-white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: linear-gradient(
    135deg,
    rgba($robot-tablet-screen, .75),
    rgba($robot-blue, 1)
  );
  overflow: hidden;

  @include tablet {
    margin: 2.5rem;
  }

  @include desktop {
    margin: 3.5rem;
    padding: 1rem;
  }

  &::before {
    @include block-item(100%, 100%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, .3) 20%,
      transparent 70%
    );
    animation: ripple-animation 6s infinite ease-in-out;
    z-index: 0;
    opacity: .9;
  }

  @keyframes ripple-animation {
    0% {
      transform: scale(.7);
      opacity: .7;
    }
    50% {
      transform: scale(1.2);
      opacity: .5;
    }
    100% {
      transform: scale(.7);
      opacity: .7;
    }
  }

  &::after {
    content: '';
    @include block-item(160%, 160%);
    position: absolute;
    top: -30%;
    left: -30%;
    background: radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, .15) 15%,
      transparent 85%
    );
    animation: wave-animation 7s infinite ease-in-out;
    z-index: 0;
    opacity: .6;
  }

  @keyframes wave-animation {
    0% {
      transform: scale(.6) rotate(0deg);
    }
    50% {
      transform: scale(1.3) rotate(30deg);
    }
    100% {
      transform: scale(.6) rotate(0deg);
    }
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  &__loader-overlay {
    @include block-item(100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-darker-blue-overlay;
    z-index: 10;
  }

  &__gpt-container {
    display: flex;
    justify-content: center;
    margin-bottom: .75rem;
  }

  &__gpt-txt {
    font-family: $secondary-font;
    color: $neutral-white;
    text-shadow: $shadow-primary;
  }

  &__chat-block {
    @include block-item(80%, auto);
    border-radius: 1.25rem;
    box-shadow: $shadow-quaternary;
    margin: 1.5rem;
    border: .3125rem solid $neutral-white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: $neutral-white;
  }

  &__gpt-button--og,
  &__gpt-button {
    border: none;
    padding: .5rem 1rem;
    font-family: $primary-font;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    animation: glow 4s infinite alternate;
    box-shadow: inset .25rem .25rem .5rem rgba($neutral-black, .2),
      inset -.25rem -.25rem .5rem rgba(255, 255, 255, .7);
    border-radius: .75rem;
    background: #e0e0e0;
    transition: all .3s ease;
    color: $robot-dark-blue;

    &:hover {
      background: $robot-dark-tablet;
      border-radius: 2rem;
      transform: scale(1.05);
      color: $neutral-white;

      &:active {
        background: $robot-blue;
        color: $neutral-white;
        animation: none;
        box-shadow: inset .375rem .375rem .75rem rgba($neutral-black, .2),
          inset -.375rem -.375rem .75rem rgba(255, 255, 255, .7);
        transform: scale(.95);
        color: $robot-dark-blue;
      }
    }
  }

  &__chat-container {
    @include block-item(100%, auto);
    display: flex;
    flex-direction: column;
    background-color: $primary-pale-blue;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    border-radius: .75rem;
    box-shadow: $shadow-tertiary;
    overflow-y: auto;
  }

  &__messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 1rem;
    width: 100%;
    max-height: 30.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .25rem solid $primary-very-light-blue;
    box-shadow: $shadow-tertiary;
    border-radius: 1rem;
    padding: 1rem .5rem;
    flex-direction: column;

    /* Scrollbar width */
    scrollbar-width: thin;
    scrollbar-color: $robot-dark-blue $frosted-glass;

    /* For WebKit-based browsers (Chrome, Safari, Edge) */
    &::-webkit-scrollbar {
      width: .75rem;
      height: .75rem;
    }

    &::-webkit-scrollbar-track {
      background: $neutral-white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $robot-dark-blue;
      border-radius: .625rem;
      border: .1875rem solid $neutral-white;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: darken($robot-dark-blue, 10%);
    }
  }

  &__clear-chat-button {
    background: linear-gradient(135deg, $robot-dark-tablet, $robot-tablet);
    border: none;
    border-radius: .5rem;
    padding: .5rem 1rem;
    color: $neutral-white;
    font-family: $primary-font;
    font-size: .85rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    line-height: 1rem;
    transition: all .4s ease;
    box-shadow: 0 0 1rem rgba($primary-light-blue, .4),
      inset 0 0 .5rem rgba($primary-medium-blue, .8);
    animation: pulse 2.5s infinite;

    &:hover .nextstream-gpt__clear-chat-text,
    &:hover .nextstream-gpt__clear-chat-icon {
      animation: slide-out 1s forwards ease-out;
      color: $primary-very-light-blue;
    }

    &:active .nextstream-gpt__clear-chat-text,
    &:active .nextstream-gpt__clear-chat-icon {
      animation: disappear .5s forwards ease-in-out;
      color: $neutral-white;
    }

    &:hover {
      border-radius: 2.5rem;
      background: linear-gradient(135deg, $robot-tablet-screen, $robot-tablet);
      transform: translateY(-.25rem) scale(1.05);
      box-shadow: 0 0 1.5rem rgba($primary-light-blue, .8),
        inset 0 0 .75rem rgba($primary-dark-blue, .9);
    }

    &:active {
      transform: scale(.95);
      background: linear-gradient(
        135deg,
        $robot-medium-blue,
        $robot-very-light-blue
      );
      box-shadow: 0 0 1rem rgba($primary-very-light-blue, .6),
        inset 0 0 .5rem rgba($primary-button-blue, .8);
    }

    &::before {
      content: '';
      @include block-item(100%, 100%);
      position: absolute;
      top: 0;
      left: 0;
      background: rgba($primary-light-blue, .6);
      filter: blur(1.25rem);
      transition: opacity .5s ease;
      z-index: 0;
      opacity: .75;
    }

    &:hover::before {
      opacity: 1;
    }

    @include large-mobile {
      display: flex;
      flex-direction: row;
    }
  }

  &__clear-chat-icon {
    font-size: 1rem;
    color: $neutral-white;
    z-index: 1;
  }

  &__clear-chat-text {
    position: relative;
    color: $neutral-white;
    z-index: 1;
    transition: transform .5s ease, opacity .5s ease;
  }

  @keyframes slide-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(150%);
      opacity: 0;
    }
  }

  @keyframes disappear {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 1rem rgba($primary-light-blue, .4),
        inset 0 0 .5rem rgba($primary-medium-blue, .8);
    }
    50% {
      box-shadow: 0 0 1.5rem rgba($primary-light-blue, .8),
        inset 0 0 .75rem rgba($primary-dark-blue, .9);
    }
    100% {
      box-shadow: 0 0 1rem rgba($primary-light-blue, .4),
        inset 0 0 .5rem rgba($primary-medium-blue, .8);
    }
  }

  &__message {
    padding: .75rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    &--user {
      color: $primary-button-blue;
      text-align: right;
      justify-content: flex-end;
      align-self: flex-end;
      border-radius: 2.5rem 2.5rem 0 2.5rem;
      line-height: 1.25rem;
      background: linear-gradient(
        145deg,
        rgba(255, 255, 255, .5),
        rgba(255, 255, 255, .2)
      );
      backdrop-filter: blur(.625rem);
      box-shadow: inset .25rem .25rem .5rem rgba($neutral-black, .1),
        inset -.25rem -.25rem .5rem rgba(255, 255, 255, .5);
    }

    &--bot {
      color: $neutral-white;
      text-align: left;
      align-self: flex-start;
      justify-content: flex-start;
      border-radius: 2.5rem 2.5rem 2.5rem 0;
      line-height: 1.25rem;
      text-shadow: $shadow-primary;
      background: linear-gradient(
        145deg,
        rgba($primary-button-blue, .3),
        rgba($primary-dark-blue, .15)
      );
      border: .0625rem solid rgba($primary-button-blue, .2);
      box-shadow: 0 .25rem .75rem rgba($neutral-black, .1);
    }

    &--gpt {
      background: linear-gradient(
        135deg,
        $primary-light-blue,
        $primary-medium-blue
      );
      color: $neutral-white;
      justify-content: flex-start;
      align-self: flex-start;
      box-shadow: 0 .125rem .25rem rgba($neutral-black, .1);
      border: .0625rem solid lighten($primary-medium-blue, 10%);

      &__gpt-icon-bubble {
        margin-right: .5rem;
        font-size: 1.5rem;
        color: $primary-dark-blue;
      }
    }
  }

  &__bot-message {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
  }

  &__user-message {
    display: flex;
    gap: .5rem;
  }

  &__search-icon,
  &__gpt-icon {
    font-size: 1rem;
    z-index: 1;
    animation: tilt-head 3.5s infinite ease-in-out;

    &:hover {
      text-shadow: $shadow-primary;
      color: $robot-very-light-blue;
    }

    &:active {
      color: $neutral-white;
      transform: scale(.9);
    }
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 1rem rgba($primary-light-blue, .4),
        inset 0 0 .5rem rgba($primary-medium-blue, .8);
    }
    50% {
      box-shadow: 0 0 1.5rem rgba($primary-light-blue, .8),
        inset 0 0 .75rem rgba($primary-dark-blue, .9);
    }
    100% {
      box-shadow: 0 0 1rem rgba($primary-light-blue, .4),
        inset 0 0 .5rem rgba($primary-medium-blue, .8);
    }
  }

  @keyframes tilt-head {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(10deg);
    }
  }

  &__gpt-icon-inline {
    box-shadow: $shadow-primary;
    padding: .25rem;
    border-radius: 1.5rem;
    background: $robot-dark-blue;
    color: $robot-tablet-msg;

    &:hover {
      background: $robot-tablet-screen;
      color: $robot-dark-tablet;
      box-shadow: none;
      animation: tilt-head 3.5s infinite ease-in-out;
    }
  }

  @keyframes tilt-head {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(10deg);
    }
  }

  &__user-icon-inline {
    padding: .25rem;
    border-radius: 1.5rem;
    background: $primary-button-blue;
    color: $neutral-white;

    &:hover {
      animation: tilt-head 3.5s infinite ease-in-out;
      color: $primary-button-blue;
      background: $sun-icy-blue;
      box-shadow: $shadow-primary;
    }

    &.typing-icon {
      animation: pulseUserIcon 2.5s infinite ease-in-out;
      color: $neutral-white;
    }
  }

  @keyframes pulseUserIcon {
    0%,
    100% {
      transform: scale(1);
      color: $robot-dark-blue;
    }
    50% {
      transform: scale(1.2);
      color: $neutral-white;
    }
  }

  @keyframes tilt-head {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(10deg);
    }
  }

  &__copy {
    color: $robot-dark-blue;
    font-family: $primary-font;
    font-size: .85rem;
    line-height: 1.25rem;
    font-weight: normal;
    background-color: $neutral-white;
    padding: .25rem .75rem;
    border-radius: .5rem;
    border: .25rem solid $robot-tablet-screen-shadow;
    box-shadow: $shadow-quaternary;
    margin-bottom: .5rem;
    text-align: center;

    @include tablet {
      font-size: 1.125rem;
      line-height: 1.5rem;
      margin-bottom: 1rem;
    }

    @include desktop {
      line-height: 1.75rem;
      font-size: 1.25rem;
    }
  }

  &__header-text {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.75rem;
    text-shadow: $shadow-primary;
    text-align: center;
    color: $neutral-white;
    margin-bottom: .5rem;

    @include tablet {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  }

  &__gradient-subtitle {
    font-weight: bold;
    background: linear-gradient(
      120deg,
      $robot-antenna,
      $robot-blue,
      $robot-dark-blue
    );
    background-size: 600% 600%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: GradientAnimation 10s ease infinite;
  }

  @keyframes GradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    margin-bottom: 1.25rem;
    padding: 1rem;
    width: 100%;
    border-radius: .75rem;
    box-shadow: .3125rem .3125rem .9375rem rgba($neutral-black, .2),
      -.3125rem -.3125rem .9375rem rgba(255, 255, 255, .1);
    border: .1875rem solid $neutral-white;
    position: relative;
    overflow: hidden;
    background: linear-gradient(
      180deg,
      $robot-tablet,
      darken($robot-tablet-msg, 35%)
    );
    flex-direction: column;

    &::before {
      @include block-item(100%, 100%);
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, .4) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: skewX(-25deg);
      transition: left 1s;
    }

    &:hover::before {
      left: 100%;
      transition: left 1s;
    }

    @include tablet {
      gap: .5rem;
    }

    @include large-desktop {
      margin-bottom: 2.2rem;
    }
  }

  &__input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 100%;
    z-index: 1;

    @include tablet {
      width: 80%;
    }

    @include desktop {
      width: 60%;
    }
  }

  &__alert-wrapper {
    z-index: 9999;
  }

  &__input-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      width: 100%;
    }
  }

  &__empty-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__empty-message {
    animation: bounce 8s infinite ease-in-out,
               glassGlow 6s infinite alternate ease-in-out;
    border: .1875rem solid rgba(255, 255, 255, 0.3);
    border-radius: .75rem;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2), 
                0 6px 8px rgba(0, 0, 0, 0.15), 
                inset 0 3px 6px rgba(255, 255, 255, 0.2);
    color: $robot-antenna;
    font-family: $primary-font;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.1rem;
    text-align: center;
    padding: .25rem;
    width: 100%;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.15);
    transition: all 0.4s ease-in-out;
  
    &:hover {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.5),
                  0 8px 14px rgba(0, 0, 0, 0.2),
                  inset 0 4px 10px rgba(255, 255, 255, 0.3);
      transform: translateY(-5px);
    }
  
    @include tablet {
      font-size: .85rem;
      line-height: 1.25rem;
      padding: .5rem;
      font-weight: bold;
    }

    @include desktop {
        padding: .75rem;
    }
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
  }
  
  @keyframes glassGlow {
    0%, 100% {
      border-color: rgba(255, 255, 255, 0.3);
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.3),
                  inset 0 3px 6px rgba(255, 255, 255, 0.2);
    }
    50% {
      border-color: rgba(255, 255, 255, 0.8);
      background: rgba(255, 255, 255, 0.4);
      box-shadow: 0 0 25px rgba(255, 255, 255, 0.8),
                  inset 0 5px 10px rgba(255, 255, 255, 0.4);
    }
  }
  
  &__input {
    margin-left: .15rem;
    flex-grow: 1;
    padding-left: .75rem;
    padding-right: 1.3rem;
    height: 2.5rem;
    width: 9rem;
    border-radius: 2.5rem;
    background-color: $frosted-glass;
    backdrop-filter: blur(.625rem);
    box-shadow: $shadow-quaternary;
    border: .25rem solid rgba(255, 255, 255, .7);
    outline: none;
    color: $primary-dark-blue;
    font-size: .85rem;
    font-family: $primary-font;

    @include tablet {
      padding-left: 3.25rem;
      padding-right: 2.5rem;
      height: 2.5rem;
      width: 100%;
      margin-left: 0;
    }

    &::placeholder {
      color: $neutral-light-grey;
    }

    &:focus {
      background-color: $robot-dark-tablet;
      border: .25rem solid $pastel-blue;
      box-shadow: $shadow-senary;
      color: $neutral-white;
    }
  }

  &__interrupt-icon {
    margin-right: .15rem;
  }

  &__interrupt-btn,
  &__send-button {
    background: #e0e0e0;
    border: none;
    border-radius: .75rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    box-shadow: inset .25rem .25rem .5rem rgba($neutral-black, .2),
      inset -.25rem -.25rem .5rem rgba(255, 255, 255, .7);
    color: $robot-dark-blue;
    font-size: .85rem;
    padding: .6rem;
    transition: background-color .3s ease, transform .2s ease,
      box-shadow .2s ease;

    &:hover {
      background-color: $robot-dark-blue;
      transform: scale(1.05);
      color: $neutral-white;
      box-shadow: 0 .5rem 1rem rgba($neutral-black, .15),
        inset 0 .5rem 1rem rgba(255, 255, 255, .1);
    }

    &:active {
      box-shadow: inset .375rem .375rem .75rem rgba($neutral-black, .2),
        inset -.375rem -.375rem .75rem rgba(255, 255, 255, .7);
      transform: scale(.95);
      color: $robot-dark-blue;
      transform: scale(.95);
      background-color: $primary-very-light-blue;
    }

    @include large-mobile {
      flex-direction: row;
    }
    @include tablet {
      margin-left: .5rem;
      padding: .6rem 1.2rem;
      border-radius: 2.5rem;
      font-size: 1rem;
    }
  }

  &__send-button {
    padding: .25rem;
    margin-left: .25rem;

    @include tablet {
    margin-left: .5rem;
    padding: .6rem 1.2rem;
    border-radius: 2.5rem;
    font-size: 1rem;
    }
  }

  &__interrupt-btn {
    border-radius: .75rem;
    font-family: $primary-font;
    line-height: 1rem;
  }

  &__typing-indicator {
    position: absolute;
    left: 2.25rem;
    top: 5%;
    transform: translateY(-50%);
    display: inline-block;
    height: 1rem;
    padding: .5rem;
    z-index: 2;
  }

  &__typing-indicator-bubble {
    display: none;
    width: .4rem;
    height: .4rem;
    margin: 0 .15rem;
    background: $robot-dark-blue;
    border-radius: 50%;
    animation: bounce 1.2s infinite;

    @include tablet {
      display: inline-block;
    }
  }

  &__typing-indicator-bubble:nth-child(2) {
    animation-delay: .2s;
  }

  &__typing-indicator-bubble:nth-child(3) {
    animation-delay: .4s;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-.3rem);
    }
  }

  &__bot-typing-indicator-bubble {
    display: inline-block;
    width: .4rem;
    height: .4rem;
    margin: 0 .15rem;
    background-color: $robot-dark-tablet;
    border-radius: .05rem;
    animation: bounce 1.2s infinite;
  }

  &__bot-typing-indicator-bubble:nth-child(2) {
    animation-delay: .2s;
  }

  &__bot-typing-indicator-bubble:nth-child(3) {
    animation-delay: .4s;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-.3rem);
    }
  }

  &__speech-icon {
    position: relative;
    left: 2.5rem;
    display: none;
    font-size: 2.25rem;
    background: $robot-dark-tablet;
    color: $robot-tablet-screen;
    border: .0625rem solid $neutral-white;
    box-shadow: $shadow-septenary;
    border-radius: 1rem;
    padding: .1rem;
    z-index: 2;

    @include tablet {
      display: block;
    }
  }

  &__clear-input {
    position: absolute;
    right: 3.2rem;
    top: 35%;
    font-size: .85rem;
    color: $neutral-white;
    z-index: 3;

    transition: transform .3s ease;

    &:hover {
      color: $primary-dark-blue;
      transform: scale(1.2);
    }

    &:active {
      color: $primary-light-cyan;
      transform: scale(.9);
    }

    @include large-mobile {
      right: 3.5rem;
    }

    @include tablet {
      right: 8.5rem;
      top: 30%;
    }
  }

  &__close-icon {
    position: absolute;
    right: 1rem;
    color: $primary-dark-blue;
    font-size: 1rem;
    transition: transform .3s ease;

    &:hover {
      color: $primary-button-blue;
      transform: scale(1.2);
      text-shadow: $shadow-primary;
    }

    &:active {
      color: $neutral-white;
      transform: scale(.9);
    }
  }

  &__play-overlay {
    @include block-item(100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    border-radius: .5rem;
    align-items: center;
    background: linear-gradient(
      145deg,
      rgba($pastel-blue, .75),
      rgba($primary-button-blue, .75)
    );
    opacity: 0;
    transition: opacity .3s ease;

    &:hover {
      opacity: 1;
    }

    &:active {
      background: linear-gradient(
        145deg,
        rgba($primary-button-blue, .75),
        rgba($pastel-blue, .75)
      );
    }
  }

  &__play-icon {
    color: $neutral-white;
    font-size: 2rem;
  }

  &__modal {
    @include block-item(100%, 100%);
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($neutral-black, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &-content {
      background: rgba(255, 255, 255, .7);
      backdrop-filter: blur(.625rem);
      border-radius: .9375rem;
      padding: 1.25rem;
      box-shadow: 0 .25rem .75rem rgba($neutral-black, .2);
      position: relative;

      @media (max-width: 767px) {
        @include block-item(90%, auto);

        iframe {
          @include block-item(100%, auto);
        }
      }

      &-close {
        position: absolute;
        top: .5rem;
        right: .5rem;
        background: none;
        border: none;
        font-size: 1.25rem;
        color: $neutral-black;
        transition: transform .3s ease-in-out;

        &:hover {
          color: $primary-dark-blue;
          transform: scale(1.125);
        }

        &:active {
          color: $primary-medium-blue;
          transform: scale(.9);
        }
      }
    }
  }

  &__calendar-modal {
    @include block-item(100%, 100%);
    position: fixed;
    top: 0;
    flex-direction: column;
    left: 0;
    z-index: 10002;
    background-color: $primary-darker-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }

  &__cal-close-icon {
    @include block-item(.75rem, .75rem);
  }

  &__icons-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: .5rem;
    border: .125rem solid $neutral-white;
    background: $primary-pale-blue;
    box-shadow: $shadow-tertiary;
    padding: .25rem .5rem;
    border-radius: .5rem;
  }

  &__lightbulb-icon,
  &__media-icon,
  &__cal-icon,
  &__share-icon,
  &__like-icon,
  &__dislike-icon {
    color: $primary-button-blue;
    @include block-item(auto, 1rem);
    transition: transform .3s ease-in-out;

    &:hover {
      color: $primary-button-dark-blue;
      box-shadow: $shadow-primary;
      background-color: $neutral-white;
      border-radius: .25rem;
      border: .0625rem solid $primary-medium-blue;
      padding: .1rem;
      transform: scale(1.1);
    }

    &:active {
      color: $primary-pale-blue;
      box-shadow: none;
      background-color: $primary-dark-blue;
      transform: scale(.9);
    }
  }

  &__calendar-close-btn {
    @include block-item(1.75rem, 1.75rem);
    top: 1rem;
    transform: translateX(-50%);
    background: $primary-pale-blue;
    color: $primary-dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .0625rem solid $primary-button-blue;
    padding: .25rem;
    font-size: 1rem;
    box-shadow: $shadow-senary;
    z-index: 1001;
    border-radius: .2rem;
    transition: all .3s ease;

    &:hover {
      background-color: $primary-dark-blue;
      color: $neutral-white;
      padding: 1rem;
      border-radius: .5rem;
      transform: translateX(-50%) scale(1.25);
    }

    &:active {
      transform: translateX(-50%) scale(1);
      box-shadow: $shadow-senary;
      background: $primary-very-light-blue;
      color: $primary-dark-blue;
    }
  }

  &__sub-tabs {
    display: flex;
    justify-content: center;
    margin-top: -1.5rem;
    width: 15rem;
    padding: .35rem 0;
    border-top: .1875rem solid $neutral-white;
    background-color: $primary-pale-blue;
    border-radius: 0 0 1rem 1rem;
    box-shadow: $shadow-quaternary;

    @include tablet {
      width: 25rem;
    }

    .nextstream-gpt__sub-tab {
      margin: 0 .5rem;
      padding: .4rem .75rem;
      color: $primary-medium-blue;
      border-radius: 1rem;
      border: .125rem solid $neutral-white;
      border: none;
      background: $frosted-glass;
      transition: background-color .3s, transform .3s;
      font-size: .7rem;
      font-weight: normal;
      box-shadow: $shadow-tertiary;

      &:hover {
        background-color: $primary-button-blue;
        color: $neutral-white;
        transform: scale(1.05);
        font-weight: bold;
        box-shadow: $shadow-tertiary;
      }

      &:active {
        background-color: $primary-dark-blue;
        transform: scale(.95);
        font-weight: normal;
      }

      &--active {
        background-color: $primary-very-light-blue;
        color: $primary-medium-blue;
        font-weight: bold;
        border: .125rem solid $frosted-glass;
        font-weight: bold;
      }
    }
  }

  &__popular-section {
    margin-top: 2rem;
    border: .5rem solid $primary-very-light-blue;
    background: $frosted-glass;
    box-shadow: $shadow-quaternary;
    border-radius: 1.3rem;
    width: 90%;
    margin-bottom: 2rem;
    position: relative;

    @include desktop {
      width: 90%;
    }

    @include large-desktop {
      width: 60%;
    }

    &::before {
      content: 'Watchlist';
      position: absolute;
      font-size: .95rem;
      top: -1.25rem;
      left: 50%;
      transform: translateX(-50%);
      background: $primary-button-blue;
      color: $neutral-white;
      padding: .25rem .75rem;
      border-radius: .5rem;
      box-shadow: $shadow-secondary;
      text-transform: uppercase;
      font-weight: bold;
      text-shadow: $shadow-primary;
      font-family: $secondary-font;
      z-index: 1;
      border: .15rem solid $primary-very-light-blue;
      border-bottom: .3rem solid $primary-very-light-blue;

      @include tablet {
        font-size: 1.15rem;
      }
    }
  }

  &__tabs-container {
    display: flex;
    justify-content: center;
    background: $primary-pale-blue;
    border-radius: 1.5rem;
    border: .1875rem solid $neutral-white;
    box-shadow: $shadow-tertiary;
  }

  &__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    width: 15rem;
    padding: .5rem 0;
    border-radius: 1rem 1rem 0 0;
    box-shadow: $shadow-secondary;
    border: .125rem solid $neutral-white;

    @include tablet {
      width: 25rem;
    }

    .nextstream-gpt__tab {
      margin: 0 .5rem;
      padding: .25rem .5rem;
      background-color: $primary-very-light-blue;
      color: $primary-dark-blue;
      border-radius: .5rem;
      border: none;
      text-shadow: $shadow-primary;
      box-shadow: $shadow-tertiary;
      transition: background-color .3s, transform .3s;

      &:hover {
        background-color: $primary-medium-blue;
        color: $neutral-white;
        transform: scale(1.1);
        font-weight: bold;
      }

      &:active {
        background-color: $primary-dark-blue;
        transform: scale(.95);
        font-weight: normal;
      }

      @include tablet {
        padding: .5rem 1rem;
      }

      &--active {
        background-color: $primary-button-blue;
        color: $neutral-white;
        text-shadow: $shadow-primary;
        border: .125rem solid $frosted-glass;
        box-shadow: $shadow-senary;
      }
    }
  }

  &__loading-container {
    @include block-item(auto, 30vh);
    display: flex;
    background-color: $frosted-glass;
    border: .3125rem solid $neutral-white;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    box-shadow: $shadow-primary;
    @include hover-raise-effect;

    @include tablet {
      @include block-item(100%, 35vh);
    }

    @include desktop {
      width: 55%;
    }
  }

  &__loading-svg {
    @include block-item(15rem, auto);
    margin-bottom: 1.5rem;

    @include tablet {
      width: 31.25rem;
    }
  }

  &__text--center {
    color: $primary-button-dark-blue;
    font-family: $primary-font;
    font-weight: bold;
    background: $neutral-white;
    padding: .5rem;
    border-radius: .5rem;
    border: .1875rem solid $primary-very-light-blue;
    box-shadow: $shadow-primary;
    font-size: .85rem;
    line-height: 1.25rem;
    animation: bounce 3s infinite ease-in-out,
      colorShift 3s infinite ease-in-out;

    @include tablet {
      margin-bottom: .5rem;
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: scale(1);
      box-shadow: $shadow-primary;
    }
    50% {
      transform: scale(1.1);
      box-shadow: 0 .5rem 1.5rem rgba($neutral-black, .2);
    }
  }

  @keyframes colorShift {
    0% {
      border-color: $primary-very-light-blue;
      background: $neutral-white;
    }
    50% {
      border-color: $primary-medium-blue;
      background: lighten($primary-light-blue, 15%);
    }
    100% {
      border-color: $primary-very-light-blue;
      background: $neutral-white;
    }
  }

  &__not-loading-overlay {
    @include block-item(100%, auto);
    padding: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__not-loading-container {
    @include block-item(auto, 30vh);
    display: flex;
    background-color: $frosted-glass;
    border: .3125rem solid $neutral-white;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    box-shadow: $shadow-primary;
    transform: .3s ease-in;
    @include hover-raise-effect;

    @include tablet {
      @include block-item(100%, 35vh);
    }

    @include desktop {
      width: 55%;
    }
  }

  &__not-loading-svg {
    @include block-item(15rem, auto);
    margin-bottom: 1.5rem;

    @include tablet {
      width: 31.25rem;
    }
  }

  &__not-loading-text--center {
    color: $primary-button-dark-blue;
    font-family: $primary-font;
    font-weight: bold;
    background: $neutral-white;
    padding: .5rem;
    border-radius: .5rem;
    border: .1875rem solid $primary-very-light-blue;
    box-shadow: $shadow-primary;
    font-size: .85rem;
    line-height: 1.25rem;
    animation: bounce 3s infinite ease-in-out,
      colorShift 3s infinite ease-in-out;

    @include tablet {
      margin-bottom: .5rem;
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: scale(1);
      box-shadow: $shadow-primary;
    }
    50% {
      transform: scale(1.1);
      box-shadow: 0 .5rem 1.5rem rgba($neutral-black, .2);
    }
  }

  @keyframes colorShift {
    0% {
      border-color: $primary-very-light-blue;
      background: $neutral-white;
    }
    50% {
      border-color: $primary-medium-blue;
      background: lighten($primary-light-blue, 15%);
    }
    100% {
      border-color: $primary-very-light-blue;
      background: $neutral-white;
    }
  }

  &__scroll-container-results {
    border: .5rem solid $robot-blue;
    border-bottom: 1rem solid $robot-blue;
  }

  &__scroll-container-popular {
    border: .5rem solid $primary-medium-blue;
    border-bottom: 1rem solid $primary-medium-blue;
  }

  &__scroll-button {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background: rgba($primary-button-blue, 1);
    border: none;
    color: $frosted-glass;
    padding: .625rem;
    box-shadow: $shadow-septenary;
    border-radius: 50%;
    z-index: 2000;

    &:hover {
      background: $feedback-mint-light-green;
      color: $feedback-dark-green;
      box-shadow: $shadow-primary;
    }
  }

  /* For webkit browsers */
  &__scroll-container-popular,
  &__scroll-container-results {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: thin;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    background: $primary-pale-blue;
    width: 100%;
    border-radius: 1.05rem;
    scrollbar-color: $primary-medium-blue $primary-light-blue;

    /* Custom Scrollbar for WebKit Browsers */
    &::-webkit-scrollbar {
      height: .5rem;
      color: $primary-very-light-blue;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary-dark-blue;
      border-radius: .625rem;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: $primary-dark-blue;
    }

    &::-webkit-scrollbar-track {
      background-color: $primary-very-light-blue;
    }

    &::-webkit-scrollbar-corner {
      background-color: $primary-very-light-blue;
    }
  }

  /* For Firefox */
  .scroll-container-popular,
  .scroll-container-results {
    scrollbar-color: $robot-dark-blue $robot-blue;
    scrollbar-width: thin;
  }

  &__card {
    width: 100%;
    max-width: 10rem;
    border-radius: .75rem;
    box-shadow: $shadow-quaternary;
    transition: transform .3s;
    margin-right: 1rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include tablet {
      max-width: 12rem;
    }
  }

  &__card--popular {
    background-color: $neutral-white;
    max-width: 8rem;
    padding: .75rem;

    @include tablet {
      max-width: 9rem;
    }
  }

  &__nav-arrow {
    position: absolute;
    top: 40%;
    font-size: 2rem;
    color: $primary-very-light-blue;
    box-shadow: $shadow-tertiary;
    border: .1875rem solid $primary-medium-blue;
    padding: .25rem;
    background: $primary-darker-blue;
    border-radius: .5rem;
    transition: transform .3s;
    z-index: 2;

    &.left {
      left: .5rem;
    }

    &.right {
      right: .5rem;
    }

    &:hover {
      transform: scale(1.1);
      border: .0625rem solid $primary-very-light-blue;
      color: $primary-medium-blue;
      background: $primary-very-light-blue;
    }

    &:active {
      transform: scale(.9);
      border: .1875rem solid $primary-light-blue;
      color: $neutral-white;
      background: $primary-medium-blue;
    }
  }

  &__carousel {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    box-shadow: $shadow-secondary;
    border-radius: 1rem;
  }

  &__poster-container-results {
    position: relative;
    transition: transform .3s ease, box-shadow .3s ease;
  }

  &__poster-container-results {
    &:hover {
      transform: rotate(2deg) translateX(.3125rem);
    }

    &:active {
      transform: scale(.9);
    }
  }

  &__rating-container {
    @include block-item(2.3rem, 2.3rem);
    position: absolute;
    top: .6rem;
    right: .4rem;
    background: $primary-light-blue-gradient;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    box-shadow: $shadow-senary;
  }

  &__poster {
    @include block-item(100%, auto);
    display: block;
    border-bottom: .25rem solid $primary-light-blue;
    border-top: .25rem solid $primary-light-blue;
    border-radius: .5rem;
    box-shadow: $shadow-quaternary;
  }

  &__results-section {
    margin-top: 1rem;
    border: .5rem solid $frosted-glass;
    box-shadow: $shadow-quaternary;
    border-radius: 1.65rem;
    width: 90%;
    margin-bottom: 1.5rem;
    position: relative;
    text-align: center;

    @include tablet {
      width: 95%;
    }

    @include desktop {
      width: 95%;
    }

    @include large-desktop {
      width: 70%;
    }

    &::before {
      content: 'Search Results';
      position: absolute;
      top: -1.5rem;
      font-size: .95rem;
      left: 50%;
      transform: translateX(-50%);
      background: $neutral-white;
      color: $primary-button-blue;
      padding: .25rem .75rem;
      border-radius: .5rem;
      box-shadow: $shadow-secondary;
      text-transform: uppercase;
      font-weight: bold;
      text-shadow: $shadow-primary;
      font-family: $secondary-font;
      z-index: 1;
      border: .15rem solid $primary-pale-blue;
      border-bottom: .3rem solid $primary-pale-blue;

      @include tablet {
        font-size: 1.15rem;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    width: 100%;
    justify-items: center;

    @include large-mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }

    @include desktop {
      grid-template-columns: repeat(8, 2fr);
    }
  }

  &__card {
    width: 100%;
    max-width: 15rem;
    background: rgba(255, 255, 255, .25);
    box-shadow: 0 .25rem 1.875rem rgba($neutral-black, .1);
    backdrop-filter: blur(.3125rem);
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;

    &--popular {
      background: $neutral-white;
      border: .1875rem solid $primary-gradient-blue;
      box-shadow: $shadow-senary;
    }

    &--results {
      background: $primary-very-light-blue;
      border: .1875rem solid $neutral-white;
      box-shadow: $shadow-tertiary;
    }
  }

  &__title--popular,
  &__title--results {
    padding: .5rem;
    color: $primary-dark-blue;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    background: $frosted-glass;
    border-radius: .5rem;
    box-shadow: $shadow-tertiary;
  }

  &__title--results {
    border: .1875rem solid $neutral-white;
  }

  &__title--popular {
    border: .1875rem solid $primary-very-light-blue;
  }

  &__cast,
  &__known-for {
    font-size: .85rem;
    color: $primary-medium-blue;
    text-align: center;

    h4 {
      font-size: .9rem;
      margin-bottom: .25rem;
      font-weight: bold;
      font-family: $secondary-font;
    }

    ul {
      padding: 0;
      line-height: 1rem;
      list-style: none;

      li {
        margin: .25rem 0;
      }
    }
  }

  &__disclaimer-header {
    color: $robot-tablet-msg;
    text-shadow: $shadow-primary;
    margin-top: .5rem;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    line-height: 2.5rem;
    background: $frosted-glass;
    border-radius: 1rem;
    border: .25rem solid $robot-medium-blue;
    box-shadow: $shadow-primary;

    @include tablet {
      line-height: normal;
    }
  }

  &__disclaimer-content {
    background: rgba(255, 255, 255, .25);
    backdrop-filter: blur(.9375rem);
    padding: 2.5rem;
    border-radius: 1.25rem;
    max-width: 37.5rem;
    text-align: center;
    box-shadow: 0 .5rem 2rem rgba(31, 38, 135, .37);
    border: .0625rem solid rgba(255, 255, 255, .18);

    box-shadow: .5rem .5rem .9375rem rgba($neutral-black, .1),
      -.5rem -.5rem .9375rem rgba(255, 255, 255, .7);
  }

  &__disclaimer-copy {
    line-height: 1.1rem;
    font-size: .85rem;
    color: rgba(255, 255, 255, .8);
    margin-bottom: 1.5rem;

    @include tablet {
      line-height: 1.5rem;
      font-size: 1.2rem;
    }
  }

  &__disclaimer-note {
    color: $robot-medium-blue;
    margin-top: .75rem;
    font-size: .65rem;
    line-height: .85rem;

    @include tablet {
      font-size: .75rem;
      line-height: 1rem;
    }
  }

  &__disclaimer-close {
    background: $neutral-white;
    border: none;
    font-size: 1rem;
    padding: .5rem 1rem;
    color: #555;
    border-radius: 1.875rem;
    box-shadow: .25rem .25rem .5rem rgba($neutral-black, .1),
      -.25rem -.25rem .5rem rgba(255, 255, 255, .6);
    transition: all .2s ease;

    &:hover {
      color: $robot-tablet-msg;
      background: rgba(255, 255, 255, .85);
      box-shadow: .375rem .375rem .75rem rgba($neutral-black, .2),
        -.375rem -.375rem .75rem rgba(255, 255, 255, .5);
      transform: translateY(-.125rem);
    }

    &:active {
      color: $robot-medium-blue;
      background: #e0e0e0;
      box-shadow: inset .25rem .25rem .5rem rgba($neutral-black, .2),
        inset -.25rem -.25rem .5rem rgba(255, 255, 255, .5);
      transform: translateY(.125rem);
    }

    &:focus {
      outline: none;
    }
  }

  &__disclaimer-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($neutral-black, .5);
    backdrop-filter: blur(.5rem);
    z-index: 1000;
  }

  &__stop-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: .5rem;

    @include tablet {
      gap: 0;
    }
  }

  &__more-button {
    margin-top: 2rem;
    padding: .75rem 2rem;
    background-color: $primary-button-blue;
    color: $neutral-white;
    border-radius: 2rem;
    border: none;
    transition: background-color .3s, transform .3s;

    &:hover {
      background-color: $primary-medium-blue;
      transform: scale(1.05);
    }

    &:active {
      background-color: $primary-dark-blue;
      transform: scale(.95);
    }
  }

  &__no-results {
    color: $primary-dark-blue;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 2rem;
  }

  &__button {
    box-shadow: inset .25rem .25rem .5rem rgba($neutral-black, .2),
      inset -.25rem -.25rem .5rem rgba(255, 255, 255, .7);
    border-radius: .75rem;
    background: #e0e0e0;
    transition: all .3s ease;
    color: $robot-dark-blue;

    &:hover {
      transform: scale(1.05);
      color: $neutral-white;
    }

    &:active {
      box-shadow: inset .375rem .375rem .75rem rgba($neutral-black, .2),
        inset -.375rem -.375rem .75rem rgba(255, 255, 255, .7);
      transform: scale(.95);
      color: $robot-dark-blue;
    }
  }
}