@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.next-search {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    width: 100%;

    @include tablet {
      width: 80%;
    }

    @include desktop {
      width: 60%;
    }
  }

  &__input {
    flex-grow: 1;
    padding: .5rem 1rem;
    border-radius: 2.5rem;
    background-color: $primary-very-light-blue;
    backdrop-filter: blur(.625rem);
    box-shadow: $shadow-quaternary;
    border: .25rem solid rgba(255, 255, 255, .7);
    outline: none;
    color: $primary-dark-blue;
    font-size: 1rem;
    font-family: $primary-font;

    &::placeholder {
      color: $neutral-light-grey;
    }

    &:focus {
      background-color: $neutral-white;
      border: .25rem solid $primary-medium-blue;
      box-shadow: $shadow-septenary;
    }
  }

  &__button {
    margin-left: .5rem;
    padding: .5rem 1rem;
    background-color: $primary-button-blue;
    color: $neutral-white;
    border-radius: 2.5rem;
    border: none;
    cursor: pointer;
    transition: background-color .3s, transform .3s;

    &:hover {
      background-color: $primary-medium-blue;
      transform: scale(1.05);
    }

    &:active {
      background-color: $primary-dark-blue;
      transform: scale(.95);
    }

    @include tablet {
      padding: .75rem 1.5rem;
    }
  }

  &__popular-section {
    width: 100%;
    margin-bottom: 2rem;

    @include tablet {
      width: 90%;
    }

    @include desktop {
      width: 90%;
    }

    @include large-desktop {
        width: 60%;
    }
  }

  &__section-title {
    margin-bottom: 1rem;
    color: $primary-dark-blue;
    font-size: 1.5rem;
    font-family: $primary-font;
    font-weight: bold;
    text-align: center;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

    .next-search__tab {
      margin: 0 .5rem;
      padding: .5rem 1rem;
      background-color: $primary-very-light-blue;
      color: $primary-dark-blue;
      border-radius: 1.5rem;
      border: none;
      cursor: pointer;
      transition: background-color .3s, transform .3s;

      &:hover {
        background-color: $primary-medium-blue;
        color: $neutral-white;
      }

      &:active {
        background-color: $primary-dark-blue;
        transform: scale(.95);
      }

      &--active {
        background-color: $primary-button-blue;
        color: $neutral-white;
      }
    }
  }

  &__carousel {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;

    .next-search__scroll-container {
      display: flex;
      overflow-x: scroll; /* Change to scroll */
      scrollbar-width: thin; /* Make scrollbar visible */
      -ms-overflow-style: auto; /* For Internet Explorer and Edge */
      scroll-behavior: smooth;
      width: 100%;
    }

    .next-search__card {
      width: 100%;
      max-width: 8rem; /* Smaller card size */
      background-color: $neutral-white;
      border-radius: .75rem;
      box-shadow: $shadow-quaternary;
      transition: transform .3s;
      margin-right: 1rem;
      flex-shrink: 0;

      &:hover {
        transform: scale(1.05);
      }

      @include tablet {
        max-width: 10rem;
      }
    }

    .next-search__nav-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2rem;
      color: $primary-dark-blue;
      cursor: pointer;
      z-index: 2;

      &.left {
        left: 0.5rem;
      }

      &.right {
        right: 0.5rem;
      }
    }
  }

  &__poster {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: .25rem solid $primary-light-blue;
  }

  &__title {
    padding: .5rem;
    color: $primary-dark-blue;
    font-size: 0.9rem; /* Adjust font size for smaller cards */
    text-align: center;

    @include tablet {
      font-size: 1rem;
    }
  }

  &__results-section {
    width: 100%;
    margin-top: 2rem;

    @include tablet {
      width: 80%;
    }

    @include desktop {
      width: 60%;
    }
  }

  &__no-results {
    color: $primary-dark-blue;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 2rem;
  }
}