@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.next-search {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    width: 100%;

    @include tablet {
      width: 80%;
    }

    @include desktop {
      width: 60%;
    }
  }

  &__input {
    flex-grow: 1;
    padding: .5rem 1rem;
    border-radius: 2.5rem;
    background-color: $primary-very-light-blue;
    backdrop-filter: blur(.625rem);
    box-shadow: $shadow-quaternary;
    border: .25rem solid rgba(255, 255, 255, .7);
    outline: none;
    color: $primary-dark-blue;
    font-size: 1rem;
    font-family: $primary-font;

    &::placeholder {
      color: $neutral-light-grey;
    }

    &:focus {
      background-color: $neutral-white;
      border: .25rem solid $primary-medium-blue;
      box-shadow: $shadow-septenary;
    }
  }

  &__button {
    margin-left: .5rem;
    padding: .5rem 1rem;
    background-color: $primary-button-blue;
    color: $neutral-white;
    border-radius: 2.5rem;
    border: none;
    cursor: pointer;
    transition: background-color .3s, transform .3s;

    &:hover {
      background-color: $primary-medium-blue;
      transform: scale(1.05);
    }

    &:active {
      background-color: $primary-dark-blue;
      transform: scale(.95);
    }

    @include tablet {
      padding: .75rem 1.5rem;
    }
  }

  &__popular-section {
    width: 100%;
    margin-bottom: 2rem;

    @include tablet {
      width: 90%;
    }

    @include desktop {
      width: 90%;
    }

    @include large-desktop {
      width: 60%;
    }
  }

  &__section-title {
    margin-bottom: 1rem;
    color: $primary-dark-blue;
    font-size: 1.5rem;
    font-family: $primary-font;
    font-weight: bold;
    text-align: center;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

    .next-search__tab {
      margin: 0 .5rem;
      padding: .5rem 1rem;
      background-color: $primary-very-light-blue;
      color: $primary-dark-blue;
      border-radius: 1.5rem;
      border: none;
      cursor: pointer;
      transition: background-color .3s, transform .3s;

      &:hover {
        background-color: $primary-medium-blue;
        color: $neutral-white;
      }

      &:active {
        background-color: $primary-dark-blue;
        transform: scale(.95);
      }

      &--active {
        background-color: $primary-button-blue;
        color: $neutral-white;
      }
    }
  }

  &__carousel {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;

    .next-search__scroll-container {
      display: flex;
      overflow-x: scroll;
      scrollbar-width: thin;
      -ms-overflow-style: auto;
      scroll-behavior: smooth;
      width: 100%;
    }

    .next-search__card {
      width: 100%;
      max-width: 8rem;
      background-color: $neutral-white;
      border-radius: .75rem;
      box-shadow: $shadow-quaternary;
      transition: transform .3s;
      margin-right: 1rem;
      flex-shrink: 0;

      &:hover {
        transform: scale(1.05);
      }

      @include tablet {
        max-width: 10rem;
      }
    }

    .next-search__nav-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2rem;
      color: $primary-dark-blue;
      cursor: pointer;
      z-index: 2;

      &.left {
        left: 0.5rem;
      }

      &.right {
        right: 0.5rem;
      }
    }
  }

  &__poster {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: .25rem solid $primary-light-blue;
  }

  &__title {
    padding: .5rem;
    color: $primary-dark-blue;
    font-size: 0.9rem;
    text-align: center;

    @include tablet {
      font-size: 1rem;
    }
  }

  &__results-section {
    width: 100%;
    margin-top: 2rem;

    @include tablet {
      width: 80%;
    }

    @include desktop {
      width: 95%;
    }

    @include large-desktop {
      width: 70%;
    }

    .next-search__grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1.5rem;
      width: 100%;
      justify-items: center;

      @include large-mobile {
        grid-template-columns: repeat(2, 1fr);
      }

      @include tablet {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
      }

      @include desktop {
        grid-template-columns: repeat(8, 2fr);
      }
    }

    .next-search__card {
      width: 100%;
      max-width: 15rem;
      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      border-radius: 1rem;
      padding: 1rem;
      transition: transform .3s;
      position: relative;
      overflow: hidden;

      &:hover {
        transform: scale(1.05);
      }

      &::before {
        content: '';
        position: absolute;
        top: -20%;
        left: -20%;
        width: 140%;
        height: 140%;
        background: linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
        transform: rotate(45deg);
        transition: all 0.5s ease;
      }

      &:hover::before {
        transform: rotate(0deg);
      }

      .next-search__poster {
        width: 100%;
        height: auto;
        border-radius: .75rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: .75rem;
      }

      .next-search__title {
        color: $primary-dark-blue;
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
        margin-bottom: .5rem;
      }

      .next-search__cast,
      .next-search__known-for {
        font-size: .85rem;
        color: $neutral-dark-grey;
        text-align: center;

        h4 {
          font-size: .9rem;
          margin-bottom: .25rem;
          font-weight: bold;
        }

        ul {
          padding: 0;
          list-style: none;

          li {
            margin: .25rem 0;
          }
        }
      }
    }
  }

  &__more-button {
    margin-top: 2rem;
    padding: .75rem 2rem;
    background-color: $primary-button-blue;
    color: $neutral-white;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    transition: background-color .3s, transform .3s;

    &:hover {
      background-color: $primary-medium-blue;
      transform: scale(1.05);
    }

    &:active {
      background-color: $primary-dark-blue;
      transform: scale(.95);
    }
  }

  &__no-results {
    color: $primary-dark-blue;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 2rem;
  }
}