@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.next-search {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    width: 100%;

    @include tablet {
      width: 80%;
    }

    @include desktop {
      width: 60%;
    }
  }

  &__input {
    flex-grow: 1;
    padding: .5rem 1rem;
    border-radius: 2.5rem;
    background-color: $primary-very-light-blue;
    backdrop-filter: blur(.625rem);
    box-shadow: $shadow-quaternary;
    border: .25rem solid rgba(255, 255, 255, .7);
    outline: none;
    color: $primary-dark-blue;
    font-size: 1rem;
    font-family: $primary-font;

    &::placeholder {
      color: $neutral-light-grey;
    }

    &:focus {
      background-color: $neutral-white;
      border: .25rem solid $primary-medium-blue;
      box-shadow: $shadow-septenary;
    }
  }

  &__button {
    margin-left: .5rem;
    padding: .5rem 1rem;
    background-color: $primary-button-blue;
    color: $neutral-white;
    border-radius: 2.5rem;
    border: none;
    cursor: pointer;
    transition: background-color .3s, transform .3s;

    &:hover {
      background-color: $primary-medium-blue;
      transform: scale(1.05);
    }

    &:active {
      background-color: $primary-dark-blue;
      transform: scale(.95);
    }

    @include tablet {
      padding: .75rem 1.5rem;
    }
  }

  &__popular-section {
    border: .5rem solid $frosted-glass;
    background: $primary-light-blue;
    box-shadow: $shadow-quaternary;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 2rem;

    @include tablet {
      width: 90%;
    }

    @include desktop {
      width: 90%;
    }

    @include large-desktop {
      width: 60%;
    }
  }

  &__section-title {
    margin-bottom: 1rem;
    color: $primary-pale-blue;
    text-shadow: $shadow-primary;
    font-size: .85rem;
    font-family: $secondary-font;
    text-align: center;
    margin-top: .5rem;

    @include tablet {
      font-size: 2rem;
    }
  }

  &__tabs-container {
    display: flex;
    justify-content: center;
    background: $primary-pale-blue;
    border-radius: 1.5rem;
    border: 3px solid $neutral-white;
    box-shadow: $shadow-tertiary;
  }

  &__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    width: 100%;

    .next-search__tab {
      margin: 0 .5rem;
      padding: .5rem 1rem;
      background-color: $primary-very-light-blue;
      color: $primary-dark-blue;
      border-radius: 1.5rem;
      border: none;
      cursor: pointer;
      box-shadow: $shadow-tertiary;
      transition: background-color .3s, transform .3s;

      &:hover {
        background-color: $primary-medium-blue;
        color: $neutral-white;
        transform: scale(1.1);
        font-weight: bold;
      }

      &:active {
        background-color: $primary-dark-blue;
        transform: scale(.95);
        font-weight: normal;
      }

      &--active {
        background-color: $primary-button-blue;
        color: $neutral-white;
        text-shadow: $shadow-primary;
        border: 2px solid $neutral-white;
        box-shadow: $shadow-senary;
      }
    }
  }

  &__scroll-container {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: thin;
    -ms-overflow-style: auto;
    scroll-behavior: smooth;
    background: $primary-very-light-blue;
    width: 100%;
    border: .5rem solid $primary-pale-blue;
    border-radius: 1rem;
  }

  &__card {
    width: 100%;
    max-width: 10rem;
    background-color: $neutral-white;
    border-radius: .75rem;
    box-shadow: $shadow-quaternary;
    transition: transform .3s;
    margin-right: 1rem;
    flex-shrink: 0;

    &:hover {
      transform: scale(1.05);
    }

    @include tablet {
      max-width: 12rem;
    }
  }

  &__card--popular {
    max-width: 8rem;
    padding: 0.75rem;

    @include tablet {
      max-width: 9rem;
    }
  }

  &__nav-arrow {
    position: absolute;
    top: 35%;
    font-size: 2rem;
    color: $primary-very-light-blue;
    box-shadow: $shadow-tertiary;
    border: 3px solid $primary-medium-blue;
    padding: .25rem;
    background: $frosted-glass;
    border-radius: .5rem;
    cursor: pointer;
    transition: transform .3s;
    z-index: 2;

    &.left {
      left: 0.5rem;
    }

    &.right {
      right: 0.5rem;
    }

    &:hover {
      transform: scale(1.1);
      border: 1px solid $primary-very-light-blue;
      color: $primary-medium-blue;
      background: $primary-very-light-blue;
    }

    &:active {
      transform: scale(.9);
      border: 3px solid $primary-light-blue;
      color: $neutral-white;
      background: $primary-medium-blue;
    }
  }

  &__carousel {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    box-shadow: $shadow-secondary;
    border-radius: 1rem;
  }

  &__poster {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: .25rem solid $primary-light-blue;
    border-top: .25rem solid $primary-light-blue;
    border-radius: .5rem;
    box-shadow: $shadow-quaternary;

    &--results {
      max-height: 15rem;
      margin-bottom: 1rem;
    }
  }

  &__title {
    padding: .5rem;
    color: $primary-dark-blue;
    font-size: 0.9rem;
    text-align: center;

    @include tablet {
      font-size: 1rem;
    }
  }

  &__results-section {
    width: 100%;
    margin-top: 2rem;

    @include tablet {
      width: 80%;
    }

    @include desktop {
      width: 95%;
    }

    @include large-desktop {
      width: 70%;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    width: 100%;
    justify-items: center;

    @include large-mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    @include tablet {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }

    @include desktop {
      grid-template-columns: repeat(8, 2fr);
    }
  }

  &__card {
    width: 100%;
    max-width: 15rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    padding: 1rem;
    transition: transform .3s;
    position: relative;
    overflow: hidden;

    &:hover {
      transform: scale(1.05);
    }

    &::before {
      content: '';
      position: absolute;
      top: -20%;
      left: -20%;
      width: 140%;
      height: 140%;
      background: linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
      transform: rotate(45deg);
      transition: all 0.5s ease;
    }

    &:hover::before {
      transform: rotate(0deg);
    }
  }

  &__poster {
    width: 100%;
    height: auto;
    border-radius: .75rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: .75rem;
  }

  &__title {
    color: $primary-dark-blue;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: .5rem;
  }

  &__cast,
  &__known-for {
    font-size: .85rem;
    color: $neutral-dark-grey;
    text-align: center;

    h4 {
      font-size: .9rem;
      margin-bottom: .25rem;
      font-weight: bold;
    }

    ul {
      padding: 0;
      list-style: none;

      li {
        margin: .25rem 0;
      }
    }
  }

  &__more-button {
    margin-top: 2rem;
    padding: .75rem 2rem;
    background-color: $primary-button-blue;
    color: $neutral-white;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    transition: background-color .3s, transform .3s;

    &:hover {
      background-color: $primary-medium-blue;
      transform: scale(1.05);
    }

    &:active {
      background-color: $primary-dark-blue;
      transform: scale(.95);
    }
  }

  &__no-results {
    color: $primary-dark-blue;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 2rem;
  }
}