// LoginPage.scss

@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.login {
  position: relative;
  min-height: 100vh;

  &__hero {
    background: $primary-darker-blue-gradient;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;

    @include tablet {
        height: 50vh;
    }
  }

  &__title {
    font-size: 2.5rem;
    color: $neutral-white;
    text-align: center;
    margin-top: -7rem; 
    font-family: $primary-font;
    font-weight: 400;
    text-shadow: $shadow-primary;
    line-height: 1.5rem;

    @include large-mobile {
      margin-top: -10rem; 
      font-size: 2.75rem;
      line-height: 1.85rem;
    }

    @include tablet {
      font-size: 3rem;
      line-height: 3rem;
    }

    @include desktop {
      font-size: 3.4375rem;
      width: 28rem;
      line-height: 4.2062rem;
    }
  }

  &__bg {
    background: url('../../assets/images/nextstream-bg.jpg') center center / cover no-repeat;
    height: 50vh;
    width: 100%;
    position: absolute;
    top: 50vh;
    z-index: 0;
  }

  &__remember-txt {
    color: $neutral-white;
    font-size: .65rem;

    @include tablet {
      font-size: .85rem;
    }
  }

  &__forgot-password-link {
    cursor: pointer;
    color: $primary-very-light-blue;
    transition: transform 0.1s ease, background-color 0.1s ease, color 0.1s ease;

    &:hover {
      background-color: $primary-dark-blue;
      color: $neutral-white;
      padding: 0.1rem 0.5rem;
      border-radius: 0.25rem;
    }

    &:active {
      transform: scale(0.85);
      background-color: $primary-light-blue;
      color: $neutral-black;
      padding: 0.1rem 0.5rem;
      border-radius: 0.25rem;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25vh; 
    width: 100%;
    z-index: 2;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
    margin-top: 4rem;

    @include tablet {
      margin-top: 0;
      flex-direction: column;
    }

    @include desktop {
      flex-direction: row;
      gap: 3rem; 
    }
  }

  &__content-card {
    background-color: $primary-dark-blue;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    border-radius: 1rem;
    box-shadow: $shadow-primary;
    margin-bottom: 2rem; 
    border: .85rem solid;
    @include animateBorder;
    @include borderAnimation;

    @include desktop {
      margin-bottom: 0;
    }
  }
  
  &__btn-create-account-wrapper {
    @include block-item(9.625rem, 3.375rem);
    position: absolute;
    bottom: .5rem; 
    transform: translateX(1%);
    z-index: 1;

    @include tablet {
        bottom: 21.5rem;
    }

    @include desktop {
        bottom: -1.5rem; 
    }
  
    &:hover .login__btn-create-account {
      background: linear-gradient(180deg, rgb(238, 244, 252) 0%, rgb(64, 146, 255) 100%);
      animation: shimmer 0.5s linear infinite;
    }

    &:active {
        transform: scale(0.95);
    }
  }
  
  &__btn-create-account-bg {
    @include block-item(9.625rem, 3.1875rem);
    background: linear-gradient(180deg, rgb(238, 244, 252) 0%, rgb(64, 146, 255) 100%);
    border-radius: .75rem;
    box-shadow: $shadow-quinary;
    position: absolute;
    top: .1875rem;
  }
  
  &__btn-create-account {
    @include block-item(9.25rem, 2.875rem);
    align-items: center;
    background-color: $neutral-white;
    border: 2px solid;
    border-color: $primary-very-light-blue;
    border-radius: .75rem;
    box-shadow: $shadow-quinary;
    display: flex;
    justify-content: center;
    padding: .75rem 2rem;
    position: absolute;
    transition: background 0.3s ease;
    cursor: pointer;

    &:hover .login__btn-create-account-txt {
        color: $primary-darker-blue;
      }
    
    &:active {
        transform: scale(0.95);
    }
  }
  
  &__btn-create-account-txt {
    font-family: $primary-font;
    font-size: 1rem;
    letter-spacing: -0.05rem;
    position: relative;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        color: $primary-darker-blue;
    }

    &:visited {
        color: $primary-darker-blue; 
    }
  }


 &__btn-create-account-container:visited {
    color: $primary-darker-blue; 
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
  &__image-card {
    display: none;

    @include tablet {
      display: block;
      max-width: 400px;
      width: 100%;
      margin-bottom: 2rem; 
    }

    @include desktop {
      display: block;
      max-width: 400px;
      width: 100%;
      align-self: center; 
    }

    img {
      width: 100%;
      border-radius: 1rem;
      box-shadow: $shadow-primary;
    }
  }

  &__input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    width: 100%;
  }

  &__input-group {
    position: relative;
    width: 100%;
  }

  &__input {
    font: $primary-font;
    width: 100%;
    padding: 1rem;
    border: 2px solid $primary-light-blue;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-shadow: $shadow-primary;
    background: $neutral-white;
    color: $neutral-black;

    &:focus,
    &:not(:placeholder-shown) {
      background-color: $primary-very-light-blue;
      color: $primary-medium-blue;

      & + .login__label {
        top: -.85rem;
        font-size: 1rem;
        font: $secondary-font;
        background-color: $primary-medium-blue;
        border: 1px solid $primary-light-blue;
        color: $neutral-white;
      }

      &::placeholder {
        color: $primary-light-blue;
      }
    }

    &:not(:focus):placeholder-shown {
      &::placeholder {
        color: transparent;
      }
    }
  }

  &__label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: $primary-light-blue;
    border-radius: .35rem;
    padding: 0 0.5rem;
    box-shadow: $shadow-tertiary;
    color: $neutral-light-grey;
    font-size: 1rem;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  &__input-group--password {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__password-toggle {
    position: absolute;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;

    .login__password-toggle-icon {
      width: 24px;
      height: 24px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      background: linear-gradient(145deg, #e6e6e6, #ffffff);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.1s ease;

      img {
        width: 16px;
        height: 16px;
      }
    }

    &:active .login__password-toggle-icon {
      transform: scale(0.9);
    }
  }

  &__checkbox {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $primary-medium-blue;

    .login__checkbox-box {
      cursor: pointer;
      box-shadow: $shadow-primary;
      border-radius: .25rem;
      border: 1px solid $primary-medium-blue;
      transition: transform 0.1s ease;
    }

    .login__checkbox-box:active {
      transform: scale(0.9);
    }
  }

  &__button-group {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__button {
    padding: 0.5rem 1.075rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: transform 0.1s ease;

    @include tablet {
        padding: .5rem 1.55rem;
    }

    &:active {
      transform: scale(0.95);
    }

    &--previous {
      @include block-item (6.8119rem, 3.5rem);
      background: $neutral-light-grey;
      color: $primary-darker-blue;
      border: 1.5px solid $neutral-white;
      box-shadow: $shadow-primary;
      position: relative;
      overflow: hidden;
      font-size: .85rem;

      @include tablet {
        font-size: 1rem;
        @include block-item (9rem, 4.5rem);
      }

      &:hover {
        background: $primary-medium-blue;
        color: $neutral-white;

        .login__button-icon {
          filter: invert(100%);
        }
      }

      &:active {
        .login__button-icon {
          filter: invert(100%);
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 200%;
        height: 100%;
        background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent);
        transition: left 0.5s;
      }

      &:hover::before {
        left: 100%;
      }

      .previous__button-icon {
        @include block-item(.85rem, .85rem);

            @include tablet {
                @include block-item(1rem, 1rem);
            }
        }
    }

    &--signin {
      @include block-item (6.8119rem, 3.5rem);
      background: $button-dark-gradient;
      color: $neutral-white;
      box-shadow: $shadow-primary;
      position: relative;
      overflow: hidden;
      font-size: .85rem;
      
      @include tablet {
        @include block-item (9rem, 4.5rem);
        font-size: 1rem;
      }

      &:hover {
        background: $primary-dark-blue;
        color: $neutral-white;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: -100%;
        width: 200%;
        height: 100%;
        background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.2), transparent);
        transition: right 0.5s;
      }

      &:hover::before {
        right: 100%;
      }

      .login__button-icon {
         @include block-item(1rem, 1rem);

            @include tablet {
                @include block-item(1.5rem, 1.5rem);
            }
        }
    }
  }
}