// Import partials
@use "./partials/colors" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "./partials/dark-mode" as *;
@use "./partials/trans-mode" as *;
@use "./partials/cloud-mode" as *;
@use "./partials/star-mode" as *;
@use "./partials/sun-mode" as *;

@mixin borderGlowLogo() {
  @keyframes borderGlowLogo {
    0% {
      border-color: $primary-dark-blue;
    }
    25% {
      border-color: $primary-medium-blue;
    }
    50% {
      border-color: $primary-light-blue;
    }
    75% {
      border-color: $primary-very-light-blue;
    }
    100% {
      border-color: $primary-cyan;
    }
  }

  animation: borderGlowLogo 3s infinite alternate;
}

@mixin animateBorder() {
  @keyframes animateBorder {
    0% {
      border-color: $primary-dark-blue;
    }
    25% {
      border-color: $primary-medium-blue;
    }
    35% {
      border-color: $primary-light-blue;
    }
    50% {
      border-color: $primary-very-light-blue;
    }
    75% {
      border-color: $primary-pale-blue;
    }
    85% {
    border-color: $primary-light-cyan;
    }
    100% {
      border-color: $primary-cyan;
    }
  }
}

// Mixin for Animated Border - Logo
@mixin borderAnimation {
  animation: animateBorder 10s infinite alternate;
}

// Button Mixins
@mixin btn-main-container {
  all: unset;
  align-items: center;
  background: $button-dark-gradient;
  border-radius: .75rem;
  box-shadow: $shadow-primary;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  padding: .75rem 2rem;
  cursor: pointer;

  &:hover {
    border: none;
    box-shadow: 0 0 15px $primary-light-blue; 
  }

  &:active {
    border: 1.5px solid $neutral-white;
    transition: transform 0.2s ease;
    transform: scale(0.95);
  }
}

@mixin btn-small {
  all: unset;
  align-items: center;
  background: $button-dark-gradient;
  border-radius: .75rem;
  box-shadow: $shadow-primary;
  box-sizing: border-box;
  justify-content: center;
  padding: .75rem 1.5rem;
  cursor: pointer;

  &:hover {
    border: none;
    box-shadow: 0 0 15px $primary-light-blue; 
  }

  &:active {
    border: 1.5px solid $neutral-white;
    transition: transform 0.2s ease;
    transform: scale(0.95);
  }
}

@mixin btn-mobile {
  all: unset;
  align-items: center;
  background: $button-dark-gradient;
  border-radius: .75rem;
  box-shadow: $shadow-primary;
  box-sizing: border-box;
  justify-content: center;
  padding: .85rem 1rem;
  cursor: pointer;

  &:hover {
    border: none;
    box-shadow: 0 0 15px $primary-light-blue; 
  }

  &:active {
    border: 1.5px solid $neutral-white;
    transition: transform 0.2s ease;
    transform: scale(0.95);
  }
}

@mixin btn-txt {
  color: $neutral-white;
  font-family: $primary-font;
  font-size: 1rem;
  font-weight: 500;
}

@mixin btn-txt-sm {
  color: $neutral-white;
  font-family: $primary-font;
  font-size: .75rem;
  font-weight: 400;
}

@mixin btn-secondary-container {
  all: unset;
  align-items: center;
  background-color: $primary-pale-blue;
  border-radius: .75rem;
  box-shadow: $shadow-primary;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  padding: .75rem 2rem;
  cursor: pointer;

  &:hover {
    border: none;
    box-shadow: 0 0 15px $primary-light-blue; 
  }

  &:active {
    border: 1.5px solid $primary-cyan;
    transition: transform 0.2s ease;
    transform: scale(0.95);
  }
}

@mixin btn-secondary-txt {
  color: $base-darker-blue;
  font-family: $primary-font;
  font-size: 1rem;
  font-weight: 400;
}

// Glow keyframe
@keyframes glow {
  0% {
    text-shadow: 0 0 5px $primary-very-light-blue, 0 0 10px $primary-very-light-blue, 0 0 15px $primary-very-light-blue, 0 0 20px $primary-very-light-blue, 0 0 25px $primary-very-light-blue, 0 0 30px $primary-very-light-blue, 0 0 35px $primary-very-light-blue;
  }
  50% {
    text-shadow: 0 0 10px $neutral-white, 0 0 20px  $neutral-white, 0 0 30px $neutral-white, 0 0 40px  $neutral-white, 0 0 50px  $neutral-white, 0 0 60px  $neutral-white, 0 0 70px  $neutral-white;
  }
  100% {
    text-shadow: 0 0 5px $primary-very-light-blue, 0 0 10px $primary-very-light-blue, 0 0 15px $primary-very-light-blue, 0 0 20px $primary-very-light-blue, 0 0 25px $primary-very-light-blue, 0 0 30px $primary-very-light-blue, 0 0 35px $primary-very-light-blue;
  }
}

// Glow mixin
@mixin glow-animation {
  animation: glow 3s infinite;
}

// Pulsate animation
@mixin pulsate-animation($color: rgba(64, 146, 255, 0.5), $duration: 5s) {
  animation: pulsate $duration infinite;
  
  @keyframes pulsate {
    0% {
      box-shadow: 0 0 5px $color, 0 0 15px rgba(64, 146, 255, 0.2), 0 0 20px rgba(64, 146, 255, 0.1);
    }
    50% {
      box-shadow: 0 0 10px rgba(64, 146, 255, 0.7), 0 0 20px rgba(64, 146, 255, 0.3), 0 0 25px rgba(64, 146, 255, 0.2);
    }
    100% {
      box-shadow: 0 0 5px $color, 0 0 15px rgba(64, 146, 255, 0.2), 0 0 20px rgba(64, 146, 255, 0.1);
    }
  }
}

// Hover raise effect
@mixin hover-raise-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-7px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  }
}

@mixin hover-raise-effect-no-bg {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-7px);
  }
}

@mixin hover-raise-effect-nav {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-2.75px);
  }
}

@mixin hover-raise-effect-cards {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-9px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  }
}

@mixin animate-effect-footer {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:link,
  &:visited,
  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:hover {
    transform: translateY(-2px);
    font-weight: bold;
  }

  &:active {
    transform: scale(0.97);
  }
}

// Wavy Animated Background
@mixin animated-bg($base-height, $height-320px, $height-768px, $height-1280px, $height-1920px, $height-1921px) {
  width: 100%;
  height: $base-height;

  svg {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 320px) {
    height: $height-320px;
  }

  @media (min-width: 321px) and (max-width: 768px) {
    height: $height-768px;
  }

  @media (min-width: 769px) and (max-width: 1280px) {
    height: $height-1280px;
  }

  @media (min-width: 1281px) and (max-width: 1920px) {
    height: $height-1920px;
  }

  @media (min-width: 1921px) {
    height: $height-1921px;
  }
}

body, label {
  cursor: url('../assets/cursors/cursor-arrow-wh.svg'), auto;
}

/* Custom cursor for interactive elements */
button, a, .Link, img, [role="button"], [data-tooltip], [tabindex], input[type="checkbox"], input[type="text"], input[type="radio"], input[type="range"], input[type="button"], input[type="submit"], select, textarea {
  cursor: url('../assets/cursors/cursor-pointer-wh.svg'), pointer;
}

/* Ensure cursor changes on hover and active states */
button:hover, a:hover, .Link:hover, img:hover, [role="button"]:hover, [data-tooltip]:hover, [tabindex]:hover, input[type="checkbox"]:hover, input[type="text"]:hover, input[type="radio"]:hover, input[type="range"]:hover, input[type="button"]:hover, input[type="submit"]:hover, label:hover, select:hover, textarea:hover {
  cursor: url('../assets/cursors/cursor-pointer-wh.svg'), pointer;
}

/* Add for focus state if required */
button:focus, a:focus, .Link:focus, img:focus, [role="button"]:focus, [data-tooltip]:focus, [tabindex]:focus, input[type="checkbox"]:focus, input[type="text"]:focus, input[type="radio"]:focus, input[type="range"]:focus, input[type="button"]:focus, input[type="submit"]:focus, label:focus, select:focus, textarea:focus {
  cursor: url('../assets/cursors/cursor-pointer-wh.svg'), pointer;
}

/* Add for focus state if required */
input[type="text"]:active, input[type="text"]:valid, input[type="text"]:required, input[type="text"]:enabled {
  cursor: url('../assets/cursors/cursor-pointer-wh.svg'), pointer;
}

/* Dropdowns */
select, .dropdown, .ui-autocomplete, .browser-suggestion-list {
  cursor: url('../assets/cursors/cursor-pointer-wh.svg'), pointer;
}