@use "./partials/colors" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;

@mixin borderGlowLogo() {
  @keyframes borderGlowLogo {
    0% {
      border-color: $primary-dark-blue;
    }
    25% {
      border-color: $primary-medium-blue;
    }
    50% {
      border-color: $primary-light-blue;
    }
    75% {
      border-color: $primary-very-light-blue;
    }
    100% {
      border-color: $primary-cyan;
    }
  }

  animation: borderGlowLogo 3s infinite alternate;
}

@mixin animateBorder() {
  @keyframes animateBorder {
    0% {
      border-color: $primary-dark-blue;
    }
    25% {
      border-color: $primary-medium-blue;
    }
    35% {
      border-color: $primary-light-blue;
    }
    50% {
      border-color: $primary-very-light-blue;
    }
    75% {
      border-color: $primary-pale-blue;
    }
    85% {
    border-color: $primary-light-cyan;
    }
    100% {
      border-color: $primary-cyan;
    }
  }
}

@mixin borderAnimation {
  animation: animateBorder 10s infinite alternate;
}

@mixin btn-main-container {
  all: unset;
  align-items: center;
  background: $button-dark-gradient;
  border-radius: .75rem;
  box-shadow: $shadow-primary;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  padding: .75rem 2rem;
  cursor: pointer;

  &:hover {
    border: none;
    box-shadow: 0 0 15px $primary-light-blue; 
  }

  &:active {
    border: 1.5px solid $neutral-white;
    transition: transform 0.2s ease;
    transform: scale(0.95);
  }
}

@mixin btn-txt {
  color: $neutral-white;
  font-family: $primary-font;
  font-size: 1rem;
  font-weight: 500;
}

@mixin btn-secondary-container {
  all: unset;
  align-items: center;
  background-color: $primary-pale-blue;
  border-radius: .75rem;
  box-shadow: $shadow-primary;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  padding: .75rem 2rem;
  cursor: pointer;

  &:hover {
    border: none;
    box-shadow: 0 0 15px $primary-light-blue; 
  }

  &:active {
    border: 1.5px solid $primary-medium-blue;
    transition: transform 0.2s ease;
    transform: scale(0.95);
  }
}

@mixin btn-secondary-txt {
  color: $base-darker-blue;
  font-family: $primary-font;
  font-size: 1rem;
  font-weight: 400;
}