@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1.5rem;
    box-shadow: $shadow-quinary;
    position: relative;
    width: 150px;
    height: 150px;
    
}

.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: $neutral-white;
    border-radius: inherit; 
    animation: spin 5s linear infinite;
}

.loader-svg {
    width: 100px;
    height: 100px;
    border-radius: 1.25rem;
    border: 3px solid $frosted-glass;
    z-index: 2;
    animation: color-pulse 2s infinite, pulse 1.5s infinite;
}

@keyframes color-pulse {
    0% {
        fill: $primary-dark-blue;
    }
    14% {
        fill: $primary-medium-blue;
    }
    28% {
        fill: $primary-light-blue;
    }
    42% {
        fill: $primary-gradient-blue;
    }
    57% {
        fill: $primary-very-light-blue;
    }
    71% {
        fill: $neutral-white;
    }
    85% {
        fill: $primary-pale-blue;
    }
    100% {
        fill: $dark-mode-ice-blue;
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}